include ../../templates
.nano: .nano-content.padded
  .title: b Current Background
  .bgfit
      img.level-item(src="/backdrops/"+user.modules.bgID+".png").userbg#userbg
      -
        let ii2 = {
                theme:'is-ruby',
                classes:'fas fa-save',
                colA: '#ccc',
                colB: '#aaa',
                caption: 'SAVE',
                id: 'savebg'
                }
      +iconButton(ii2)
      
  br
  .title: b Background Inventory
  .flexboxi(style="height:auto;").inv_box.bgInvent
      if bgInv
        for i in bgInv
          .bg_icon_dash
            -if (i == 0)i="5zhr3HWlQB4OmyCBFyHbFuoIhxrZY6l6";
            -let filter = BGBASE.find(bg=>bg.code==i);
            a.bgpick: img(src="/backdrops/"+i+".png").is-vcentered
            //pre= filter
            
            img.this_rare(src="/images/tiers/"+(filter||{rarity:"C"}).rarity+".png").is-vcentered
      else
          .bg_icon_dash
              a.bgpick: img(src="/backdrops/5zhr3HWlQB4OmyCBFyHbFuoIhxrZY6l6.png").is-vcentered
              img.this_rare(src="/images/tiers/C.png").is-vcentered
  br
  br