section:focus{
  border: none
}
.sticker-sel-span{
  color: var(--text-bold);
  opacity: .6;
}
.colorpicker {
    margin: auto;
  }
  
  .main-profie {
    max-width: 1400px;
  }
  
  .backblur {
    background-color: var(--bg-darkest);
    opacity: .9;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1);
  }
  
  @media screen and (max-width: 500px) {
    .backblur {
      backdrop-filter: blur(3px);
    }
  }
  #select-bg .vs--searchable, #plx-filter .selector > input {
    border-radius: 8px;
    background: white;
    transition: border-radius 500ms ease;
    border: none;
  }
  
  #select-bg {
    margin: 10px;
    max-width: 90vw;
  }
  #select-bg .vs--searchable.vs--open {
    border-radius: 8px 8px 0 0;
  }
  #select-bg ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  #select-bg ul:after {
    content: "";
    flex-grow: 5;
  }
  #select-bg ul li {
    flex: 1 0 20%;
    min-height: 100px;
    min-width: 200px;
    text-align: center !important;
  }
  #select-bg ul li img {
    height: auto;
    margin: auto;
  }
  #select-bg .bg-sel-opt {
    position: relative;
    background-image: url("https://i.gifer.com/ZlXo.gif");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
  }
  #select-bg .bg-sel-opt .bgface {
    border-radius: 4px;
    border-radius: 4px;
min-block-size: 100px;
min-width: 210px;
min-height: 100px;
background-size: contain;
background-repeat: no-repeat;
  }
  
  @media screen and (max-width: 600px) {
    #select-bg ul li {
      min-width: 150px;
    }
  }
  .plx-tab-dash li a {
    padding: 0 18px 4px 18px;
  }
  .plx-tab-dash .plx-active a {
    color: var(--accent-color);
    font-weight: 600;
    border-bottom: solid 2px var(--accent-color);
  }
  
  .numeric-divider {
    border-right: solid 2px #AAB8;
    max-height: 3.5rem;
  }
  
  .plx-dash-numeric {
    //margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
  }
  .plx-dash-numeric .num {
    font-family: "Panton";
    font-style: italic;
    font-size: 2rem;
    line-height: 2rem;
    color: #85F;
  }
  
  @media screen and (max-width: 400px) {
    .plx-dash-numeric .num {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 900px) {
    .plx-dash-numeric {
      flex-basis: 33%;
    }
  }
  .numeric-large {
    padding: 20px;
    border-radius: 100%;
    text-align: center;
  }
  .numeric-large .num {
    line-height: 6.5rem;
    font-size: 8rem;
    font-family: "Panton Black","Panton";
    font-weight:900;
  }
  .numeric-large .name {
    letter-spacing: 5px;
  }
  
  @media screen and (max-width: 400px) {
    .numeric-large {
      font-size: 4rem;
      line-height: 3.5rem;
      margin-top: -1rem;
    }
  }
  @media screen and (max-width: 800px) {
    .main-profile {
      flex-direction: column;
      text-align: center;
    }
  }
  .main-profile .avicontainer {
    position: relative;
    max-width: 300px;
  }
  .main-profile .avatar {
    transform: scale(0.7);
  }
  .main-profile #frame {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(5%);
  }
  .main-profile #frame .disengaged {
    opacity: 0.1;
  }
  .main-profile #frame:hover {
    cursor: pointer;
  }
  .main-profile .info {
    padding: 0 40px 0 20px;
  }
  .main-profile .info .name {
    font-size: 28pt;
    font-family: Panton;
  }
  .main-profile .info .name .discrimin {
    font-size: 18pt;
    opacity: 0.5;
  }
  .info > *::placeholder{
      /*! opacity: .2; */
      font-size: 12pt;
      font-style: italic;
  }
  .main-profile .info .tagline {
    font-size: 16pt;
    color: var(--text-main);
    background: var(--bg-darkest);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: none;
  }
  .main-profile .info .about {
    border: none;
    font-style: italic;
    font-family: inherit;
    color: var(--text-dim-mid);
    margin-top: 8px;
    background: var(--bg-darkest);
    border-radius: 10px;
    padding: 10px;
    height: 4.5rem;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .main-profile .avicontainer {
      width: 20vh;
    }
  }
  @media screen and (max-width: 800px) {
    .main-profile .avicontainer {
      width: 40vw;
    }
    .main-profile .avicontainer > * {
      width: 40vw;
    }
  }
  @media screen and (max-width: 400px) {
    .main-profile .info .tagline {
      font-size: 10pt;
      padding: 8px;
    }
  }
  @media screen and (max-width: 400px) {
    .main-profile .info .about {
      font-size: 12pt;
      padding: 8px;
    }
  }
  .dash-pill {
    padding: 12px 20px 15px;
    margin: 20px 10px;
    min-width: 40%;
    border-left: solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 200px;
    border-radius: 5px 8px 8px 5px;
    position: relative;
  }
  .dash-pill .background-thumb {
    height: 105px;
    width: 200px;
    display: block;
    background-size: cover;
    float: right;
    margin: 5px 10px;
    border-radius: 10px;
  }

#colorpicker{
  margin: auto 10px 20px 10px;  
}

#select-sticker input{
    color: rgb(211, 224, 236)
}
#sticker-bar .c2{
    position:absolute ;
    right: 0
}
  .dash-pill .sticker-thumb {
    height: 150px;
    width: 150px;
     transform: rotate(-5deg) translateX(-30px);  
    filter:drop-shadow(1px 2px 10px #223B);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
  }
  .dash-pill .sticker-pack {
    height: 280px;
    width: 180px;
    transform: rotate(15deg) translateX(18px);  
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    filter: brightness(.6);
    transition: filter 400ms ease
  }
  

.dash-pill .sticker-pack:hover { filter: brightness(1);}
.stick-sel-opt{align-items: center; display: flex;

}
.stick-sel-opt span{
  width: 100%;
 text-overflow: ellipsis;
  
}
.sticker-icon,.stickerpack-icon{height: 60px; width: 60px; transform:scale(1.2);display: inline-block;background-size: contain;background-repeat:no-repeat;margin-right:10px;flex: 0 0 auto; filter:drop-shadow(1px 2px 5px #2235);}
.stickerpack-icon{width: 40px;}
  .dash-pill .sticker-slot {
    display: block;
    position: absolute;
    z-index: 0;
    right: 120px;
    top: 3px;
    height: 180px;
    width: 180px;
    background-size: cover;
  }
  .dash-pill .backblur {
    border-radius: 0 5px 5px 0;
    z-index: -1;
  }
  .dash-pill .background-slot {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 6px 6px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .dash-pill .plx-rarity {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  }
  .dash-pill .edit-button {
    align-self: end;
  }
  .dash-pill .info .c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dash-pill .info .c1 .title {
    opacity: 0.7;
  }
  .dash-pill .info .c1 .name {
    font-size: 16pt;
  }
  .dash-pill .info .c1 .bgcode {
    margin-bottom: 10px;
  }
  .dash-pill .info .c1 .bgcode code {
    padding: 3px 8px;
    border-radius: 10px;
    opacity: 0.7;
  }
  
  @media screen and (max-width: 800px) {
    .dash-pill {
      margin: 20px 10px;
      padding: 6px 10px 8px;
    }
  }
 
  .v-select {
    position: relative;
    font-family: inherit;
    box-sizing: border-box;
  }
  .v-select * {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #ff2b5c;
  }
  
  .vs__fade-enter-active, .vs__fade-leave-active {
    transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .vs__fade-enter, .vs__fade-leave-to {
    opacity: 0;
  }
  
  .vs__dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    padding: 0 0 4px;
    background: none;
    border: 1px solid rgba(60, 60, 60, 0.26);
    border-radius: 4px;
    white-space: normal;
  }
  
  .vs__selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 2px;
    position: relative;
  }
  
  .vs__actions {
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    width: 30px;
    margin-right: 5px;
    padding: 4px 6px 0 6px;
  }
  
  .vs--searchable .vs__dropdown-toggle {
    cursor: text;
  }
  
  .vs--unsearchable .vs__dropdown-toggle {
    cursor: pointer;
  }
  
  .vs--open .vs__dropdown-toggle {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .vs__open-indicator {
    fill: rgba(60, 60, 60, 0.5);
    transform: scale(1);
    transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
    transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  }
  
  .vs--open .vs__open-indicator {
    transform: rotate(180deg) scale(1);
  }
  
  .vs--loading .vs__open-indicator {
    opacity: 0;
  }
  
  .vs__clear {
    fill: rgba(60, 60, 60, 0.5);
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .vs__dropdown-menu {
    display: block;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    z-index: 1000;
    padding: 5px 0;
    margin: 0;
    width: 100%;
    max-height: 350px;
    min-width: 160px;
    overflow-y: auto;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(60, 60, 60, 0.26);
    border-top-style: none;
    border-radius: 0 0 4px 4px;
    text-align: left;
    list-style: none;
    background: #fff;
  }
  
  .vs__no-options {
    text-align: center;
  }
  
  .vs__dropdown-option {
    line-height: 1.42857143;
    display: block;
    padding: 5px;
    //margin: 3px 8px;
    clear: both;
    color: #333;
    white-space: nowrap;
  }
  .vs__dropdown-option:hover {
    cursor: pointer;
  }
  
  .vs__dropdown-option--highlight {
    background: var(--accent-color);
    color: var(--color-contrast);
  }
  
  .vs__dropdown-option--disabled {
    background: inherit;
    color: rgba(60, 60, 60, 0.5);
  }
  .vs__dropdown-option--disabled:hover {
    cursor: inherit;
  }
  
  .vs__selected {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid rgba(60, 60, 60, 0.26);
    border-radius: 4px;
    color: #333;
    line-height: 1.4;
    margin: 4px 2px 0;
    padding: 0 0.25em;
    font-family: inherit;
  }
  
  .vs__deselect {
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 4px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
    fill: rgba(60, 60, 60, 0.5);
    text-shadow: 0 1px 0 #fff;
  }
  
  .vs--single .vs__selected {
    background-color: transparent;
    border-color: transparent;
  }
  .vs--single .vs__selected span{
pointer-events: none;
  }

  .vs--single.vs--open .vs__selected {
    /*! position: absolute; */
    opacity: 0.4;
  }
  .vs--single.vs--searching .vs__selected {
    display: none;
  }
  
  .vs__search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.4;
    font-size: 1em;
    border: 1px solid transparent;
    border-left: none;
    outline: none;
    margin: 4px 0 0;
    padding: 0 7px;
    background: none;
    box-shadow: none;
    width: 0;
    max-width: 100%;
    flex-grow: 1;
    font-family: inherit;
  }
  .vs__search::-webkit-search-cancel-button, .vs__search::-ms-clear, .vs__search::-webkit-search-decoration, .vs__search::-webkit-search-results-button, .vs__search::-webkit-search-results-decoration {
    display: none;
  }
  .vs__search:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.4;
    font-size: 1em;
    border: 1px solid transparent;
    border-left: none;
    outline: none;
    margin: 4px 0 0;
    padding: 0 7px;
    background: none;
    box-shadow: none;
    width: 0;
    max-width: 100%;
    flex-grow: 1;
  }
  .vs__search::-webkit-input-F, .vs__search::-moz-placeholder, .vs__search:-ms-input-placeholder, .vs__search::-ms-input-placeholder, .vs__search::placeholder {
    color: inherit;
  }
  
  .vs--unsearchable .vs__search {
    opacity: 1;
  }
  .vs--unsearchable .vs__search:hover {
    cursor: pointer;
  }
  
  .vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
    opacity: 0.2;
  }
  
  #colorname {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 18pt;
  }
  
  .expandable {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .picker {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--bg-dark,#3b3b4b);
    border-radius: 100px;
  }
  
  .vue-color__chrome {
    width: 240px;
    background: none !important;
    border-radius: 4px;
    height: 80px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: none !important;
    border: none;
    align-items: center;
    /*! width: 0; */
  }
  
  .vue-color__chrome__saturation-wrap {
    text-align: center;
    border-radius: 100px !important;
    width: 72px;
    height: 72px;
    flex: 0 0 72px;
    padding-bottom: 0 !important;
  }
  
  .vue-color__chrome__chrome-body {
    background: none !important;
  }
  
  .swatch {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    border: 4px solid var(--bg-dark,#3b3b4b);
    border-radius: 100px;
    cursor: pointer;
  }
  .swatch:hover {
    border: 4px solid white;
    opacity: 0.8;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  }
  
  .pop-enter-active, .pop-leave-active {
    transition: transform 0.5s, height 0.5s, opacity 0.3s, width 0.5s;
    transition-timing-function: cubic-bezier(0.8, 0.3, 0.25, 1);
    transform: scale(1);
    transform-origin: left;
  }
  
  .pop-enter, .pop-leave-active {
    opacity: 0;
    transform: scale(0);
    width: 0 !important;
  }
  
  div.vue-color__chrome__color-wrap {
    display: none;
  }
  div.vue-color__chrome__fields-wrap {
    padding-top: 0;
  }
  
  .vue-color__editable-input__input {
    border-radius: 10px;
  }
  
  .vue-color__chrome__toggle-btn, span.vue-color__editable-input__label, .vue-color__chrome__alpha-wrap {
    display: none !important;
  }
  
  .plx-hover-glow:hover {
    filter: brightness(1.5) drop-shadow(0 0 5px #FFF5);
  }
  
  #medals {
    display: flex;
    flex-wrap: wrap;
    /*! align-items: center; */
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  
  #equipped {
    margin: 0 auto;
    /*! max-width: 300px; */
  }
  #equipped .eq-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .controls {
    border-top: solid 1px #CCF5;
    border-bottom: solid 1px #CCF5;
    margin: 16px auto 8px auto;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .equipped-panel {
    display: flex;
    margin: auto;
    max-height: 35px;
    align-items: center;
    justify-content: space-between;
    /*! width: 350px; */
    position: relative;
    overflow: hidden;
    flex-basis: 300px;
    /*! flex-shrink: 0; */
    /*! flex-grow: 0; */
  }
  .equipped-panel .random {
    /*! width: 60%; */
  }
  
  .tier {
    width: 100%;
    margin: 3px auto 10px auto;
    flex-basis: 50%;
  }

  
  .search {
    width: 100%;
    margin: 3px auto 2px auto;
    flex-basis: 50%;
  }
  .search input {
    border-radius: 5px;
    border: none;
    padding: 2px 12px 4px 12px;
    margin: auto;
    width: 80%;
  }
  
  .controls .plx-rarity-icon {
    /*! transform: translateY(4px); */
    margin: 0 4px;
  }
  
  @media screen and (max-width: 900px) {
    .controls, #filter {
      flex-direction: column;
    }
  }
  .equipped-panel a {
    text-decoration: none;
  }
  .equipped-panel a:first-child:after {
    content: "";
    border-left: solid 1px #CCF5;
    height: 100%;
    line-height: 0;
    width: 0px;
    top: 0px;
    display: inline-block;
    transform: skewX(-15deg);
    position: absolute;
    right: 50%;
    
  }
  .equipped-panel .loading-icon {
    opacity: 0;
  }
  .equipped-panel a:active .loading-icon {
    opacity: 1;
  }
  
  #filter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*! flex-basis: 66%; */
    flex-wrap: wrap;
    width: 100%;
  }

   
  #inventory {
    /*! min-width: 53vw; */
    height: calc(100vh + -420px);
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    background: var(--bg-darker);
    border-radius: 8px; 
    margin: 0px 20px;
    padding: 10px;
    position: relative;
    justify-content: flex-start;
    align-content: flex-start;
    scrollbar-width:unset;
    max-height: 400px;
    min-height: 300px;
  } 
  #inventory > div {
    margin: 10px 8px;
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 1px 5px rgba(10, 10, 30, 0.3));
  }
  
  #plx-filter {
    //width: 100%;
    max-width: 900px;
  }
  #plx-filter .selector > input {
    line-height: 1.5;
  }
  
  .medalSlot {
    height: 80px;
    width: 80px;
    margin: auto;
    border-radius: 100%;
    background: rgba(100, 100, 150, 0.2);
    position: relative;
    align-items: center;
    display: flex;
  }
  
  .slot-hover {
    background:var(--accent-color);
  }
  
  .drag {
    z-index: 9;
    overflow: visible;
  }
  
  .medal-chip {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: relative;
  }
  .medal-chip .rarity {
    position: absolute;
  }
  .medal-chip .face{
    min-block-size: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .medalSlot .face, .ui-draggable-dragging .face{
     min-block-size: 80px !important;
  }

  
  @media screen and (max-height: 650px) {
    .medal-chip {
      width: 60px;
      height: 60px;
      border-radius: 100px;
      position: relative;
      margin: auto;
      padding: 3px;
    }

  }
  @media screen and (max-width: 400px) {
        .tier > span {
  display: block;
  opacity: 0;
  height: 0;  
}
    #equipped {
      //height: 240px;
      //width: 240px;
      margin-bottom: 20px
    }
    #equipped .eq-container {
      width: 240px;
      height: 240px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    #colorpicker{
        height: 200px !important;
        max-width: 260px;
    }
  
    .medal-chip, .medalSlot {
      height: 64px;
      width: 64px;
      margin: auto;
    }
  
    .medal-chip .rarity, .medalSlot .rarity {
      display: none;
    }
    .dash-pill:not(#colorpicker){
      margin: 0px 5px 20px;
      padding: 6px 10px 8px;
    }
  }
  .pakInfo{
    background: white;
    padding: 10px 20px 20px;
    border-radius: 8px
  }
  
  .pakInfo .title{
    color: #2b2b3b;
    font-weight: 900;
    margin-bottom: 10px
  }
  .pakInfo .title .plx-rarity-icon{
    transform: translateY(5px)
  }

.flair-container :focus{
    outline: 0 !important;
  }

  .wife-block .avatar{
    -webkit-mask: url(data:image/svg+xml;base64,CjxzdmcgdmVyc2lvbj0nMS4xJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMjkgMTI5JyB4bWxuczp4bGluaz0naHR0cDovL3d3dy53My5vcmcvMTk5OTlBQS94bGluaycgZW5hYmxlLWJhY2tncm91bmQ9J25ldyAwIDAgMTI5IDEyOSc+PGc+PHBhdGggZmlsbD0nIzhiOGI5RicgZD0nbTEyMS42LDQwLjFjLTMuMy0xNi42LTE1LjEtMjcuMy0zMC4zLTI3LjMtOC41LDAtMTcuNywzLjUtMjYuNywxMC4xLTkuMS02LjgtMTguMy0xMC4zLTI2LjktMTAuMy0xNS4yLDAtMjcuMSwxMC44LTMwLjMsMjcuNi00LjgsMjQuOSAxMC42LDU4IDU1LjcsNzYgMC41LDAuMiAxLDAuMyAxLjUsMC4zIDAuNSwwIDEtMC4xIDEuNS0wLjMgNDUtMTguNCA2MC4zLTUxLjQgNTUuNS03Ni4xem0tNTcsJy8+PC9nPjwvc3ZnPgo=);
  }
.wife-block .name{
   font-size: 14pt;
  font-family: Proxima Soft ;
  font-weight: 600;
  margin: 0 10px;

  
}


.wife-block .username{
  margin-right:  50px;
  display:inline;
   color: var(--text-extra-bold);
}
.is-featured.wife-block > :not(.fa-star){
color: white ;
}
.wife-block .discrimin{
  font-size: 8pt;
  opacity: .5
}
    

.wife-block{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 2px 14px;
  border-radius: 8px;
  margin: 4px 0;
  transition: background 1s, transform .5s cubic-bezier(.68,-0.55,.27,1.55);


}

.wife-block .ring{
  transform: scale(.8);
      height: 64px;
  width: 64px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  margin-left: 10px;
}


.is-featured .ring{
  background: white;
}

.wife-block .ring img{
  height: 80%;
}




.wife-block div{
  flex-basis: auto;
   flex-grow: 0;
   flex-shrink: 0;
}


.wife-block .since{
  margin-left: auto;
    font-size: 10pt;
    color: var(--text-extra-bold);
  opacity: .6;
  }
  



.feats{
  margin: 0 10px;
  color: var(--plx-yellow) !important;
}
.init{
    color: var(--plx-danger)
}
.feats,.init{
  font-size: small;
}
.is-featured .init *{
  color: white;
  opacity: .8 !important;;
}
.is-featured{transform: scale(1.2)}
.is-featured{
  background: var(--plx-danger);
   border-radius: 8px 4px 4px 8px;

}


.wife-block:hover{
  background: var(--bg-opaque);
 cursor: pointer;
 
}
.wife-actions{
  display: flex;
  justify-content: space-between;
  background: var(--bg-main);
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 0 15px #0015;
  margin-top: -25px; margin-left:10px;
 
}
.wife-actions .plx-button{
  padding: 2px 24px;
  margin: 0 5px;
  line-height: 1.5;
}

.wife-block.empty{
  border: dashed  2px var(--text-faint);
  opacity: .2;
  color: var(--text-extra-bold);
  height: 50px;
  justify-content: center;
  margin: 24px;
}
.wife-block.empty span{
  opacity: 0;
  width: 0;  
  white-space: nowrap;
  overflow: hidden;
  transition: width .3s ease-out, opacity .3s ease;
  transition-delay: .1s, .0s;
}
.wife-block.empty:hover{
  opacity: .5;
}
.wife-block.empty:hover span{
width: 160px;
  opacity: 1;
     transition-delay: 0s, .3s;  
}
.stick-sel-opt .author{
  opacity: .75;
  font-size: small;
  font-style: italic;
  display: block;
  margin: 0px 10px 10px 50px   
}