.notification.is-light
  .title BG FORM
  form(action="/upload?type=bg" enctype="multipart/form-data" method="post")
    .field.is-grouped
      .field
        label.label Name
        .control: input.input(type="text" name="name")#name
      .field
        label.label filename
        .control: input.input(type="text" name="filename" )#icon    
      .field
        label.label event
        .control: input.input(type="text" name="event" )#icon
    .field.is-grouped
      .field
        label.label Rarity
        .control: .select: select(name="rarity")#rarity
          option UR
          option SR
          option R
          option U
          option C
    .field
      label.label TAGS
      .control: input.input(type="textarea" name="tags")#tags
    .field.is-grouped
      .field
        label.label DROP
        .control: .select: select(name="droppable")#rarity
          option TRUE
          option FALSE

        label.label BUY
        .control: .select: select(name="buyable")#rarity
          option TRUE
          option FALSE
    .field
      label.label FILE
       input(type="file" name="file")
    input(type="submit" value="Upload").button#send