.prime-select-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .prime-select-row .v-select{
    flex: 1 1 80%;
   
  } 
.prime-select-container {
  padding: 8px 18px 28px 18px;
  border: solid 1px var(--bg-dark);
  border-radius: 10px;
}
.prime-select-row > * {
   margin: 14px 8px 0 4px;
}
.prime-select-container .tip{
  margin: -10px 20px;
  font-style: italic;
}
  
  .sel-opt,.selected-item{
      display: flex;
    }
  .sv-icon{
    width: 32px;
    height: 32px;
     border-radius: 100px;
    background-color:black;
    text-align: center;
    overflow: hidden;
  }
  .selected-item .sv-icon{
      background-color:#2b2b3F;
  }
  .selected-item{    
      color:#2b2b3F;
  }
  
    .texts > * {
      line-height: .7;
    }
  .vs__dropdown-option--disabled .sv-icon{
    opacity: .5
  }
    .vs__dropdown-option--disabled {
      color: red;
       opacity: .5;
    }
    .texts > .label{
      margin: 0;
    }
    .texts > .description{
      margin: 0 0 0 20px;
      font-size: small;
     
    
    }
    .v-select{
      background: white;
      border-radius: 10px;
      height: 44px;
    }
    .v-select.vs--open{
      border-radius: 10px 10px 0 0;
    }