ul.profilenav( plx-switcher="connect: #right-pages; animation: plx-animation-slide-right-small, plx-animation-slide-right-small; active: ")
    li
        .commend
            span Cosmetics
            span.favc-color
                | &#x2003;
                i.fas.fa-images
            
  
  
    li      
        .commend(v-if="!commendInfo.loading")
            span Reputation: 
            span= userprofile.counters.commend || "{{ commendInfo.whoIn.map(x=>x.count).concat([0]).reduce((a,b)=>a+b) }}"
            span.favc-color
                | &#x2003;
                i.fas.fa-star