.userblock.plx-sticky.plx-active {
  height: 70px;
  width: auto !important;
  backdrop-filter: blur(10px);
  background-color: #2235;
  box-shadow: 0 3px 10px #1125;
  border-radius: 10px;
  margin: 10px !important;
  transform: translateX(0) !important;
}
#profile {
  margin-bottom: -50px;
  padding-bottom: 50px;
}
.profile-sidebar {
  padding-bottom: 100px;
}
@keyframes lite {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes wamp {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.comp-bar {
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  padding-right: 12px;
  justify-content: space-around;
}
.bar {
  margin: 8px 8px 0 8px;
}
.percentile {
  font-family: Panton;
  font-size: 20px;
  line-height: 1;
}
.bar .sub {
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
  line-height: 1;
}
.sub .label {
  font-family: Panton;
  font-weight: initial;
  color: #fffa;
  font-size: 10pt;
}
.sub .completion {
  opacity: 0.4;
}
.comp-bar > div:first-child {
  flex-grow: 1;
  margin: 18px;
}
.plx-progress-alt {
  vertical-align: baseline;
  display: block;
  width: 100%;
  border: 0;
  background-color: #1a1a28;
  height: 5px;
  border-radius: 500px;
  margin: 8px 0 6px 0;
}
.plx-progress-alt .inner-bar {
  box-shadow: 0 0 10px var(--favcolor-not-so-dim);
  border-radius: 100px;
  height: 5px;
  display: block;
  background: linear-gradient(45deg, var(--favcolor-not-so-dim), var(--favcolor));
  background-size: 400% 400%;
  animation: lite 2s ease infinite, wamp 1s cubic-bezier(0.79, 0.14, 0.15, 0.86) both;
  transition-delay: 2s;
  transform-origin: left;
}
.plx-progress-alt .percentile {
  line-height: 22px;
  padding: 0 10px;
  float: right;
  margin-left: 10px;
  font-size: 10pt;
}
.profile-header {
  height: 300px;
  position: relative;
  top: -5px;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 0 3px 5px #1b1b2b;
  overflow: hidden;
  margin-bottom: -5px;
}
.header-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #0b0b15;
}
.header-background > div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.header-background .bg-banner {
  background-size: auto 400px !important;
  background-position: center right;
  background-repeat: no-repeat;
  -webkit-mask-image: -webkit-linear-gradient(-157deg, #000, #0000 700px);
  transform-origin: right;
  z-index: 1;
}
.header-background .favcol-grad {
  background-image: -webkit-linear-gradient(90deg, var(--favcolor) -100%, var(--favcolor-dim) 50%, #0000 80%);
}
.profile-header .profile-header-container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.userblock {
  display: flex;
  align-items: center;
  line-height: 1.4;
  color: white;
  max-height: 300px;
  margin-left: 5%;
  max-width: 850px;
}
.profile-header .userblock {
  flex-wrap: wrap;
}
.profile-header .userblock .avatar {
  width: 223px;
}
.avatar img {
  width: 223px;
}
.userblock.small .avatar, .small .avatar img {
  width: 80px;
}
.userblock .avatar {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 3px 10px #1b1b2DDD);
  margin-right: 14px;
}
.avatar-frame {
  --looping-percent: 15;
  --looping-length: calc((var(--looping-percent) * var(--total-length)) / 100);
  --dash-math: calc(var(--total-length) - var(--looping-length));
}
svg.back-svg-frame {
  position: absolute;
  fill: none;
  stroke: var(--favcolor);
  stroke-width: 3px;
}
svg.svg-shine {
  mix-blend-mode: color-dodge;
  stroke-width: 3px;
  fill: transparent;
  stroke: var(--favcolor, #FFF);
  filter: blur(2px);
  mix-blend-mode: color-dodge;
  stroke-dasharray: var(--looping-length), var(--dash-math);
  stroke-linejoin: round;
  animation: dash 1.7s ease infinite;
  stroke-linecap: round;
}
.avatar-frame svg {
  overflow: visible;
  transform: scale(0.9);
  height: 100%;
  width: 100%;
}
@keyframes dash {
  from {
    stroke-dashoffset: var(--total-length);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    stroke-dashoffset: -150;
    opacity: 0;
  }
}
.avatar img {
  z-index: 1;
  transform: scale(0.8) translate(0, -0.5px);
}
.avatar-frame, .uwu-person {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  background-size: contain;
  padding: 0;
}
.userblock .username, .commend .username {
  font-family: Panton;
  font-weight: 600;
  font-size: 32px;
  align-items:flex-end;
}
.discrimin:before {
  content: "#";
  font-size: smaller;
}
.userblock .discrimin, .commend, .discrimin {
  font-family: Panton;
  font-weight: 300;
  font-size: 24px;
}
.userblock .tagline {
  font-family: Panton;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  opacity: 0.8;
  text-align: left;
  padding-left: 0.5rem;
  margin-top: 0.2em;
  margin-bottom: -0.5em;
}

.commends-list{
  display: flex;
}
.commends-list > div{ display: flex; flex-direction: column;
flex: 1 0 auto
}
.commend{ 
  display: flex;
  border: solid 1px  var(--favcolor-not-so-dim); 
  align-items: center;
  justify-content: space-between;  
  margin: 8px 20px; 
  box-sizing: border-box;
  color: #EEFB;
}
 
.commens-in .commend{
  background:  var(--favcolor-dim); 
  border-color: var(--favcolor-not-so-dim); 
   padding: 0 24px 0 0;
    border-radius: 40px 15px 15px 40px;
}

.commens-out .commend{
  padding: 0 0 0 24px; 
  border-radius: 15px 40px 40px 15px;  
}


.commend .pos{
  font-size: 36px;
  vertical-align: middle;
  font-style: italic;
}
.commend .hashtag{
  font-family: Panton;
  font-weight: 100;
  font-size: 20px;  
  vertical-align: super
}    

.commend .avatar img{
  width: 80px;
  border-radius: 100%;
  
}
.commend .avatar{
  display: flex;
  align-items: center;
}


.commend .username .name{
  font-size: 24px
}
.commend .discrimin{
  font-size:  14px
}
.commend .commends{
  font-size: 28px;
  font-weight: 600;
  margin: 0 10px;
}

.small {
  line-height: 1.4;
}
.small .username .name {
  font-size: 24px;
}
.small .tagline {
  font-size: 16px;
}
.small .discrimin {
  font-size: 16px;
  opacity: 0.5;
}
.uwu-bar .full {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.userblock .badge {
  background: var(--favcolor);
  font-size: small;
  padding: 3px 15px;
  border-radius: 50px;
  margin: 0 0 15px 10px;
  letter-spacing: 2px;
}
.userblock .progressbar .comp-bar .plx-progress-alt {
  height: 12px;
  width: 480px;
  margin-bottom: 20px;
  background: #0c0c1a75;
}
.userblock .progressbar .comp-bar .plx-progress-alt * {
  height: 12px;
}
.userblock .progressbar .percentile {
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  font-weight: 300;
  width: 3rem;
}
.progressbar {
  font-family: Panton;
  letter-spacing: 1px;
}
.numbersblock {
  position: absolute;
  color: white;
  right: 5%;
  bottom: 5%;
  display: flex;
  font-family: Panton;
  align-items:flex-end;
  justify-content: center;
}
.numbersblock .sub {
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
  filter: drop-shadow(0 1px 1px #000);
}
.numbersblock div {
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.numbersblock .number {
  vertical-align: baseline;
  line-height: 1;
  margin-bottom: 10px;
  display: inline;
  font-weight: 800;
}
.numbersblock .rep .number {
  font-size: 48px;
}
.numbersblock .level .number {
  font-size: 72px;
}
.de-link {
  text-decoration: none !important;
}
.de-link:hover {
  color: white;
}
.profile-sticky {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}
.wealth {
  min-width: 350px;
  width: 70%;
  margin: auto;
}
.profile-sticky .column1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
}
.column1 .infobox {
  flex: 1 1 auto;
}
.uwu-bar {
  border: solid 1px var(--favcolor-not-so-dim);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  box-sizing: border-box;
  margin: 50px auto;
  min-width: 60%;
  max-width: 780px;
  height: 114px;
  position: relative;
  width: 100%;
}
.wife {
  width: 50%;
  justify-content: start;
}
.wife .info {
  flex-grow: 1;
}
.wife .ringsbar {
  margin-top: 8px;
  width: 100%;
  align-items: center;
}
.ringsbar .ring {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-content: center;
}
.ringsbar img {
  width: 28px;
}
.ringsbar .plus {
  font-family: panton;
  color: #aae;
  border: solid 1px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  font-size: 12px;
}
.ringsbar .plus:before {
  content: "+";
  font-size: 12px;
}
.ringsbar > div {
  width: 24px;
  height: 24px;
}
.uwu-bar > .uwu-status {
  width: 45%;
  font-family: Quicksand;
  border-left: solid 2px #aaf5;
  margin-left: 16px;
  padding-left: 16px;
  align-items: center;
}
.uwu-bar .since {
  font-size: 14px;
}
.uwu-bar .tier-name {
  font-size: 20px;
  font-family: "Varela Round";
  color: white;
  font-style: italic;
}
.uwu-bar .lvp {
  font-size: 12px;
}
.profile-container {
  /*! background: #131320; */
  justify-content: space-around;
  padding: 0 4%;
}
.profile-container .comp-bar {
  border: solid 1px var(--favcolor-not-so-dim);
  border-radius: 10px;
}
.profile-box {
  border: solid 1px var(--favcolor-not-so-dim);
  border-radius: 10px;
}
.profile-container .comp-bar {
  max-width: 360px;
  height: 50px;
  margin: 15px auto;
}
.profile-nav {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  background-image: radial-gradient(ellipse at bottom, #e0e0f005 -80%, #0000 50%);
  background-size: 70%;
  background-position-x: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
}
.profile-nav:after {
  content: " ";
  background-image: radial-gradient(ellipse at top, #e0e0f015 -80%, #0000 50%);
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: -80px;
}
.profile-nav li {
  margin: 0;
  padding: 0;
  text-align: center;
}
.profile-nav.plx-subnav > * > :first-child {
  font-family: Panton;
  text-transform: none;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b5a;
  width: 16vw;
  max-width: 180px;
  height: 55px;
  border-bottom: solid 2px;
}
.profile-nav.plx-subnav > * > a:hover {
  text-shadow: 0 2px 15px var(--favcolor-not-so-dim);
  color: var(--favcolor-not-so-dim);
  opacity: 0.7;
}
.profile-nav.plx-subnav > .plx-active > a {
  color: var(--favcolor) !important;
  font-weight: 500;
  background-image: radial-gradient(ellipse at bottom, var(--favcolor-dim) -10%, #0000 40%);
  background-size: 140%;
  background-position-x: center;
  text-shadow: 0 2px 25px var(--favcolor-not-so-dim);
  opacity: 1;
}
@media screen and (min-width: 900px) and (max-width: 1600px) {
  .uwu-bar .since {
    font-size: 0.9vw;
  }
  .uwu-bar .tier-name {
    font-size: 1.8vw;
    font-family: "Varela Round";
    color: white;
    line-height: 1;
    font-style: italic;
  }
  .uwu-bar .lvp {
    font-size: 0.7vw;
  }
}
.profile-box, .profile-container .comp-bar, .uwu-bar {
  backdrop-filter: blur(20px);
  background-color: #0000;
}
.profile-box {
  padding: 18px;
  margin: 12px 6px;
  flex: 1 1 auto;
  display: flex;
  margin: 15px;
  max-width: 380px;
}
.medals{
   width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.medal {
  flex-basis: 30%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}
.medal:before {
  content: "\200b";
  position: absolute;
  right: calc(50% + -12.5px);
  border-radius: 100%;
  width: 25px;
  background: #aad2;
  height: 25px;
}
.medal img {
  width: 90%;
  flex-shrink: 0;
  max-width: 85px;
}
.bg-container {
  width: 150%;
  height: 150%;
  position: absolute;
  background-size: cover;
  background-position: right -300px;
  opacity: 0;
  background-image: linear-gradient(#0000, var(--favcolor-not-so-dim));
}
html {
  background: #0c0c15;
}
.infobox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px 0;
  position: relative;
}
.infobox .flair {
  max-width: 128px;
  margin-bottom: -18px;
}
.infobox .divider {
  background-color: var(--favcolor);
  width: 8px;
  height: 120px;
  margin: -10px 20px 0px 0;
  border-radius: 10px;
  flex-shrink: 0;
  display: block;
}
.infobox .about .text {
  font-size: 20px;
  font-weight: 300;
  width: 17.5rem;
  font-family: Panton;
  font-style: italic;
  margin-bottom: 20px;
  line-height: 1.25;
  text-align: left;
}
.infobox .signature {
  position: absolute;
  text-align: right;
  color: var(--favcolor);
  right: 15%;
  bottom: 10px;
}
.infobox .signature:before {
  content: " — ";
}
.sticker, .background {
  align-items: center;
  flex-direction: column;
  font-family: Panton;
  overflow: hidden;
}
.sticker > img {
  margin-bottom: 10px;
  max-height: 240px;
  width: auto;
  transform: rotate(-5deg);
  animation: stickerRotate 8s ease-in-out alternate infinite;
}
.sticker > p {
  padding: 0;
  margin: 0;
}
@keyframes stickerRotate {
  to {
    transform: rotate(10deg);
  }
}
.background {
  padding: 0 0 20px 0;
  margin: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.background > .has-user-bg {
  transform: scale(1.3);
  -webkit-mask-image: linear-gradient(#FFFF, #0000);
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  min-height: 260px;
  width: 100%;
  height: 50%;
}
.background > p {
  padding: 0;
  margin: 0;
}
.itm-name {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
.marriages {
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.marriages .wife-miniavi {
  border-radius: 100%;
  overflow: hidden;
  width: 55px;
  margin: 2px;
  transition: transform 200ms ease;
  -webkit-mask: url(data:image/svg+xml;base64,CjxzdmcgdmVyc2lvbj0nMS4xJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMjkgMTI5JyB4bWxuczp4bGluaz0naHR0cDovL3d3dy53My5vcmcvMTk5OTlBQS94bGluaycgZW5hYmxlLWJhY2tncm91bmQ9J25ldyAwIDAgMTI5IDEyOSc+PGc+PHBhdGggZmlsbD0nIzhiOGI5RicgZD0nbTEyMS42LDQwLjFjLTMuMy0xNi42LTE1LjEtMjcuMy0zMC4zLTI3LjMtOC41LDAtMTcuNywzLjUtMjYuNywxMC4xLTkuMS02LjgtMTguMy0xMC4zLTI2LjktMTAuMy0xNS4yLDAtMjcuMSwxMC44LTMwLjMsMjcuNi00LjgsMjQuOSAxMC42LDU4IDU1LjcsNzYgMC41LDAuMiAxLDAuMyAxLjUsMC4zIDAuNSwwIDEtMC4xIDEuNS0wLjMgNDUtMTguNCA2MC4zLTUxLjQgNTUuNS03Ni4xem0tNTcsJy8+PC9nPjwvc3ZnPgo=);
}
.wife-miniavi:hover {
  transform: scale(1.5);
}
.wife-miniavi img {
  transform: scale(1.2);
  transition: transform 200ms ease;
}
.wife-miniavi:hover img {
  transform: scale(1);
}
.profile-contents {
  padding: 16px;
}
.profile-sidebar {
  background: linear-gradient(#0a0a12,#1b1b2555);
  max-width: 400px;
  box-sizing: border-box;
  margin-top: -10px;
  z-index: 1;
  box-shadow: 0 0 15px #0a0a12;
}
.sidebar {
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
.sidebar .badge {
  border-radius: 10px;
  max-width: 300px;
  height: 64px;
  font-family: Panton;
  text-shadow: 0 1px 5px #001a;
  text-align: left;
  display: flex;
  justify-content: start;
  padding: 0px 5px;
  box-sizing: border-box;
  line-height: 1.3;
  align-items: center;
  margin: 12px auto;
  letter-spacing: 1px;
  user-select: none;
 
}
.sidebar .badge .icon {
  width: 70px;
  text-align: center;
}
.sidebar .badge .icon img {
  max-width: 48px;
  margin: auto;
}
.sidebar .title {
  font-size: 24px;
  color: white;
  font-weight: 600;
}
.sidebar .badge .sub {
  font-size: 18px;
  font-weight: 500;
  color: white;
  opacity: 0.7;
}
.sidebar .donoblock * {
  font-family: Panton;
  line-height: 1;
}
.donoblock h3 {
  font-weight: 600;
  color: white;
  margin-top: 32px;
  letter-spacing: 1px;
}
.donoblock h4 {
  font-weight: 600;
  color: white;
  margin-top: 24px;
}
.donoblock img {
  height: 144px;
  padding: 10px;
  opacity: 0.7;
}
.donoblock p {
  margin: 5px;
  font-size: smaller;
}
.donoblock p:last-child {
  opacity: 0.5;
  font-size: small;
}
@media screen and (max-width: 1000px) {
  .profile-header .userblock .avatar, .profile-header .avatar img {
    width: 180px;
  }
}
@media screen and (max-width: 900px) {
  .plx-subnav {
    margin: 20px 0;
    padding: 0;
    width: 100%;
  }
  .profile-nav.plx-subnav > * > :first-child {
    font-size: 12px;
    height: 35px;
    width: auto;
    padding: 0 8px;
    border-bottom: solid px;
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .wrapper {
    margin-bottom: -50px;
  }
  .profile-header .userblock .username, .profile-header .tagline {
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .userblock .progressbar .comp-bar .plx-progress-alt {
    width: 200px;
  }
  .profile-header .userblock .avatar, .profile-header .avatar img {
    width: 150px;
    margin: auto;
  }
  .uwu-bar {
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    margin: auto;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .uwu-bar .wife, .uwu-bar .uwu-status {
    width: 100%;
  }
  .wife:after {
    display: none;
  }
  .ringsbar {
    max-width: 220px;
  }
  .uwu-bar > .uwu-status {
    margin-top: 10px;
    border-top: solid 1px #aaf2;
    padding-top: 10px;
    display: flex;
    align-items: center;
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
  .uwu-bar .avatar {
    flex-shrink: 0;
    width: 100px;
  }
  .numbersblock {
    position: relative;
    padding: 10px 0px 0;
    margin-top: 20px;
    width: 100vw;
    background: #1b1b2baa;
    backdrop-filter: blur(5px);
    right: 0;
    bottom: 0;
  }
  .profile-header {
    height: auto;
    padding-top: 60px;
  }
  .profile-header .bg-banner {
    background-size: auto 500px !important;
    background-position: 80% center;
    position: fixed;
    height: 500px;
    opacity: 0.6;
  }
}
.userblock .info {
  margin-left: auto;
  margin-right: auto;
}
.profile-box {
  margin: auto;
  margin-bottom: 30px;
  z-index: 0;
}
.sticker {
  width: 100%;
  box-sizing: unset;
  box-sizing: border-box;
}
.plx-sticky.plx-active .avatar {
  margin: 0 0 0 12px;
  width: 70px;
}
.plx-sticky.plx-active .avatar img {
  width: 70px;
}
.plx-sticky.plx-active .info {
  height: 70px;
  flex-direction: row;
  align-items: center;
  margin: 0 12px 0 -10px;
}
.plx-sticky.plx-active .info .bar .sub {
  display: none;
}
.plx-sticky.plx-active .tagline {
  display: none;
}
.plx-sticky.plx-active.large .progressbar, .plx-sticky.plx-active.large .badge {
  display: none;
}
.plx-sticky.plx-active.large > * {
  transform: scale(0.9) !important;
}
.userblock {
  z-index: 2;
}
.ad-space {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  min-width: 300px;
  //margin: 50px auto;
  box-sizing: border-box;
  //min-height: 400px;
}
ins{width:100%;height: 100%;}
.medal-drop:before {
  background: #FFF;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transform: scaleX(0) scaleY(0);
  border-radius: 100%;
  animation: medalsideBK 1s cubic-bezier(0.66, 0.05, 0.31, 1.2) forwards;
  animation-delay: 0.2s;
  z-index: -1;
}
.medal-drop.plx-open {
  display: flex;
  align-items: center;
  height: 90px;
}
.medal-drop.plx-open .content {
  display: inline-flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px 10px 20px 0;
}
.market-button {
  font-size: 20px;
  padding: 0 10px;
  height: 32px;
  width: 32px;
  margin-left: auto;
  right: 10px;
  bottom: 10px;
  position: absolute;
}
.medal-drop img {
  flex-shrink: 0;
  width: 90px;
  transform: scale(0.9) translateX(118px) rotateY(90deg);
  animation: medalside 1s cubic-bezier(0.66, 0.05, 0.27, 1.05) forwards;
  animation-delay: 0.2s;
}
.medal img {
  transition: opacity 0.8s;
}
.medal-drop {
  transition: opacity 0.8s;
  opacity: 0;
  z-index: 1;
}
.medal-drop.plx-open {
  opacity: 1;
}
.medal.plx-open img {
  opacity: 0;
  animation: medalup 0.3s ease forwards;
}
.medal-drop .content {
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 1s;
}
.medal-drop .name {
  font-family: Panton;
  font-weight: 600;
  color: #2b2b3b;
  line-height: 1;
}
.medal-drop .sub {
  font-family: Quicksand;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #2b2b3b;
  margin-left: 30px;
}
.medal-drop.plx-open .content {
  opacity: 1;
}
@keyframes medalup {
  to {
    transform: translateY(-100%) rotateY(calc(180deg * 2.5));
  }
}
@keyframes medalside {
  0% {
    transform: scale(0.9) translateX(118px) rotateY(90deg);
  }
  20% {
    transform: scale(0.9) translateX(118px) rotateY(0);
  }
  100% {
    transform: scale(0.9) translateX(0) rotateY(0);
  }
}
@keyframes medalsideBK {
  0% {
    transform: scaleX(0) scaleY(0);
    border-radius: 10%;
  }
  20% {
    transform: scaleX(0.3) scaleY(1);
    border-radius: 10%;
  }
  100% {
    transform: scaleX(1) scaleY(1);
    border-radius: 10px;
  }
}
