if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  .pagination.well-sm#pagination
    ul.pagination-list
      if paginate.hasPreviousPages
        li.previous
          a(href=paginate.href(true)).pagination-previous.button.is-primary
            i.fa.fa-arrow-circle-left
            |  Previous
      if pages
        each page in pages
          a.button.is-primary.pagination-link(href=page.url)= page.number
      if paginate.hasNextPages(pageCount)
        li.next
          a(href=paginate.href()).pagination-next.button.is-primary
            | Next&nbsp;
            i.fa.fa-arrow-circle-right