extends layout
block content

  .hero.is-pink.is-bold
    include navbas



  .is-fullwidth.nano: .nano-content
    br
  

    div
      div
        div.container
          h1.title.is-2: b Pollux Public API
            .subtitle.is-4
              | Use some of Pollux raw data for any purposes you may need.
          hr
          div
            h2.title.is-4: b Endpoints
            p.title.is-4.is-marginless
              | User Information
            
            p
              
          hr
          div
            //h2.title.is-4: b Endpoints
         
