extends layout
block head

    style.
        .division2, .nano{
          flex-grow:1;
          padding:12px
        }
        .shad{
        position:absolute;
        width:100%;
        height:100%;
          box-shadow:inset 0 20px 50px #fff;
          pointer-events:none;
        }

        .division{
        overflow: -moz-scrollbars-none;
        height:80vh;
        display:flex;
        flex-flow: column;
        }
        @media screen and (max-width:800px){
          .err{
            height:85vh;
            margin:0;
            position:relative;
            bottom:0
          }
          .columns.division2{
            margin:0;
            padding:0;
          }
        }
    


block nav
    .hero.is-pink.is-bold
      include navbas
    .container 
      a.button.is-small#pt: img(src="/images/flags/BR.png")
      a.button.is-small#en: img(src="/images/flags/GB.png")
      a.button.is-small#de: img(src="/images/flags/DE.png")
      //a.button.is-small#nl: img(src="/images/flags/NL.png")
      a.button.is-small#cz: img(src="/images/flags/CZ.png")
      a.button.is-small#es: img(src="/images/flags/ES.png")
      a.button.is-small#fr: img(src="/images/flags/FR.png")
      a.button.is-small#zh-TW: img(src="/images/flags/TW.png")
      a.button.is-small#hu: img(src="/images/flags/HU.png")
      a.button.is-small#ro: img(src="/images/flags/RO.png")
      a.button.is-small#pl: img(src="/images/flags/PL.png")
      a.button.is-small#ru: img(src="/images/flags/RU.png")
      a.button.is-small#by: img(src="/images/flags/BY.png")
      a.button.is-small#ua: img(src="/images/flags/UA.png")
      a.button.is-small#bg: img(src="/images/flags/BG.png")
      a.button.is-small#jp: img(src="/images/flags/JP.png")
      //a.button.is-small#pt-EU: img(src="/images/flags/PT.png")
      //a.button.is-small#ru RU

block content
  #langslot.hidden= lang

    
  .columns.division2
    .column.is-2.is-hidden-mobile
      hr
      aside.menu
        p.menu-label= translation.website.commCat || "Command Categories"
        ul.menu-list
          each v, i in commands.tree
            if i == "!event"
              -y = "EVENT 💖"
            if i == "moderation"
              -y = "mod"
            if i == "utility"
              -y = "util"
            if i == "sound"
              -y = "Sound FX"
            if i == "games"
              -y = "game"
            if i == "frenes"
              -y = "memes"
            if i == "forFun"
              -y = "forfun" 
            if i == "music"
              -y= "music"

            li: b: a.side-option(href="#"+i)= translation.modules[i]||translation.modules[y]|| y ||i

    .column.is-auto.err
      .nano.is-marginless.is-paddingless
        .nano-content: #divio
          script( async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
          ins( class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6458250766331979" data-ad-slot="5383934607")
          #placer
          ins( class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6458250766331979" data-ad-slot="7185424258")
          ins( class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6458250766331979" data-ad-slot="5383934607")
          script (adsbygoogle = window.adsbygoogle || []).push({});
  
        



block scripts
 script(src="/js/inview.js")
 script.


  $(document).ready(function(){
    var langua = $("#langslot").html()
    $("html, body").animate({ scrollTop: $('#nsfw').offset() }, 1000);
    $(".container").fadeIn()
    var siteLang;
     $("#en").click();
      if(!localStorage.locale){
        siteLang = langua||"en";
       localStorage.setItem('locale', siteLang);
      }else {
       siteLang = localStorage.locale;
       var l="en"
       $("#locale").html(localStorage.locale);

       setLang(siteLang)

      }
       function setLang(lang) {
           $("#placer").fadeOut()
            setTimeout(function(){

        localStorage.setItem('locale', lang);
        console.log(lang)
         $.post("/cmlist?lang="+lang,function(data, stats){
          if(stats!= "success"){
          //alert("nope")

          }
           $("#placer").html(data)
           $("#placer").fadeIn()
           $(".nano").nanoScroller();
         })
            },500)
        }




          $("#en").click(function(){
            setLang("en")
         })
          $("#pt").click(function(){
            setLang("pt-BR")
         })
         $("#de").click(function(){
            setLang("de")
         })
         $("#pt-EU").click(function(){
            setLang("pt")
         })
         $("#nl").click(function(){
            setLang("nl")
         })
         $("#ru").click(function(){
            setLang("ru")
         })
         
         $("#by").click(function(){
            setLang("by")
         })         
         $("#bg").click(function(){
            setLang("bg")
         })         
         $("#ua").click(function(){
            setLang("ua")
         })         
         $("#pl").click(function(){
            setLang("pl")
         })
         $("#jp").click(function(){
            setLang("ja")
         })
         $("#cz").click(function(){
            setLang("cs")

         })
          $("#es").click(function(){
            setLang("es-ES")
         })
         
         $("#fr").click(function(){
            setLang("fr")
         })
                  
         $("#hu").click(function(){
            setLang("hu")
         })                  
         $("#zh-TW").click(function(){
            setLang("zh-TW")
         }) 
         $("#zh-CN").click(function(){
            setLang("zh-CN")
         })
         $("#ro").click(function(){
            setLang("ro")
         })

         
         
         $(".side-option").click(function(){
            $(".side-option").removeClass("is-active")
           $(this).addClass("is-active")
         })
      })


