extends layout
block head
  link(rel="manifest" href="/manifest.json")
block content
 //canvas(class="snow" width="1920" height="970" style="     background: #183450;    position: absolute; z-index:0")

 #remme
  //script.
    
            var canvas = document.querySelector('.snow'),
            ctx = canvas.getContext('2d'),
            windowW = window.innerWidth,
            windowH = window.innerHeight,
            numFlakes = 50,
            flakes = [];

        function Flake(x, y) {
          var maxWeight = 5,
              maxSpeed = 3;

          this.x = x;
          this.y = y;
          this.r = randomBetween(0, 1);
          this.a = randomBetween(0, Math.PI);
          this.aStep = 0.01;

          this.weight = randomBetween(2, maxWeight);
          this.alpha = (this.weight / maxWeight);
          this.speed = (this.weight / maxWeight) * maxSpeed;

          this.update = function() {
            this.x += Math.cos(this.a) * this.r;
            this.a += this.aStep;
            this.y += this.speed;
          }

        }

        function init() {
          var i = numFlakes,
              flake,
              x,
              y;

          while (i--) {
            x = randomBetween(0, windowW, true);
            y = randomBetween(0, windowH, true);

            flake = new Flake(x, y);
            flakes.push(flake);
          }

          scaleCanvas();
          loop();  
        }

        function scaleCanvas() {
          canvas.width = windowW;
          canvas.height = windowH;
        }

        function loop() {
          var i = flakes.length,
              z,
              dist,
              flakeA,
              flakeB;

          // clear canvas
          ctx.save();
          ctx.setTransform(1, 0, 0, 1, 0, 0);
          ctx.clearRect(0, 0, windowW, windowH);
          ctx.restore();

          // loop of hell

          while (i--) {
            flakeA = flakes[i];
            flakeA.update();

            ctx.beginPath();
            ctx.arc(flakeA.x, flakeA.y, flakeA.weight, 0, 2 * Math.PI, false);
            ctx.fillStyle = 'rgba(255, 255, 255, ' + flakeA.alpha + ')';
            ctx.fill();

            if (flakeA.y >= windowH) {
              flakeA.y = -flakeA.weight;
            }  

          }

          requestAnimationFrame(loop);
        }

        function randomBetween(min, max, round) {
          var num = Math.random() * (max - min + 1) + min;
          
          if (round) {
            return Math.floor(num);
          } else {
            return num;
          }
        }

        function distanceBetween(vector1, vector2) {
          var dx = vector2.x - vector1.x,
              dy = vector2.y - vector1.y;
          return Math.sqrt(dx*dx + dy*dy);
            
        }
  script.
      init()
      document.getElementById("remme").innerHTML = ""
      

 style.
    
   html,body{
   
     overflow:hidden !important;
   }
     .hero{
       //background-image:url('/images/seameg.png')!important;
       background-image:url('/images/vlxfond-min.png')!important;
       background-size:'cover';
       //opacity:0;
       background-origin: bottom;
       background-position:0px -400px;
       animation: fade2 2s both;
     }
     a.na
       a.nav-item{
        color:#ffc9e0 !important ;
      }  a.nav-item.is-active,a.nav-item:hover{
        color:#ffffff !important;
        border-bottom:solid 1px #ffffff ;
      }


    /* ANIME */
    img{
    //filter: brightness(0) invert(1);
    
    }
    #marq{
    position:absolute;
    //background:blue;
    bottom: 15%;
    //right: 10%;
    right: 20%;
    width: 50%;
    font-size:20px;

     animation: mark 4.8s both infinite;
      animation-delay: 0s;
    }
    .smolHex{
    transform:scale(.6) translateX(10px)!important
    }
    .introFloat{
        transition:all 800ms ease;
    pointer-events:none;
    position:absolute;
    height:160%;
    top:20px;
    right:0%;
    animation: slideR 1.2s both;
    animation-delay: 1s;     
    }
    
    .introFloat img{
       height:100%;
       max-width: none ;
       opacity:.9
       filter: brightness(0.8)
    }

    .slideL-1s{
      animation: slideL .5s both;
      animation-delay: .8s;
    }
    
     .slideL-500ms{
      animation: slideL 1s both;
      animation-delay: .5s;
    }
    
      .slideU{
      position:absolute;
      width:100%;
      z-index:3;
      animation: slideU .8s both;
      animation-delay: 1s;
    }
    
    #bods{
    width:100%
    }
    .navbar{
      background:      linear-gradient(rgba(25, 25, 25, 0.63) 0%,rgba(20, 20, 20, 0.01) 100%) !important;
      ;box-shadow: none;
      }
      .navbar,.navbar a,.navbar-item b,.navbar-item .title,.navbar-brand,.x{
        //color:#2b2b3b !important;
      }
    }
    p,.title,.subtitle,b{
      text-shadow:4px 4px 8px #000A !important
    }
       .noshadblak{
       //color:#2b2b3b !important;
       //text-shadow: none !important;
       
       }
        @media screen and (max-width:750px){
        
        body{
        overflow:hiddens
        }

       .introFloat img{
          opacity:0 !important;
       }
       .navbar-item .title {
        display:none !important;
       }
       .is-ultra{
        font-size:10vh;
        padding-top:120px;
        text-shadow: 1px 1px 2px #000 ;
       }
       .subtitle {
        font-size:16px;
        text-shadow: 1px 1px 2px #000 !important;
       }
       .buttons{
        text-align:center;
       }
      #marq{
        bottom: 0%;
        padding:8px;
        font-size:16px;
        right: 0%;
        width: 100%;
        
    }
    .is-2 b{
      font-size: 18px;
        text-shadow: 0px 0px 4px #000F !important;
    }
    .blocky{
    //background-image:url('https://raw.githubusercontent.com/PolluxBot/Supernova/dev/utils/carbon-gfx/pxtest.png'); 
    //  background-image:url('/images/NOT-xmaspol.png'); 
    background-image:url('/images/polux4.png'); 
    background-position: 50% 20%;
    background-size: cover;
    opacity:1;
    background: linear-gradient(0deg, rgba(239,119,201,.7) 00%,rgba(239,119,201,0.99) 1%,rgba(255,153,215,0) 100%); 
      width: 100vw;
      height: 100vh;
      position: absolute;
      top:0;
      left:0;
      z-index:1;
      animation: fade2 1s both;
    }
    }
    @keyframes fade {
    0% {
     opacity: 0;}
    50% {
      opacity: 0;
      
    }
    100% {
      opacity: .6;
      
    }
    }
    @keyframes fade2 {
    0% {
     opacity: 0;}
    50% {
      opacity: 0;
      
    }
    100% {
      opacity: 1;
      
    }
    }
      @keyframes mark {
    0% {
      opacity: 0;
      transform:translateX(-10%)
    }10% {
      opacity: 0;
      transform:translateX(-10%)
    }

    25% {
      opacity: .8;
      transform:translateX(0)
    }
     75% {
      opacity: .8;
      transform:translateX(0)
    }
    90% {
      opacity: 0;
      transform:translateX(10%)
    }
     100% {
      opacity: 0;
      transform:translateX(10%)
    }
    }

    @keyframes slideR {
    0% {
      opacity: 0;
      transform:translateX(100px)
    }
    100% {
      opacity: 1;
      transform:translateX(0)
    }
    }

      @keyframes slideL {
    0% {
      opacity: 0;
      transform:translateX(-10px)
    }
    100% {
      opacity: 1;
      transform:translateX(0)
    }
    }
        @keyframes slideU {
    0% {
      opacity: 0;
      transform:translateY(-10px)
    }

    100% {
      opacity: 1;
      transform:translateY(0)
    }
    }
           @keyframes slideU2 {
    0% {
      opacity: 0;
     bottom:-375px
    }

    100% {
      opacity: 1;
      bottom:-385px
    }
    }


  /*discord*/
  .widget-channel{
   font-size:8px !important;
  }
  .gaveta{
  transform:scale(.7) translateY(-15%);

  position:absolute;
  left:60%;
  bottom:-385px;
  z-index:2;
  animation: slideU2 1s both;
  animation-delay: 2s;
  transition: all ease .3s

  }

  .gaveta:hover{
  transform:scale(.7)  translateY(-490px);
  transition: all ease .5s

  }

 //-
      let colors = ['info','ruby','purple','pink','dark']
      function randomize(min, max) {
          return Math.floor(Math.random() * (max - min + 1) + min);
      }
      let wata = colors[randomize(0,4)]
 section.nohero.is-fullheight(class='nis-ruby').is-bold
   .is-marginless
      include navbas
      
   .hero-body
     container(style="z-index:2")#bods
      //.discLog.slideL-1s
       img(src="https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png")
      //p.subtitle.slideL-500ms.is-hidden-mobile Hi, I'm
      h1.title.is-ultra.slideL-500ms(style="font-size:18rem !important"): b.noshadblak Pollux
      //p.subtitle.slideL-1s A fancy Maid for fancy Communities
      h2.subtitle.slideL-1s.is-2: b: h2 A Fancy Maid for Fancy Communities
      //iframe.gaveta(src="https://discordapp.com/widget?id=277391723322408960&theme=dark" width="350" height="450" allowtransparency="true" frameborder="10")

      //#marq.is-size-5
       p.noshadblak Definitely the prettiest bot you could possibly find!
      .buttons
        div
          a.button.is-dark.has-addons(href="/invite")
            span.icon.is-pulled-left
              i.fab.fa-discord

            span.divider  &#x2000
            div( style="border-left:1px solid #222;border-right:1px solid #555 ;height:20px")
            span.divider  &#x2001
            span.is-pulled-right Add me to your server
        br
        div
          a.button.is-dark.has-addons(href="/commands")
            span.icon.is-pulled-left
              i.fa.fa-cogs

            span.divider  &#x2000
            div( style="border-left:1px solid #222;border-right:1px solid #555 ;height:20px")
            span.divider  &#x2001
            span.is-pulled-right See my command List
          
        span.divider.is-hidden-mobile  &#x2003  &#x2003

     .blocky.is-hidden-desktop
     .introFloat
       img(src="/polux4.png")
       //img(src="/NOT-xmaspol.png")


block scripts
 script(src="/js/home.js")
