extends layout

block nav
    .hero.is-primary.is-bold
      include navbas

                           

                        
block content
      
      style.
          @media screen and (max-width:800px){

            .smali{
              max-height:200px;
              width:auto;
            }

          }
        #xd{
          padding:16px
        }
        .uu{
        list-style: initial;
        padding:18px
        }
        .tier{
          vertical-align: middle;
          align-items: center;
          display:flex!important
        }
        .shortie{
        text-indent: 25px;
        line-height:16px;
        font-size: .8rem;
        font-style:italic;

        }
        li b, p b{
          color:#ccc
        }
        .zaicon{
          transition: all 1s;
          margin:20px;
        }
        .zaicon:hover{
        
          filter:drop-shadow(0 0 6px rgba(255, 149, 230, 0.4))
        }
        .donatorank{
              width:380px;
              display: flex;
              justify-content: space-between;
              background: #2b2b32;
              padding: 10px 24px;
              margin: 12px;
              border-radius: 5px;
              align-items: center;
            }
            .donatorank .amt{
              font-size: 28px;
            }

      .nano: .nano-content: .container#xd
        .level
        .level-item
        .container()
          .level-left
              div
                p.title: b Pollux Overclock 
          .level-item
              p.subtitle Support Pollux, get some extra-fancy rewards and <i>overclock</i> your experience. 
          hr
          .columns
            .column.is-8
                .columns
                  //.column.is-1
                  .column.is-6
                    br
                    br
                    br
                    p Pollux is, and always will be, free. Everyone can have fun with her without any kind of cost. But we all know that this much awesomeness has a price, from the Server expenses, to some service fees for making commands look and feel awesome the way they are, like Google Cloud, Shutterstock and even some individual artists.
                    br

                    p That's why donations are always welcome, so more and better stuff can happen, as well as motivate the creator to keep working on it!
                    .level.is-mobile
                      .level-item
                      .level-item
                        a(href="https://goo.gl/gNkXh3"): img.smali(src="/medals/paypal.png").zaicon
                      .level-item
                        a(href="http://patreon.com/Pollux"): img.smali(src="/medals/patreon.png").zaicon
                      .level-item

                  .column.is-6
                    img(src="/images/poly.png" style="transform: scaleX(-1);")

                hr
                div
                  .columns
                    //.column.is-1
                    .column.is-auto
                      p.title.is-marginless: b Donating and Supporting Pollux
                      p.subtitle.is-marginless  You can show Polly your ultimate love in four ways:
                      ul.is-paddingless
                        li <a href="https://goo.gl/gNkXh3"> PayPal</a>
                        li <a href="http://patreon.com/Pollux">Patreon</a>
                        li <b>Pagseguro</b> (Check FAQ at our Discord Server)
                        li <b>Bitcoin</b> :: 1QBobEQnrKgox18R2cL8Tu69Cxw6uqcWmw
                      br
                      p.is-marginless  Donations has different tiers depending on the amount.
                      p: b This page is being reworked to fit 4 new donation tiers. Meanwhile, use the patreon tiers as reference.

            .column.is-auto
                //.container
                .title Top Donators
                .subtitle All-time largest supporters of this project.

                -
                    var tops =[
                         {
                           "AMOUNT": 494,
                           "ID": 155323155735511040
                         },
                         {
                           "AMOUNT": 550,
                           "ID": 322657736611332100
                         },
                         {
                           "AMOUNT": 325,
                           "ID": 423244015455043650
                         },
                         {
                           "AMOUNT": 300,
                           "ID": 302638230594125800
                         },
                         {
                           "AMOUNT": 225,
                           "ID": 409480390303285250
                         },
                         {
                           "AMOUNT": 175,
                           "ID": 114115657871654910
                         },
                         {
                           "AMOUNT": 275,
                           "ID": 162775244124192769
                         },  
                         {
                           "AMOUNT": 115,
                           "ID": 155039424650936320
                         },
                         {
                           "AMOUNT": 80,
                           "ID": 180653744466296830
                         },
                         {
                           "AMOUNT": 65,
                           "ID": 193021560792154100
                         },
                         {
                           "AMOUNT": 75,
                           "ID": 310296184436817900
                         },
                         {
                           "AMOUNT": 75,
                           "ID": 281629327551102980
                         }
                        ].sort(function(a, b) {
                            return b.AMOUNT-a.AMOUNT;
                          }).slice(0,9);


                each u in tops
                    -let user = donorsbase.find(uu=>uu.id == u.ID);
                    .donatorank
                        .avi: img(src=user.meta.avatar width="50px")
                        .name= user.meta.tag
                        .amt= "$"+ u.AMOUNT


        //hr

            //.container
              .columns
                .column.is-1
                .column.is-4.level.tier
                  img.smali(src="/images/donate/aluminium.png" ).floatnglow
                .column.is-6
                  p.title: b Aluminium Donator (10$)
                  p.shortie Aluminium is remarkable for the metal's low density and its ability to resist corrosion through the phenomenon of passivation. Aluminium and its alloys are vital to the aerospace industry and important in transportation and building industries.
                  hr
                  p A humble gesture of kindness towards our beloved robotic maid.<br> By pledging $2 at Pollux's Patreon, or $10 on PayPal* you will receive the <b>Aluminium Donor</b> Title, which includes these little perks.
                    ul.uu
                      li The "Donator" and "Aluminium" Roles in Pollux' Offical Discord Server
                      li Access to some more reserved chatrooms away from the mess from #general
                      //li A cute little Donator Medal for your profile
                      li A fancy frame for your profilecard like this:
                      a(href="/images/donate/444.png" data-lightbox="roadtrip") 
                        img.smali(src="/images/donate/444.png" width="250px")
                  .column.is-1

              hr
              .columns
                .column.is-1
                img.smali(src="/images/donate/iridium.png" ).floatnglow.is-hidden-desktop
                .column.is-6
                  p.title: b Iridium Donator  (30$)
                  p.shortie Iridium the most corrosion-resistant metal, even at temperatures as high as 2000 °C. Although only certain molten salts and halogens are corrosive to solid iridium, finely divided iridium dust is much more reactive and can be flammable.
                  hr
                  p Some nice display of affection to our dear Polly.<br> By pledging $5 at Pollux's Patreon, or $30 on PayPal* you will receive the <b>Iridium Donor</b> Title, which includes these little perks.
                    ul.uu
                      li The "Donator" and "Iridium" Roles in Pollux' Offical Discord Server
                      li Access to some more reserved chatrooms away from the mess from #general
                      li: b Access to #priority-support Channel
                      li: b Monthly Exclusive Profile Sticker
                      li: b You can have one command exclusively for you, you decide whether it is public or private, or if has different responses for you and others.
                      li: b 5 Sapphires, our ultra-valuable Donator Currency worth about 5000 Rubines. You cannot convert them into Rubines though.
                      li Your fancy frame now will look like this:
                      a(href="/images/donate/333.png" data-lightbox="roadtrip") 
                        img.smali(src="/images/donate/333.png" width="250px")
                .column.is-4.level.tier
                  img.smali(src="/images/donate/iridium.png" ).floatnglow.is-hidden-mobile
                  .column.is-1


              hr
              .columns
                .column.is-1
                .column.is-4.level.tier
                  img.smali(src="/images/donate/palladium.png" ).floatnglow
                  br
                  br
                .column.is-6
                  p.title: b Palladium Donator (75$)
                  p.shortie Palladium is a rare and lustrous silvery-white metal used with electronics in mulilayer ceramic capacitors in which palladium (and palladium-silver alloy) is used for electrodes. Named after Greek and Roman mythology'sPalladion, a cul image of great antiquity on which the safety of Troy and later Rome was said to depend.
                  hr
                  p An incredible sign of <strike>madness</strike> love for this pile of wires and circuits. No words can describe how thankful.uu we are for your support. As well as the greek Palladionwas Troy's protector, you surely have your part in protecting this project. <br>Literally, "pledge to protect", by pledging $15 at Pollux's Patreon, or $75 on PayPal* you will receive the <b>Palladium Donor</b> Title, which includes these little perks.
                    ul.uu
                      li The "Donator" and "Palladium" Roles in Pollux' Offical Discord Server
                      li Access to some more reserved chatrooms away from the mess from #general
                      //li A cute little Donator Medal for your profile
                      li: b Access to #priority-support Channel
                      li: b Monthly Exclusive Profile Sticker + Last Month's Sticker
                      li You can have one command exclusively for you, you decide whether it is public or private, or if has different responses for you and others.
                      li 15 Sapphires, our ultra-valuable Donator Currency worth about 25k Rubines. You cannot convert them into Rubines though.
                      //li: b You earn one of Pollux's greatest treasures: Cherry Modules, which are <i>cherry</i>-picked modules that will serve a very specific purpose to your own server. You can choose up to 5 custom functionalities on this module. 
                      li: b Dailies go up to 300
                      //li: b Lootbox Rerolls increased in +2
                      //li: b Daily Rare Lootbox for as long as your pledge lasts.
                      li Your already very fancy frame now becomes this:
                      a(href="/images/donate/222.png" data-lightbox="roadtrip") 
                        img.smali(src="/images/donate/222.png" width="250px")
                  .column.is-1


              hr
              .columns
                .column.is-1
                  img.smali(src="/images/donate/uranium.png" ).floatnglow.is-hidden-desktop
                .column.is-6
                  p.title: b URANIUM Donator (50$ monthly / 250$ 6-month)
                  p.shortie  Uranium has the highest atomic weight of the primordially occurring elements. Its density is about 70% higher than that of lead, and slightly lower than that of gold or tungsten. Contemporary uses of uranium exploit  its unique nuclear properties. Uranium-235 is the only naturally occurring fissile isotope, which makes it widely used in nuclear power plants and nuclear weapons.
                  hr
                  p I don't know why would anyone donate this much, but the tier is here just in case, if anyone ever reach this level of love for our beep-boopy robotic maid, surely there will be a worldwide announcement of your kindness, alongside with a whole array of goodies.<br>Pledging $50 at Pollux's Patreon, or $250+ on PayPal** you will receive the <b>Uranium Donor</b> Title, which includes these awesome perks.
                    ul.uu
                      li The "Ultimate Donator" and "Uranium" Roles in Pollux' Offical Discord Server.
                      li Access to some more reserved chatrooms away from the mess from #general, including staff voice channels.
                      li A cute little Donator Medal for your profile
                      li You can have one command exclusively for you, you decide whether it is public or private, or if has different responses for you and others.
                      li 50 Sapphires, our ultra-valuable Donator Currency worth about 60k Rubines. You cannot convert them into Rubines though.
                      li: b You earn a Cherry Module for up to 3 servers. You can choose up to 5 custom functionalities on this module for each, or 1 module with up to 15 functionalities.  
                      li: b Dailies go up to 250 
                      li: b Lootbox Rerolls increased in +3
                      li: b Daily Super Rare Lootbox for as long as your pledge lasts.
                      //li: b Access to the "Occult Shop", which sells real-world goodies for Sapphires and Rubines***.
                      li You want fancy frames? fancy frames you will have:
                      a(href="/images/donate/111.png" data-lightbox="roadtrip") 
                        img.smali(src="/images/donate/111.png" width="250px")
                .column.is-4.level.tier
                  img.smali(src="/images/donate/uranium.png" ).floatnglow.is-hidden-mobile
                  br
                  br
                .column.is-1
              hr    
              .columns.is-mobile
                .column.is-1
                .column.is-4
                  small    
                    p.b500: b OK U F*CKER I'VE SEEN THE ASTERISKS! TELL ME WHAT ARE THEY.
                    p Well, since monthly supporters and one-time supporters are two entirely different things, we must sepparate their stuff.
                .column.is-auto
                  small    
                    ul.uu.is-paddingless 
                      li (*) For PayPal oneshot-ers, rewards expire after 6 months
                      li (**) For PayPal oneshot-ers, rewards expire after 8 months
                      li (***) For Patreon pledgers, this reward require you to be donating for at least 3 months, usable once a week.




block scripts
  script(src='/js/truelite.js')
        
