extends layout
block content

  .hero.is-pink.is-bold
    include navbas



  .is-fullwidth.nano: .nano-content
    br
    .container
      .title: b Events
      .subtitle Special events made from time to time
    hr
    .container
      .section
        .title Ongoing
        .subtitle Events happening right now
        hr
        br
      .section
        .title Upcoming
        .subtitle Events starting soon
        hr
              
        
        br
      .section
        .title Past
        .subtitle Events that are no longer running
        hr
        
        .message
          .message-header Halloween Event : Gravedigging Tomblifters
          .message-body
            .columns 
              .column.is-2
                img(src="/build/event/halloween18/logo.png" width="200px").level-left
              .column.is-3            
                div 
                  p From November 1st 2018 to November 18th 2018
                  a(href="/events/halloween18"): .button More Info
              .column.is-auto            
                .box.is-purple
                  p Get your shovel, dig out coffins, and use their clothes as spook fuel for trick or treating!
                  p The more spooky you are, more candy. And more candy means... well, see by yourself!
        .message
          .message-header Solstice Event : Flowers and Snowflakes
          .message-body
            .columns 
              .column.is-2
                img(src="/images/event/logo_en.png" width="200px").level-left
              .column.is-3            
                div 
                  p From September 2nd 2018 to October 10th 2018
                  a(href="/events/solstice18"): .button More Info
              .column.is-auto            
                .box.is-purple
                  p Choose your favorite among the two mascots and collect Flowers and Snowflakes to offer to Summer and Winter spirits. You can only represent one team, no going back. So choose wisely!
                  p Each priestess has their own set of rewards throughout the event, stick with the team that you like the rewards the most!        
              
        .message
          .message-header Easter 2018
          .message-body
            .columns 
              .column.is-2
                img(src="/images/easterev18.png" width="200px").level-left
              .column.is-3            
                div 
                  p From April 1st 2018 to April 22nd 2018
                  a(href="/events/easter2018"): .button More info! 
              .column.is-auto            
                .box.is-purple
                  p Collect and trade eggs around and exchange them for Pollux Goodies!
        .message
          .message-header Christmas Event: PolluXmas
          .message-body
            .columns 
              .column.is-2
                img(src="/images/polluxmas.png" width="200px").level-left
              .column.is-3            
                div 
                  p From December 18th 2017 to January 5th 2018
                  a(href="/events/xmas17"): .button More info! 
              .column.is-auto            
                .box.is-purple
                  p Pieces of toys for Santa's assembly factories were lost during shipping. Most of them were recovered, except for the winding keys. Two elves were assigned to recover them, you should collect them and give to them, the global event payout will depend on how much they can collect.
                  p Each elf has special abilities that will help you get event cosmetics for your profile.
              
        .message
          .message-header Halloween Event
          .message-body
            .columns 
              .column.is-2
                img(src="/images/halloween_2017.png" width="200px").level-left
              .column.is-3
     
                div 
                  p From October 15th 2017 to November 5th 2017
                  a(href="/events/halloween_2017"): .button More info! 
       
              .column.is-auto
                .box.is-purple
                  p Collect candies around with <code>p!trickortreat</code> and get Ranked to earn lots of exclusive goodies!
                  p Random Event Lootbox drops within servers!
             
        

block scripts
