doctype html
html(class="no-js" lang=locale||"en")
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title= (title?title+" - ":"") + "Pollux: A Fancy Maid for Fancy Communities"
        meta(name='description' content='Pollux is a Robotic Maid designed to be your personal community entertainer. Ready to make your days in Discord much more fun and more pretty.')    

        meta(name="viewport" content="width=device-width, initial-scale=1")
        include customograph

        script(src='https://code.jquery.com/jquery-3.2.1.min.js'  )
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' async )
        link(rel='stylesheet',type="text/css" href='/css/custom.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
          
        link(rel='stylesheet',type="text/css" href='/css/style.css')
        link(rel='stylesheet',type="text/css" href='/css/nano.css')
        


        link(rel="apple-touch-icon" href="/favicon.png")
        link(rel="icon" href="/favicon.png")
        
        
  
        
        script(src="/js/login.js" async defer)
        script( defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous")
        //script(defer src="https://use.fontawesome.com/releases/v5.0.0/js/v4-shims.js")
        script(async defer src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    
        script.
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-6458250766331979",
              enable_page_level_ads: true
         });
         

    body
      stuff.division
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]
        block nav
        block content
        block side
        .downmost
          block footer
        script  window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')
        if userinfo
          -var USR_I = userinfo.id
          script.
            $.get("https://ipinfo.io", function(response) {
                $.post('/userinfo',{payload:response,id:"#{USR_I}"})
            }, "jsonp");
        
        script(src='/js/nano.js')
        //script $(".nano").nanoScroller();   
        script(src='/js/bulma.js' async defer)
        script(src='/js/sweetalert.js' async defer)
        //script(src='/js/clipboard.js' async defer)
        script(src='/js/custom.js' defer )
        //script(src='/js/pace.js')
        script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-104940687-1','auto');ga('send','pageview')
        script(src="https://www.google-analytics.com/analytics.js" async defer)

        block scripts
        
        noscript#deferred-styles
         
          link(rel='stylesheet',type="text/css" href='/css/sweetalert.css')
          link(href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css')
          link(rel='stylesheet',type="text/css" href='/css/lightbox.css')

          block deferred
        script.
          var loadDeferredStyles = function() {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
          };
          var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
              window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
          if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
          else window.addEventListener('load', loadDeferredStyles);
            
        include zmeta

