extends layout

block head
  title "Membership Required"
block content
  .hero.is-primary
    include navbas

  .section.is-fluid
    .title: b Hold up!
    .subtitle You're not a member of this server. Only members can access Partner Shops!
    .container
      p If you are seeing this even being member of this Server, please logout and login! 
