doctype html
html.no-js( lang=locale||"en" ).cl-preload
  head
    //
      - basic page needs
      ==================================================
    meta(charset='utf-8')
    title= (title?title+" - ":"") + "Pollux: A Fancy Maid for Fancy Communities"
    include customograph
    //
      mobile specific metas
      ==================================================
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      CSS
      ==================================================
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    link(rel='preload', href='/css/main.css' as="style")
    link(rel='preload', href='/js/main.js' as="script")
    
    link(rel='stylesheet', href='/css/nano.css')
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/css/fa.css')

        
    //
      script
      ==================================================

  
    script(src='/js/pace.min.js')
    script(src="/js/login.js" async defer)
    script( defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous")
    script(src='/js/modernizr.js')
    script(src='/js/custom.js')
    

    //
      favicons
      ==================================================
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
  body#top
    //
      preloader
      ==================================================
    #preloader(style="  position: fixed;  top: 0;  left: 0;  right: 0;  bottom: 0;  background: #050505;  z-index: 800;  height: 100%;  width: 100%;")
      #loader  
    //
      header
      ==================================================
    header.s-header
      include navbas_home
      //.header-logo
        a.site-logo(href='index.html')
          img(src='//images/logo.svg', alt='Homepage')
      // end header-logo
      include navbas_bobile
        // end header-nav__content
      // end header-nav
      a.header-menu-toggle(href='#0').is-hidden-desktop
        span.header-menu-icon
    // end s-header
    //
      home
      ==================================================
    //section#home.s-home.target-section(data-parallax='scroll', data-image-src='/images/hero-bg.jpg', data-natural-width='3000', data-natural-height='2000', data-position-y='top')
    section#home.s-home.target-section.parallax-window(data-parallax='scroll', data-natural-width='3000', data-natural-height='2000', data-position-y='top')
      .parallax-slider
        video#bghex(autoplay='', muted='', loop='')
            source(src='/video/polluxhexa.webm', type='video/webm')
      //section#home.s-home.target-section.video-wrap
        .parallax-window(data-parallax='scroll', data-natural-width='3000', data-natural-height='2000', data-position-y='top'): .parallax-slider
          video#bghex(autoplay='', muted='', loop='')
            source(src='/video/polluxhexa.webm', type='video/webm')
    
      .shadow-overlay
      .polluxi_intro.polluxi: img(src="/images/polux4.png").slideR
      .home-content
        .row.home-content__main
          h1
            | Pollux
          p
            | A fancy maid for fancy communities
        // end home-content__main
      // end home-content
      ul.home-sidelinks
        li.del1
          a.smoothscroll(href='#intro')
            | Intro
            span What can I do for you
        li.del2
          a.smoothscroll(href='#feats')
            | Feats
            span My flagship features no other can beat!
        li.del3
          a.smoothscroll(href='#about')
            | Info
            span A little about me
        li.del4
          a.smoothscroll(href='#team')
            | Team
            span The makers
        li.del5
          a.smoothscroll(href='#quickie')
            | Quick Guide
            span Getting Started
      // end home-sidelinks
      ul.home-social
        li.home-social-title Find me elsewhere
        li
          a(href='#0')
            i.fab.fa-reddit
            span.home-social-text &#x2002;Subreddit
        li
          a(href='#0')
            i.fab.fa-twitter
            span.home-social-text &#x2002;Twitter
        li
          a(href='#0')
            i.fab.fa-steam
            span.home-social-text &#x2002;Steam
      // end home-social
      a.home-scroll.smoothscroll(href='#info')
        span.home-scroll__text Check me out!
        span.home-scroll__icon
      // end home-scroll
    // end s-home
    //
      about
      ==================================================
    
    section#intro.s-about
      .row.section-header(data-aos='fade-up').ind2
        .col-full
          h3.subhead About Pollux
          h1.display-1
            | Pollux is an artificially engineered maid, a community-driven assistant, one of its kind.
      // end section-header
      .row(data-aos='fade-up').ind2
        .col-full
          p.lead
            | Pollux is a web-idol with some bits of utility. All her aspects were designed in a way people can feel her as part of the community instead of just yet another tool. With a strong visual presence and bold personality injected in <i>her</i> wordings, Pollux manages to captivate users better and make them feel more comfortable around. Pollux is here to replace boring impersonal bots and enhance the social aspect of your community.
      // end about-desc
      .row
        .about-process.process.block-1-2.block-tab-full
          .process__vline-left
          .process__vline-right
          .col-block.process__col(data-item='1', data-aos='fade-right', data-aos-delay='100')
            .process__text
              h4 No boring passive speech
              p
                | In general, bots are boring. They speak in a dull, overly formal, and sound like call-center attendants.
                | Those that try to break the ice on that either tend to look unpolished due to overly colloquial wording, or just a reflex of the developer themself.
                | Pollux's wordings are constantly being improved to give the impression of a unique personality, which makes her less boring, and more lovable.
                | Some of Pollux's unusual quotes and responses are often commented around, a little trick to hook some random conversation.
                
          .col-block.process__col(data-item='2', data-aos='fade-left', data-aos-delay='200')
            .process__text
              h4 Balance between usability and utility
              p
                | Bot developers are... well... programmers. They can code very well and do things that work, pragmatism at its finest.
                | But just like engineers, they forget completely that "it works" is not enough, people should be able to use it intuitively, and any means of interface, be it visual or textual, should feel natural and look good so eye-browsing isnt a painful task.
                | Pollux is created by a Visual/UX Designer that for some reason can code. This puts Pollux in the sweetspot between utility, usability and presentation.
                
          .col-block.process__col(data-item='3', data-aos='fade-right', data-aos-delay='300')
            .process__text
              h4 Eye candy up to eleven!
              p
                | In a text-based service, the easiest and fastest solution is text-based responses and "fun", that's also the most boring.
                | Pollux has the most visually appealing minigames, profiles, cosmetics, and even the website!
                | Even if Pollux does something identical to someone else, she will probably do it in a fancier and eye-pleasing way, so why use boring ascii-based stuff when you can get exciting visuals too?
                
          .col-block.process__col(data-item='4', data-aos='fade-left', data-aos-delay='400')
            .process__text
              h4 A healthy community of its own
              p
                | Pollux draws in too much love, so our "support" server is usually bustling with friendly people.                
                | We also have some in-house mini-events and giveaways to our fellow Polluxlings, so if you're a wanderer, consider joining for a stay at Pollux's Mansion~.
                | Pollux's community is intertwined with our <a href="/partners">partnership network</a>, everyone helping each other in keeping their communities neat and tidy.
                
        // end process
      // end about-stats
    // end s-about
    //
      services
      ==================================================
    section#feats.s-services.light-gray
      .polluxi-right.polluxi: img(src="/images/NOT-xmaspol.png" data-aos='fade-right')
      .row.section-header(data-aos='fade-up')
        .col-full
          h3.subhead Pollux's feats
          h1.display-1 Pollux is novelty-oriented , not your regular "multipurpose" bot
      // end section-header
      .row(data-aos='fade-up')
        .col-full
          p.lead
            | Bots tend to be clunkered with all sorts of commands summing up to a bazillion unique ultrafun commands for everything. 
            | Even though havin a lot of commands is good so it saves you from adding 5 different bots just to achieve specific functions. It also means they're jack of all trades, but master of none.
            | We have enough music bots, enough moderation bots, enough bots in general.
            | What Pollux tries to achieve is master what these do poorly and did little or nothing to improve. Because<i> it just works</i>. 
      // end about-desc
      .row.services-list.block-1-3.block-m-1-2.block-tab-full
        .col-block.service-item(data-aos='fade-down-right' data-aos-offset='500')
          .service-icon.service-icon--brand-identity
            //i.icon-tv
            i.far.fa-gem
          .service-text
            h3.h4 Solid and dynamic economy system
            p Pollux has three internal currencies: Jades dust, worthless but useful for crafting. Rubine gems, the main currency which can buy anything if you have enough of them. And Sapphire shards, which are the premium currency available only during events or for donators. 
            //ul 
              li Jade Dust: These greenish gems has little to no value, but are useful in crafting cool items to be used with other functionalities!
              li Rubine Gems: Our main and public currency, everything can be bought with it. Prices of cosmetics can fluctuate depending on Rubines volume, you can also exchange them for other bots' currencies!
              li Sapphire Shards: The ultimate premium currency, these can only be obtained in really rare ocasions like Events or when you get your daily bonus 200x in a row. Donators receive a bunch of them monthly depending on their contribution, they can also be bought sepparately with smaller donations <a href="/store">here</a>!
        .col-block.service-item(data-aos='fade-down' data-aos-offset='500')
          .service-icon.service-icon--illustration
            i.fas.fa-cubes 
          .service-text
            h3.h4 A ton of cosmetics.. with Lootboxes!
            p Pollux has over 1000 options of cosmetics to decorate your PPC (Pollux Profile Card), you can do infinite combinations of Backgrounds, Medals, Flairs, Stickers and on top of thet set a unique accent color to it. All of these items can be obtained wither from one of the Rubine shops, or from Lootboxes that are dropped every so often in servers. 
        .col-block.service-item(data-aos='fade-down-left' data-aos-offset='500')
          .service-icon.service-icon--web-design
            i.fas.fa-paint-brush 
          .service-text
            h3.h4 Original concepts and artwork
            p Unlike 99.9% of all bots out there, Pollux was created originally to fit the role as your virtual maid, with a lot of tiny details, personality, and featuring several pieces of artwork. In addition to Pollux herself, there's an ever growing roster of side-characters with some degree of depth to add more color to things like events, for extra delight of roleplay-driven users.
            
        .col-block.service-item(data-aos='fade-up-right')
          .service-icon.service-icon--product-strategy
            i.fa.fa-retweet 
          .service-text
            h3.h4 Cross-server and cross-bot feats
            p Pollux doesn't limit herself to the island of your server, or even to herself. Pollux can exchange her currencies with other bots that participate in the Discoin service, like DiscordTel, Dice, and Elite Looter, to name a few. You can also import your Profile Data from Pollux to other bots like Loritta. 
            //p Some of Pollux's features are made to increase cross-server interaction
            
        .col-block.service-item(data-aos='fade-up')
          .service-icon.service-icon--ui-design
            i.fa.fa-crosshairs 
          .service-text
            h3.h4 We take your fun seriously
            p Also unlike 99.9% of all bots over there. Pollux has a staff branch dedicated entirely to investigate unfair advantages obtained from bugs, selfbots, macros, bot farming servers, and general spamming/flooding. As well as mechanisms to detect those and penalise cheaters on-spot. We enforce fair play so everyone can have fun without compromising the economy and leaderboards ecosystem.
            
        .col-block.service-item(data-aos='fade-up-left')
          .service-icon.service-icon--mobile-dev
            i.fas.fa-sun 
          .service-text
            h3.h4 Global Events! Only with Pollux 
            p And finally, unlike 100% of other bots, Pollux is the first (and so far the only) to provide Global events every so often. Events are unique periods where a specific theme is used to promote special hunting/collecting games, rewarding users with exclusive thematic cosmetics that are then rendered unavailable for the rest of the year, or even forever (these items does not count on the completionist %). 
      // end services-list
    // end s-services
    //
      stats
      ==================================================
    section#info.s-blue
      //section.s-blue
      .row.section-header(data-aos='fade-up')
        .col-eight
          .col-full
            h3.subhead.subhead--light General Information
            h1.display-1.display-1--light
              | A bit more about this maid
          .row(data-aos='fade-up')
            .col-full
              p.lead
                | Pollux started as a semiprivate bot, originally for the Skynet Maid Cafe Server as a mascot. Within a few months Pollux was wandering around some other servers until she became public. 
              p.lead
                | As soon as she reached about 500 servers, in July 2017, a refactor featuring the first original design and the current Pollux we know today was made. And since then, her reputation and love has increased over the time.
              p
                | Pollux has been through a lot. But always keeping up and going. Pollux's development is slow due to its single-dev nature, but that also ensures it follows all the design principles strictly and also allows for a more robust way of implementing things.
              p
                |She's by any means a role model of her kind, but can be said is one of the few being constantly changed down to the core. 

        .col-four
          .blueprint
            video(autoplay loop style="height:100%") NO VIDEO SUPPORT
              source(src="/video/polluxblue.webm" type="video/mp4")        

    section#stats.s-stats
      .row.section-header(data-aos='fade-down')
        p
          | Not that we care about numbers, but these are Pollux metrics over about a year of public lifetime
      .row.stats.block-1-4.block-m-1-2.block-mob-full(data-aos='fade-up')
        .col-block.stats__col
          .stats__count 10273
          h5 Discord Servers
        .col-block.stats__col
          .stats__count 328744
          h5 Users
        .col-block.stats__col
          .stats__count 983.53
          h5 Dollars Spent
        .col-block.stats__col
          .stats__count 1076
          h5 Collectibles
      // end stats
    // end s-stats
    //
      works
      ==================================================
    section#team.s-works
      .row.section-header(data-aos='fade-up')
        .col-full
          h3.subhead The Pollux Team
          h1.display-1
            | Ok, so... who's creating all this stuff?
      // end section-header
      //.row.masonry-wrap
        .masonry
          .masonry__brick(data-aos='fade-up')
            .item-folio
              .item-folio__thumb
                a.thumb-link(href='images/portfolio/gallery/g-lamp.jpg', title='Lamp', data-size='1050x700')
                  img(src='/images/portfolio/lamp.jpg', srcset='images/portfolio/lamp.jpg 1x, images/portfolio/lamp@2x.jpg 2x', alt='')
              .item-folio__text
                h3.item-folio__title
                  | Lamp
                p.item-folio__cat
                  | Web Design
              a.item-folio__project-link(href='https://www.behance.net/', title='Project link')
                | Project Link
              .item-folio__caption
                p
                  | Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.
            // end item-folio
          // end masonry__brick
          .masonry__brick(data-aos='fade-up')
            .item-folio
              .item-folio__thumb
                a.thumb-link(href='images/portfolio/gallery/g-salad.jpg', title='Salad', data-size='1050x700')
                  img(src='/images/portfolio/salad.jpg', srcset='images/portfolio/salad.jpg 1x, images/portfolio/salad@2x.jpg 2x', alt='')
              .item-folio__text
                h3.item-folio__title
                  | Salad
                p.item-folio__cat
                  | Branding
              a.item-folio__project-link(href='https://www.behance.net/', title='Project link')
                | Project Link
              span.item-folio__caption
                p
                  | Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.
            // end item-folio
          // end masonry__brick
          .masonry__brick(data-aos='fade-up')
            .item-folio
              .item-folio__thumb
                a.thumb-link(href='images/portfolio/gallery/g-woodcraft.jpg', title='Woodcraft', data-size='1050x700')
                  img(src='/images/portfolio/woodcraft.jpg', srcset='images/portfolio/woodcraft.jpg 1x, images/portfolio/woodcraft@2x.jpg 2x', alt='')
              .item-folio__text
                h3.item-folio__title
                  | Woodcraft
                p.item-folio__cat
                  | Branding
              a.item-folio__project-link(href='https://www.behance.net/', title='Project link')
                | Project Link
              span.item-folio__caption
                p
                  | Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.
            // end item-folio
          // end masonry__brick
          .masonry__brick(data-aos='fade-up')
            .item-folio
              .item-folio__thumb
                a.thumb-link(href='images/portfolio/gallery/g-liberty.jpg', title='Liberty', data-size='1050x700')
                  img(src='/images/portfolio/liberty.jpg', srcset='images/portfolio/liberty.jpg 1x, images/portfolio/liberty@2x.jpg 2x', alt='')
              .item-folio__text
                h3.item-folio__title
                  | Liberty
                p.item-folio__cat
                  | Web Development
              a.item-folio__project-link(href='https://www.behance.net/', title='Project link')
                | Project Link
              span.item-folio__caption
                p
                  | Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.
            // end item-folio
          // end masonry__brick
          .masonry__brick(data-aos='fade-up')
            .item-folio
              .item-folio__thumb
                a.thumb-link(href='images/portfolio/gallery/g-fuji.jpg', title='Fuji', data-size='1050x700')
                  img(src='/images/portfolio/fuji.jpg', srcset='images/portfolio/fuji.jpg 1x, images/portfolio/fuji@2x.jpg 2x', alt='')
              .item-folio__text
                h3.item-folio__title
                  | Fuji
                p.item-folio__cat
                  | Web Design
              a.item-folio__project-link(href='https://www.behance.net/', title='Project link')
                | Project Link
              span.item-folio__caption
                p
                  | Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.
            // end item-folio
          // end masonry__brick
          .masonry__brick(data-aos='fade-up')
            .item-folio
              .item-folio__thumb
                a.thumb-link(href='images/portfolio/gallery/g-shutterbug.jpg', title='Shutterbug', data-size='1050x700')
                  img(src='/images/portfolio/shutterbug.jpg', srcset='images/portfolio/shutterbug.jpg 1x, images/portfolio/shutterbug@2x.jpg 2x', alt='')
              .item-folio__text
                h3.item-folio__title
                  | Lady Shutterbug
                p.item-folio__cat
                  | Branding
              a.item-folio__project-link(href='https://www.behance.net/', title='Project link')
                | Project Link
              span.item-folio__caption
                p
                  | Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.
            // end item-folio
          // end masonry__brick
        // end masonry
      // end masonry-wrap
      .testimonials-wrap(data-aos='fade-up')
        .row
          .col-full.testimonials-header
            h2.h1 Pollux was created, designed, programmed, and whatevered by
        .row.testimonials
          .col-full(style="padding: 0 calc(20vw - 50px)")
            .testimonials__slide
              img.testimonials__avatar(src='https://cdna.artstation.com/p/assets/images/images/003/904/038/20161109093547/smaller_square/lucas-flicky-fus.jpg?1478705748', alt='Author image')
              p Visual Designer that actually works with Tech and UX stuff in some major TV Broadcaster somewhere in the 30° parallel in South America. Former soundtrack composer and enthusiast developer. Kinda likes airplanes... just a bit. Started working on Pollux as a just for fun thing and now wishes Earth days had 32 hours ...
              .testimonials__author
                | Flicky
                span Creator, Developer, Designer, Illustrator... basically everything.
            // end testimonials__slide
        .row
          .col-full.testimonials-header
            h3.h2 And is maintained with some aid of this awesome squad of volunteer contributors
        .row.testimonials
          .col-full.testimonials__slider
            .testimonials__slide
              img.testimonials__avatar(src='/images/elec.png', alt='Author image')
              p Grumpy Czech student of IT and Economics, internationally known for two things: Banning and Blacklisting the shit out of people, and sleeping in a train to wake up in a whole another country.
              .testimonials__author
                | Electricas
                span Pollux community Global Supermod, Translator (CZ)
            // end testimonials__slide
            .testimonials__slide
              img.testimonials__avatar(src='/images/saito.png', alt='Author image')
              p The most passionate Dark Souls player in existance, professional RTS player regardless of he saying otherwise. Silently prevents chaos upon the Brazilian niche of the community.
              .testimonials__author
                | Saitore
                span Pollux community Brazil Supermod
            // end testimonials__slide
            .testimonials__slide
              img.testimonials__avatar(src='/images/akira.jpg', alt='Author image')
              p An undead passerby that lurks in the shadows with his all-seeing eyes since Pollux was a baby, you may hate him, but he doesn't care, energy is being wasted while he judges your human triviality. 
              .testimonials__author
                | Akira/Shinigami
                span Honorary Moderator
            .testimonials__slide
              img.testimonials__avatar(src='/images/lea.jpg', alt='Author image')
              p Spanish illustrator, author of Teach me to Kill webcomic. Has a particularly great taste for picking cosmetics, also leads Pollux's Spanish translation.
              .testimonials__author
                | Leah
                span Translator (ES), Cosmetics Hunting Assistant
            // end testimonials__slide
            .testimonials__slide
              img.testimonials__avatar(src='/images/corthlan.png', alt='Author image')
              p The pride of America, stripes and stars forever! He helps us in the shadows pointing out dev f*ck ups and helping to shoot them down when he's not ruling his empire in distant lands.
              .testimonials__author
                | Corthlan
                span Staff Ambassador, English proofreader
            // end testimonials__slide
            .testimonials__slide
              img.testimonials__avatar(src='/images/leena.png', alt='Author image')
              p Brazilian bibliotechnician-in-progress, guides lost souls in support channels as well as lending some hand in our cosmetics hunt.
              .testimonials__author
                | Leena
                span Support Helper, Cosmetics Hunting Assistant
            .testimonials__slide
              img.testimonials__avatar(src='/images/hunter.png', alt='Author image')
              p Yet another Brazilian support soul guiding  dude, also lending some hand in our cosmetics hunt, especially weeb stuff.
              .testimonials__author
                | Hunter
                span Support Helper, Cosmetics Hunting Assistant
            // end testimonials__slide
            //.testimonials__slide
              img.testimonials__avatar(src='/images/avatars/user-02.jpg', alt='Author image')
              p Professional translator, helped a lot in reducing the amount of mess in the translation process. 
              .testimonials__author
                | Nyksund
                span Translator (PT-BR), Localisation Advisor
            // end testimonials__slide
          // end testimonials__slider
        // end testimonials
      // end testimonials-wrap
    // end s-works
    //
      contact
      ==================================================
    section#quickie.s-contact
      .row.section-header(data-aos='fade-up')
        .col-full
          h3.subhead.subhead--light Newbies Guide
          h1.display-1.display-1--light
            | How to Pollux 101
      .row(data-aos='fade-up')
        .col-full
          p.lead
            | Pollux can be potentially complex depending on your needs. So here's a really compact intro to get started with Pollux:

      .row
        p.lead: i I want Pollux for
        .col-five.tab-full.contact-secondary(data-aos='fade-up')
          h3.subhead.subhead--light Softmod and User Management 
          p.lead
            | Moderation is not Pollux's focus, but she provides some features on that.
          ul
            li 
              span Use 
              code p!modrole [@Role]
              span to assign a moderation/administrative role. These users can edit server settings in the <a href=/dashboard>Dashboard</a>
            li 
              span Use 
              code p!muterole [@Role]
              span to assign a role for muted users. These users cannot type in any channels.
            li 
              span Automatic roles added to users in certain levels can be set up only in the Dashboard. Insert the role, and the level. 0 to add it upon joining.
            li
              span Self-assignable roles can be set in the Dashboard, and via Discord using 
              code p!autorole add [@Role Name] ["shorthand"]
              span where "shorthand" (quotes required), are something other than the rolename to be used to aquire the role using
              code p!roleme shorthand
              span , or 
              code p!roleme Role Name
            li 
              span Disable commands and features with
              code p!disable [command]
            
            
        // end contact-secondary
        .col-five.tab-full.contact-secondary(data-aos='fade-up')
          h3.subhead.subhead--light Cosmetics, Lootoxes and Profiles

          p.lead
            | Pollux's cosmetics suite is enabled by default.
          ul
            li 
              span Use 
              code p!disable [DROPS | EXP | LVUP]
              span to disable Lootboxes / Experience Points / Level Up Messages
            li 
              span Use 
              code p!lootbox
              span to see if you hold any boxes. Or
              code p!lootbox open [tier (C | U | R | SR | UR | EV)]
              span to open a Lootbox of a specific rarity tier. Then 
              code reroll | keep
              span depending on whether you like the contents or not. Rerolls cost <b>Rubines</b>, so do it wisely.
              
            li 
              span The best, hassle-free way to get your Rubines is with
              code p!daily
              span , the more you do it, the more Rubines you get every day.
              
            li
              span If you want to give a Lootbox to someone else, do
              code p!trade box [@User]
              span , then the number of the tier displayed in the message afterwards, then "ok".
              
            li
              span Equip your cosmetics using the Dashboard
              
            li
              span Marriage relies in the <a href="/crafting">Crafting System</a> give it a good read and also try 
              code p!marry help
              span , or
              code p!craft help
              span  if you still cannot understand it 

      .row
        p.lead Pretty much everything can be set up from the Dashboard, if you find too difficult to understand the commands, try using it instead, it is easier, faster and more natural than typing a bunch of words!
    section#support.s-services.light-gray(style="padding-top:2rem !important")
      .row.section-header(data-aos='fade-up')
        .col-full
          h3.subhead.subhead--light Support the Project
          h1.display-1.display-1--light
            | Show Pollux some love
      .row(data-aos='fade-up')
        .col-full
          p.lead
            | Pollux takes a lot of time and also costs money to mantain and keep her running 24/7, her uranium fission-energy reactor, platinum-coated catalyzer, and all bolts and gears needs to be replaced periodically. You can help out with her maintenance with a donation.
          p We have a range of special perks for our fellow supporters depending on the amount you contribute with, check more information at the <a href="/donate">Pollux Overclock page</a>. Or if you don't care about rewards and just want to support us, that's fine too. There is a variety of options you can contribute with:
        .row
          .col-three
            img(src="/medals/paypal.png")
          .col-three
            img(src="/medals/patreon.png")
          .col-three
            img(src="/medals/bitcoin.png")
          .col-three
            img(src="/images/pagseg.png")
    
    section#foot.s-about(style="padding:28px")
      .row.section-header(data-aos='fade-up')
        .col-full
          h3.subhead.subhead--light Ace Attorney Stuff
          //h1.display-1.display-1--light
            | How to Pollux 101
      .row(data-aos='fade-up')
        .col-full
          p.lead2
            | By using Pollux you agree with our <a href="/dev/privacy">Privacy Policy</a> and also with Discord's <a href="https://discordapp.com/terms">Terms of Service</a>. 
          p.lead2
            | For issues regarding DMCA, here's our <a href="/dev/dmca">DMCA Disclaimer</a>. If you're an artist and want your work removed from our cosmetics library, send a message to the staff and we're gonna promptly remove it. If you're an artist and want your work <b>included</b> in our cosmetics library, contact us too! We'd love to take a look.

          // end contact-subscribe
        // end contact-secondary
      // end row
      .row
      .cl-go-top
        a.smoothscroll(title='Back to Top', href='#top')
          i.icon-arrow-up(aria-hidden='true')
    // end s-contact
    //
      photoswipe background
      ==================================================
    .pswp(aria-hidden='true', role='dialog', tabindex='-1')
      .pswp__bg
      .pswp__scroll-wrap
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            .pswp__counter
            button.pswp__button.pswp__button--close(title='Close (Esc)')
            button.pswp__button.pswp__button--share(title='Share')
            button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
            button.pswp__button.pswp__button--zoom(title='Zoom in/out')
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut
          .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
            .pswp__share-tooltip
          button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
          button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
          .pswp__caption
            .pswp__caption__center
    // end photoSwipe background

    //
      Java Script
      ==================================================
    script(defer src='/js/main.js')
    script(src='/js/plugins.js')
    script(src='/js/nano.js')
    script $(".nano").nanoScroller();   
    script.
      $('.crudetrig').click(function(e){
      console.log($(this).find($('.crudemenuitem.opencrudes')).length)
      if($(this).find($('.crudemenuitem.opencrudes')).length!==0){
      console.log('close')
        $(this).find($('.crudemenuitem')).removeClass('opencrudes')
      }else{
      console.log('open')
        $('.opencrudes').removeClass('opencrudes')
        $(this).find($('.crudemenuitem')).addClass('opencrudes')      
      }
      })