extends layout
    
block head
  script(src=INSTANCE_VUE_PATH)
  link(rel='stylesheet' href="/css/supersplash.css")

block content
    include navbar
    style
        include home.css

    section#first.supersplash( plx-parallax="bgy:-200; media: @m" style=" background-image: url(/images/pollux/tea.png) ; height:120vh;margin-top: -150px;padding-top: 280px;")
      include index/crafting

    #content-roll(style="margin-top: -51px;")
        .plx-uncontainer
            section#start.colorblock: .plx-container 
                h3.title Intro
                p.plx-column-1-2.
                    Pollux is an all-around social and entertainment assistant. She comes out-of-the-box with several unique and ellaborate minigames and fun e-toys for you to play either by yourself, or with friends. The stuff you might already know from elsewhere, but always more fancy. We invest heavily in pretty visuals to give players the most exciting experience. 

                    Nunc venenatis mi id varius laoreet. Aenean ornare ipsum sed tortor iaculis, eu laoreet neque pulvinar. Curabitur sodales, felis eget suscipit dictum, dui purus ultrices nibh, imperdiet tristique orci enim a mi. Sed in viverra dui. In lobortis a leo ac facilisis. Sed fringilla odio sapien, nec imperdiet augue condimentum id. Etiam condimentum pellentesque euismod. Sed tincidunt congue magna, vitae rhoncus orci blandit sit amet. Mauris blandit sed arcu nec condimentum. Pellentesque viverra eu enim ac sodales. In vitae enim a felis facilisis commodo eu eu massa. Nunc lobortis mauris nec ligula aliquet commodo sed quis augue. Etiam sem nisl, finibus tempor magna ut, elementum viverra libero. Cras porta velit orci, a condimentum neque ultrices ac.

                p.plx-column-1-4.
                    Donec posuere finibus molestie. Praesent ut vulputate neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis leo in orci consectetur, a fermentum mi facilisis. Etiam commodo, dui quis pretium ultrices, metus diam rutrum magna, vitae malesuada dolor enim vel quam. Suspendisse lacinia tempor dui. Nulla imperdiet viverra nulla, a viverra metus posuere vitae. Aliquam in lectus in eros posuere vulputate sit amet ut risus.

                p.plx-column-1-3.
                    Pellentesque egestas eros sit amet auctor tincidunt. Duis a justo id enim tristique posuere. Cras sollicitudin magna leo, ut finibus enim elementum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan sapien eget felis rhoncus, sit amet ullamcorper magna suscipit. Mauris faucibus mollis massa in cursus. Integer in magna sit amet arcu congue condimentum. Maecenas sed est sapien. Aliquam et dictum enim, at efficitur metus. Donec posuere nisl quis metus blandit, eu dapibus augue ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed augue gravida, egestas tellus id, dignissim sem. Nunc iaculis nibh non mi aliquam, vel tincidunt leo gravida. Duis facilisis erat sed ex dictum egestas. Donec at efficitur massa, et elementum velit.
            
                br
                br
                br
                br
                
            section.supersplash( plx-parallax="bgy:-200;media: @m" style="margin-top:-150px;mask: linear-gradient(-177deg, #0000 10%, #FFFF 10.2%); backdrop-filter:none; height:120vh;padding-top: 100px;")#features
                include index/block_b


            section#economy.colorblock: .plx-container 
                h3.title feats
                .plx-grid
                    .plx-width-1-3
                        p AAA
                    .plx-width-1-3
                        p AAA
                    .plx-width-1-3
                        p AA
                button Reveal

            
            
            section#quickie.colorblock
                .plx-container(plx-scrollspy="target: h1,h5,p,.slideup,h3; cls: plx-animation-slide-bottom-medium; repeat: true; delay: 120")
                    h5.subhead Newbies Guide
                    h1.title How to Pollux 101
                    div
                        h3.lead
                            | Pollux can be potentially complex depending on your needs. So here's a really compact intro to get started with Pollux:

                    p.lead: i I want Pollux for
                    .plx-flex.plx-grid.plx-grid-large.plx-flex-around.slideup(plx-scrollspy="target: li; cls: plx-animation-slide-left-small; repeat: true; delay: 60")
                        .plx-width-1-1(class="plx-width-1-2@s")
                            h3.subhead Softmod and User Management 
                                p.lead
                            | Moderation is not Pollux's focus, but she provides some features on that.
                            ul.plx-text-muted.plx-list.featli
                                li 
                                    span Use 
                                    code.mistyblue p!modrole 
                                        code [@Role]
                                    span to assign a moderation/administrative role. These users can edit server settings in the <a href=/dashboard>Dashboard</a>
                                li 
                                    span Use 
                                    code.mistyblue p!muterole 
                                        code [@Role]
                                    span to assign a role for muted users. These users cannot type in any channels.
                                li 
                                    span Automatic roles added to users in certain levels can be set up only in the Dashboard. Insert the role, and the level. 0 to add it upon joining.
                                li
                                    span Self-assignable roles can be set in the Dashboard, and via Discord using 
                                    code.mistyblue p!autorole add 
                                        code [@Role Name] 
                                        code ["shorthand"]
                                    span where "shorthand" (quotes required), are something other than the rolename to be used to aquire the role using
                                    code.mistyblue p!roleme shorthand
                                    span , or 
                                    code.mistyblue p!roleme Role Name
                                li 
                                    span Disable commands and features with
                                    code.mistyblue p!disable 
                                        code [command]
                            
                        .plx-width-1-1(class="plx-width-1-2@s")
                            h3.subhead.subhead--light Cosmetics, Lootoxes and Profiles

                            p.lead
                            | Pollux's cosmetics suite is enabled by default.
                            ul.plx-text-muted.plx-list.featli
                                li 
                                    span Use 
                                    code.mistyblue p!disable 
                                        code [DROPS | EXP | LVUP]
                                    span to disable Lootboxes / Experience Points / Level Up Messages
                                li 
                                    span Use 
                                    code.mistyblue p!lootbox
                                    span to see if you hold any boxes. Or
                                    code.mistyblue p!lootbox open 
                                        code [tier (
                                            span.optional C | U | R | SR | UR | EV
                                            | )]
                                    span to open a Lootbox of a specific rarity tier. Then 
                                    code.mistyblue reroll | keep
                                    span depending on whether you like the contents or not. Rerolls cost <b>Rubines</b>, so do it wisely.
                                    
                                li 
                                    span The best, hassle-free way to get your Rubines is with
                                    code.mistyblue p!daily
                                    span , the more you do it, the more Rubines you get every day.
                                    
                                li
                                    span If you want to give a Lootbox to someone else, do
                                    code.mistyblue p!trade box 
                                        code [@User]
                                    span , then the number of the tier displayed in the message afterwards, then "ok".
                                    
                                li
                                    span Equip your cosmetics using the Dashboard
                                    
                                li
                                    span Marriage relies in the <a href="/crafting">Crafting System</a> give it a good read and also try 
                                    code.mistyblue p!marry help
                                    span , or
                                    code.mistyblue p!craft help
                                    span  if you still cannot understand it 
                        hr(style="margin:30px")
                        p.lead Pretty much everything can be set up from the Dashboard, if you find too difficult to understand the commands, try using it instead, it is easier, faster and more natural than typing a bunch of words!            

            section#more.colorblock: .plx-container
                h3.title feats
                  .plx-grid
                      .plx-width-1-3
                          p AAA
                      .plx-width-1-3
                          p AAA
                      .plx-width-1-3
                          p AA
                  button Reveal



                br
                br
                br
                br
        style footer{margin-top:-50px}




block scripts
    //script.
        if ("serviceWorker" in navigator) {
        if (navigator.serviceWorker.controller) {
            console.log("[PWA Builder] active service worker found, no need to register");
        } else {
            // Register the service worker
            navigator.serviceWorker
            .register("pwabuilder-sw.js", {
                scope: "./"
            })
            .then(function (reg) {
                console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
            });
        }
        }
