doctype html
include tools/mixins
html(class="no-js" lang=locale||"en")
    head
        script( data-ad-client="ca-pub-6458250766331979" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" )
        meta(charset="utf-8")
        meta(name="theme-color" content="#f48")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name='description' content='Pollux is a Virtual Maid designed to be your personal community entertainer as a Discord bot.')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        block prehead
        title= (title?title+" - ":"") + "Pollux: A Fancy Maid for Fancy Communities"
        include opengraph

        link(rel="manifest" href="/js/manifest.json")

        
        link(rel="preload" href="/css/plx.css"      as="style")
        link(rel="preload" href='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' as="script")
        link(rel="preload" href="/css/monolith.css" as="style")
        link(rel="preload" href="/js/plxui.js"  as="script")
        link(rel="preload" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous" as="style")
        link(rel="preload" href='/js/pace.js' as="script")


        //style *{ font-family: Nunito}


        // Everybody is a book of blood; wherever we're opened, we're red.


        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/plx.css")
        link(href="/css/monolith.css" rel="stylesheet")
        link(href="/css/themes/default.css" rel="stylesheet")

        link(rel="apple-touch-icon" href="/favicon.png")
        link(rel="icon" href="/favicon.png")
        
        style @import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,400,400i,700,900&subset=latin-ext');
        style @import url('https://fonts.googleapis.com/css?family=Product+Sans:100,400,400i,700,700i');
        style
            include late-load.css
        
        script window.userinfo = Base64.decode(!{userinfo != null ? userinfo : "ZmFsc2U="})
        script window.userdata = Base64.decode(!{userdata != null ? userdata : "ZmFsc2U="}) //".replace(/&quot;/g,'"'))
  

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src="/js/pace.js")
        script(src="/js/plxui.js" async defer) 
        script(src="/js/plx-themes.js" async defer) 
        //script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' defer)
        script(src="/js/grimoire.js" defer)
        script(defer)  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-104940687-1','auto');ga('send','pageview')
        script(src="https://www.google-analytics.com/analytics.js" defer)
        script(src="/js/login.js" async) 
        
        block nopace

        if opengraph&&opengraph.sitename === "POLLUX MARKETPLACE"
            include structures/pace

        else if index
            include structures/pace_home
            script(defer src="/js/preload.js")
        else
            include structures/pace_home
            script(src="/js/preload.js")


        block head
    body
        style
        
        if (true &&opengraph&& opengraph.sitename  !== "POLLUX MARKETPLACE") || index
        #preloader(style="  position: fixed;  top: 0;  left: 0;  right: 0;  bottom: 0;  background: #05050F;  z-index: 2800;  height: 100%;  width: 100%;")
                #loader.plx-animation-fade

        block content
        // No live organism can continue for long to exist sanely under conditions of absolute reality; even larks and katydids are supposed, by some, to dream. Hill House, not sane, stood by itself against its hills, holding darkness within; it had stood so for eighty years and might stand for eighty more. Within, walls continued upright, bricks met neatly, floors were firm, and doors were sensibly shut; silence lay steadily against the wood and stone of Hill House, and whatever walked there, walked alone.

        
        footer#footer
            include footer
            block footer
            // Despite my ghoulish reputation, I really have the heart of a small boy. I keep it in a jar on my desk.


    
 
  
    script(async defer).

            "use strict";

            !function() {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
                t.factory = function(e) {
                return function() {
                    var n = Array.prototype.slice.call(arguments);
                    return n.unshift(e), t.push(n), t;
                };
                }, t.methods.forEach(function(e) {
                t[e] = t.factory(e);
                }), t.load = function(t) {
                var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                var i = document.getElementsByTagName("script")[0];
                i.parentNode.insertBefore(o, i);
                };
            }
            }();
            drift.SNIPPET_VERSION = '0.3.1';
            drift.load('tcfn6c8hruff');
            if (userdata){
                drift.identify(userinfo.id, {
                    name: userinfo.name,
                    servers: userinfo.guilds,
                    avatar_url: userinfo.pix                 
                });
            }
    block scripts
        
   
    script( type='application/ld+json')
        include z-meta.json
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-104940687-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-104940687-1');
    script.
        $( '[rel="preload"]' ).remove() 
        $( 'script' ).remove()


// Veni, vidi, vici

