

.plx-bundle-card {
  background: #111;
  border-radius: 3px;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}
.plx-bundle-card .card-img {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  heigth: 100%;
  -webkit-box-flex: 1;
          flex: 1 1 0;
}
@media screen and (min-width: 700px) {
  .plx-bundle-card .card-img {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media screen and (max-width: 700px) {
  .plx-bundle-card .card-img img {
    -webkit-filter: blur(0.3vw);
            filter: blur(0.3vw);
  }
}
.plx-bundle-card .card-body {
  -webkit-box-flex: 1;
          flex: 1 1 40%;
  padding: 1.5rem;
}
.plx-bundle-card .card-body .title {
  font-family: Quicksand;
  font-size: 20px;
}
.plx-bundle-card .card-body .subtitle {
  font-family: Quicksand;
  font-style: italic;
  font-size: 16px;
  margin: -35px 0 -5px 15px;
}
.plx-bundle-card .card-body .preview {
  font-size: 15px;
  padding: 1rem;
}
.plx-bundle-card .card-body .preview .plx-thumbnav {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.plx-bundle-card .card-body .preview .plx-thumbnav li > a > * {
  border-radius: 5px;
}
.plx-bundle-card .card-body .preview .plx-thumbnav li > a:hover {
  width: 50px;
  height: 50px;
}
.plx-bundle-card .card-body .preview .plx-thumbnav li > a:hover * {
  top: -25px;
  left: -30px;
  width: 120px !important;
  height: 65px !important;
  z-index: 5;
  position: absolute;
}
.plx-bundle-card .card-body .preview .plx-thumbnav > *:not(:hover) > :after {
  background: rgba(0, 0, 10, 0.4);
}
.plx-bundle-card .bottom {
  border-top: solid 1px #AAA3;
  padding: 1rem 2rem 1rem 1rem;
  flex-wrap: wrap;
}
