              

#marketplace ul{
  flex-wrap: wrap;

}
#marketplace ul li{
  
  width: 30%;
  list-style: none;
  padding: 8px;
}

.market-entry div{
  display: flex;
  
}
.market-entry {
  background-size: 100% 200%;
  background-position: right;
  height: 128px;
  position: relative;
  
}
.market-entry > div, .market-entry .body{
overflow: hidden;
border-radius: 3px;
}

.market-entry .infobox{
  z-index: 1;
  flex-direction: column;
  align-items: flex-end; 
  
  width: 100%;
  padding: 10px 15px;
}
  
.market-entry .title{
  font-size: 20px;
  //text-shadow: var(--megastroke);
  filter: drop-shadow(-1px 1px 0px #223) drop-shadow(-1px 1px 0px #223) drop-shadow(1px -1px 0px #223) drop-shadow(1px 1px 0px #223) drop-shadow(-1px -1px 0px #223);
}

.market-entry .button{
  margin-top: 30px;
    //--maincolor: #F00;
    //--fadecolor: rgba(200, 95, 50, 0.82) !important;
  transform: scale(.8);
  transform-origin:  center right;
}

.market-entry i {
transform: scale(1.2);
  margin-right:  4px;

}

.market-entry .artist-tag{
transform: scale(.8);
transform-origin: bottom left;
}
.market-entry .body{
  flex: 0 0 auto;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 128px;
  /*! justify-content: center; */
  
}
.market-entry .body .img:not(.background){
margin: 18px;
height: 100px;
width: 100px;
}
.market-entry .background .bg-image{
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: left;
  animation: none;
  -webkit-mask-image: linear-gradient(90deg,#FFFF 30%,#0000 100%);
  z-index: 0;
}
.market-entry .background {
  position: relative;
  //overflow: visible;
  height: 100%;  
  
}

.market-entry .author{
opacity: .9;

background: #112D;
padding: 1px 6px 2px 0px;
border-radius: 5px 5px 5px 25px;
font-size: 12px;
transform-origin: top right;
position: absolute;
top: 0;
right: 0;
}
.market-entry .author .discrimin{
font-weight: 300;
font-size: 8px;
opacity: .5
}
.market-entry .avatar {
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background-size: contain;
  margin:2px 5px 0 8px
  
}

.market-entry .button.store-sell{
   --maincolor: #2A4EA2;
   --fadecolor: #1e1c3c;
}
.market-entry .button.store-buy{
   --maincolor: #38b390;
   --fadecolor: rgb(16, 60, 49);
}
.market-entry .button.store-sell:after{
content:"\2000 BUY\2000"

}
.market-entry .button.store-buy:after{
content:"\2000 SELL\2000"

}

@media screen and (max-width: 500px){
  #marketplace ul li{
  
  width: 100%;

  
}
}