.cl-preload .plx-scrollspy-inview{
    display: none;
  }
  
  .cl-loaded .plx-scrollspy-inview{
    display: block;
    animation-delay: 1s;

  }
  
#curve-1,#curve-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    pointer-events: none;
  }
  
  #curve-2{
    z-index: 11;
    fill: var(--bg-main);
    animation-duration: .8s;
    animation-delay: .5s;
  }
  #curve-1{
    z-index: 0;
    fill: var(--bg-inverse);
    mix-blend-mode:  overlay;
    opacity: .7;
    animation-duration: .8s;
    animation-delay: .8s;
  }
.bigpic-container{
    animation-duration: 1s;
     animation-delay: 1.6s;
}


  


 .supersplash {
    background:linear-gradient(14deg,var(--secondary-color) 0%,var(--secondary-color) 41%,var(--secondary) 100%);
    position:relative;
    height:100vh;
    padding:40px 0 120px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    background-image:url(/images/bgpatt.png);
    background-color:var(--secondary-color);
    backdrop-filter:blur(12px);
    overflow: hidden;
    background-blend-mode:multiply;
   
   }

   .supersplash>p,
   .supersplash .title:not(h1),
   .supersplash h3 {
    --text-shadow: #1145;
    text-shadow:0 -2px 0 var(--text-shadow),0 2px 0 var(--text-shadow),2px 0 0 var(--text-shadow),-2px 0 0 var(--text-shadow),0 2px 3px #113a
   }
   .supersplash * {
    z-index:1;
    color:#def
   }
   .supersplash:before {
    content:" ";
    position:absolute;
    height:100%;
    width:100%;
    background:#1134;
    background-image:linear-gradient(#0028 -20%,#0000 10%,#0000 50%,#001A);
    z-index:0;
    top:0;
    left:0
   }
   .supersplash h1 {
    color:var(--accent-color);
    font-size:5rem;
    --text-shadow: #113;
    font-weight:900;
    line-height: 1;
    text-shadow:0 -2px 0 var(--text-shadow),0 2px 0 var(--text-shadow),2px 0 0 var(--text-shadow),-2px 0 0 var(--text-shadow),-4px 2px 0 var(--text-shadow),-2px 4px 0 var(--text-shadow),-6px 2px 0 var(--text-shadow),-6px 6px 0 var(--text-shadow),0 2px 3px #113a
   }
   .supersplash h3 {
    font-weight:600
   }
   .supersplash hr {
    opacity:.2
   }
   .supersplash>.central-container {
    justify-content:space-between;
    min-width:70vw;
    margin:auto
   }
   .supersplash>.central-container>div:last-child {
    text-align:center
   }
   .supersplash>.central-container>div:first-child {
    display:flex;
    flex-direction:column;
    justify-content:space-between
   }
   .supersplash>.bottom-board {
    position:absolute;
    display:block;
    background:var(--accent-color);
    box-shadow:0 10px 20px -5px #1148;
    width:240px;
    height:300px;
    right:50px;
    bottom:-100px;
    padding:24px;
    border-radius:10px 10px 50px 50px;
    box-sizing:border-box;
    z-index:0
   }
   .supersplash .magic-outline {
    background-image:linear-gradient(#FFF0,var(--accent-color) 200% )
   }
     .icon-container{
       text-align: center;
     }
     .icon-container .title{
       margin: 10px 0 15px;
     }