extends ../layout
block content

  .hero.is-pink.is-bold
    include ../navbas


  style.
    .justicenter{
      justify-content:left
    }
    .center{
      text-align:center
    }
    .prizebox{
          margin:8px;
          position: relative;
          display: inline-flex;
          height: 200px;
          min-width: 18%;
          max-width: 25%;
          border-radius:10px;
          overflow: hidden;
          border:solid 2px #a2a2a222
        }
        .prizebox div{
          padding:8px;
           width: 100%;
          position: absolute;
            text-align: center;
        }
        .prizebox .title{
          height:20%;
          font-size:1.3rem;
          font-weight: 600;

        }
        .prizebox .image{
          top:20%;
           height:50%;

        }
        .prizebox .image img{
          height: 100%;
          width: auto;
          text-align: center;
          margin: auto;
        }
        .prizebox .prize{
        top:70%;
           height:30%;
           line-height:0.9rem;
            font-size:0.8rem;
        }
    
    
    
    
  .is-fullwidth.nano: .nano-content
    br
    .container.level
      .level-left
        div
          .title.is-1: b Easter Event
          .subtitle.is-3 Search for the weirdest eggs around and exchange them for Goodies!
      img(src="/images/easterev18.png" width="300px").level-left
      
    //hr
    .d
      .section.foo2
        .title.is-2: b Egg Hunt
        .subtitle.is-4 Gotta catch'em all, no wait that's for another time.
        hr
        .columns
          .column(style="text-align:right !important")
            img(src="/images/bunnylux.png" )
          .column.is-6
            br
            .title How does it work
            //.subtitle X
            p Every user can collect eggs every four hours or so, use <code>p!egghunt</code> to search around for a random egg.
            br
            p Pollux accounts the server's natural conversation activity to boost the type of eggs found, the server size doesn't matter, what matters is that your server has people around. Bot messages, flood, and spam will decrease the value of the eggs catched. So keep your server healthy, and keep your members engaged!
            hr
            .foo2
              .title.is-2 The Eggs
              .subtitle.is-4 These are the event eggs. There are 20 of them!
              br
              .title.foo: b Common Eggs
              .level.justicenter.is-mobile
                .foo
                  img(src="/images/EGGS/C1.png" width="180px")
                  p.center Lilac Dotted Egg
                  .center: code C1
                .foo
                  img(src="/images/EGGS/C2.png" width="180px")
                  p.center Amazingly Pink Striped Egg
                  .center: code C2
                .foo
                  img(src="/images/EGGS/C3.png" width="180px")
                  p.center Where's This Egg
                  .center: code C3
                .foo
                  img(src="/images/EGGS/C4.png" width="180px")
                  p.center Poorly Textured Egg
                  .center: code C4
                .foo
                  img(src="/images/EGGS/C5.png" width="180px")
                  p.center Blue Rings and that's it Egg
                  .center: code C5
                .foo
                  img(src="/images/EGGS/C6.png" width="180px")
                  p.center  Literally Copypaste&Recolor Egg
                  .center: code C6
              hr
              .title.foo: b Uncommon Eggs
              .level.justicenter.is-mobile
                .foo
                  img(src="/images/EGGS/U1.png" width="180px")
                  p.center Casino Airsoft Egg
                  .center: code U1
                .foo
                  img(src="/images/EGGS/U2.png" width="180px")
                  p.center Aquamarine Pulse Egg
                  .center: code U2
                .foo
                  img(src="/images/EGGS/U3.png" width="180px")
                  p.center Red Energy Egg
                  .center: code U3
                .foo
                  img(src="/images/EGGS/U4.png" width="180px")
                  p.center Blue Radiance Egg
                  .center: code U4
              hr
              .title.foo: b Rare Eggs
              .level.justicenter.is-mobile
                .foo
                  img(src="/images/EGGS/R1.png" width="180px")
                  p.center Die Eier von Satan
                  .center: code R1
                .foo
                  img(src="/images/EGGS/R2.png" width="180px")
                  p.center Waypoint Egg
                  .center: code R2
                .foo
                  img(src="/images/EGGS/R3.png" width="180px")
                  p.center Plumber's Pet Egg
                  .center: code R3
                .foo
                  img(src="/images/EGGS/R4.png" width="180px")
                  p.center Lovely Somethingy Egg
                  .center: code R4
              hr
              .title.foo: b Super Rare Eggs
              .level.justicenter.is-mobile
                .foo
                  img(src="/images/EGGS/SR1.png" width="180px")
                  p.center Dark Magician Egg
                  .center: code SR1
                .foo
                  img(src="/images/EGGS/SR2.png" width="180px")
                  p.center Egg Pride
                  .center: code SR2
                .foo
                  img(src="/images/EGGS/SR3.png" width="180px")
                  p.center The Way it's meant to be Egg
                  .center: code SR3
              hr
              .title.foo: b Ultra Rare Eggs
              .level.justicenter.is-mobile
                .foo
                  img(src="/images/EGGS/UR1.png" width="180px")
                  p.center E.gg
                  .center: code UR1
                .foo
                  img(src="/images/EGGS/UR2.png" width="180px")
                  p.center A Fancy Egg for Fancy Easters
                  .center: code UR2
                .foo
                  img(src="/images/EGGS/UR3.png" width="180px")
                  p.center Probably Togepi Egg
                  .center: code UR3

      hr
      .container
        .section#conversion.foo2
          .title.is-2: b Egg Conversion
          .subtitle.is-4 How many eggs needed for every prize:
          
          div
            .prizebox
              .title 2 Unique Eggs
              .image: img(src="/images/jade.png")
              .prize 1500 Jades
            
            .prizebox
              .title 3 Unique Eggs
              .image: img(src="/images/rubine.png")
              .prize 1500 Rubines
              
            .prizebox
              .title 4 Unique Eggs
              .image: img(src="/images/EGGS/4un.png")
              .prize 1 Sticker (Common)
              
                            
            .prizebox
              .title 5 Unique Eggs
              .image: img(src="/images/EGGS/5un.png")
              .prize
                p 1 Sticker + 1 Background
                p: i (Common)
              
              
            .prizebox
              .title 7 Unique Eggs
              .image: img(src="/images/EGGS/7un.png")
              .prize 
                p 1 Sticker + 2 Lootboxes
                p: i (Uncommon)
                
                
            .prizebox
              .title 8 Unique Eggs
              .image: img(src="/images/EGGS/7un.png")
              .prize 
                p 2 Stickers + 3 Lootboxes
                p: i (Uncommon)              
                  
                
            .prizebox
              .title 10 Unique Eggs
              .image: img(src="/images/EGGS/rprize.png")
              .prize
                p 2 Stickers + 2 Background + 2 Lootboxes + Easter Flair
                p: i (Rare)              
              
                             
            .prizebox
              .title 12 Unique Eggs
              .image: img(src="/images/EGGS/rprize.png")
              .prize
                p 2 Stickers + 2 Backgrounds + 3 Lootboxes + Easter Flair
                p: i (Rare)           
              
                             
            .prizebox
              .title 14 Unique Eggs
              .image: img(src="/images/EGGS/srprise2.png")
              .prize
                p 1 Stickers + 2 Backgrounds + 2 Lootboxes + Easter Flair
                p: i (Super Rare)           
              
                                           
                             
            .prizebox
              .title 15 Unique Eggs
              .image: img(src="/images/EGGS/srprise2.png")
              .prize
                p 2 Stickers + 2 Backgrounds + 2 Lootboxes + Easter Flair+
                p: i (Super Rare)           
              
                                           
                             
            .prizebox
              .title 16 Unique Eggs
              .image: img(src="/images/EGGS/urprize2.png")
              .prize
                p 1 Sticker + 1 Background + 2 Lootbox + Easter Flair+
                p: i (Ultra Rare)           
              
                                           
                             
            .prizebox
              .title 17 Unique Eggs
              .image: img(src="/images/EGGS/urprize2.png")
              .prize
                p 2 Stickers + 2 Backgrounds + 2 Lootboxes + Easter Flair
                p: i (Ultra Rare and Rare)           
              
                                           
                             
            .prizebox
              .title 18 Unique Eggs
              .image: img(src="/images/EGGS/urprize2.png")
              .prize
                p 1 Sticker + 2 Backgrounds + 2 Lootbox + Special Flair
                p: i (Ultra Rare and Super Rare)           
              
                                           
                             
            .prizebox
              .title 19 Unique Eggs
              .image: img(src="/images/EGGS/urprize2.png")
              .prize
                p 2 Sticker + 2 Background + 3 Lootboxes + Special Flair
                p: i (Ultra Rare and Super Rare)           
              
                             
            .prizebox
              .title 20 Unique Eggs
              .image: img(src="/images/EGGS/ultimate.png")
              .prize
                p 2 Stickers + 2 Backgrounds + 4 Lootboxes + Special Flair
                p
                  i (Ultra Rare)           
                  b Bonus: 1 Sapphire           

        hr
        .section#goods.foo2
          .title.is-2: b Goodies
          .subtitle.is-4 Items you can only get at this time of the year    
            br
            br
            .columns
              .column.is-8
                .subtitle Exclusive Backgrounds
                  a(href="/images/easterbgs.png" data-lightbox="h") 
                    img(src="/images/easterbgs.png" ).level-left
              .column.is-4
                .subtitle Exclusive Stickers
                  a(href="/images/eastersticks.png" data-lightbox="h2") 
                    img(src="/images/eastersticks.png" ).level-left
          


          hr
          .columns.is-marginless
            .column.is-6
              .section
                .title.b500T Participating as a Server
                br
                .subtitle: b Joining
                p Every owner of eligible Servers will be notified of the event as it begins. If you didn't receive a DM notification, you still can run the event in your server. 
                p On top of that, server owners will receive boxes to be used as prize for any Christmas events you may want to host on your own server, get your boxes with <code>p!event boxes</code>, and give them away using <code>p!trade box @user</code>.
                p Each one will receive 5 Event Lootboxes, one of every Rarity Tier + 1 Common Event Lootbox for every 100 members in their servers, capping in 15 total.
                hr
                .subtitle: b Eligibility
                p Not all Servers will be participating on the event, because there are always those who will not play fairly. So, for your Server be automatically Eligible, you will need to match all these criteria:
                ul(style="list-style: initial;padding:12px;")
                  li Your Server has a Human : Bot ratio below 30%
                  li Your Server must have been created before April 1st
                  li Pollux must be in your server since April 1st or before, otherwise, you need to be manually verified.
                br
                small For the last two items, you can still have your server included by asking for a whitelist, contact <b>Flicky#9065</b> or join the Support Server to be verified an whitelisted. 

            .column.is-6
              .section
                .title.b500T Participating as a User
                br
                .subtitle: b Hunting eggs
                p Do <code>p!egghunt</code> periodically to collect your eggs, the more you collect, higher your chances of getting better goodies!
                hr
                .subtitle: b Trading eggs with your friends
                p "Holy cheesecakes! I have 5 identical eggs... I'm doomed!" No! you can still trade these with friends that are in need of eggs too! Egg trading has 2 useful commands:
                ul(style="list-style: initial;padding:12px;")
                  li <code>p!eggtrade [ID of trading egg] @user</code> The actual trading command, this will exchange the egg of the written ID for another of your friend's choice! Accept a trade by replying with <code>accept [ID of egg being given in exchange]</code>
                
                  li <code>p!eggcollection [@someone (optional)]</code> Checks the eggs in possession of yourself or @Someone. Useful to check inventories before trades!
                  
                  //li <code>p!eggwish</code> Adds a certain egg to your wishlist, people wanting to trade will see you on a list for trading that egg.
                
                  //li <code>p!lfe</code> "Looking for Eggs". As silly as it sounds, this will return up to 5 random people that possess an egg that's in your wishlist.
                
                  //li <code>p!lft</code> "Looking for Trade". Will return up to 5 random people that has eggs from your possession on their wishlists.
                hr
                .subtitle: b Exchange them for stuff!
                p Hand out all of your unique eggs in exchange for special goodies! Do <code>p!eggchange [X]</code> where X is the amount of eggs you're giving. Check the table above to see what can be exchanged for what.
      //.section#autoset.foo2
        .title.is-2: b Auto Config
        .subtitle The autoconfig features configures an event environment in your Server, it will do the following:
        div
          .column 
        .columns 
          .column 
            video(autoplay loop) NO VIDEO SUPPORT
              source(src="/video/demo1.webm" type="video/mp4")
          .column 
            .columns 
              .column 
              
                ul(style="list-style: initial;padding:12px;")
                  li Create three Roles
                  li Create one Channel
                  li Create two Webhooks
                  li Create two Embeds
                  li Pin a Message
                  li Add Watching Reactions
                  li Set Database Values to your server
                p You can rename the Roles and Channels at will, but avoid deleting them unless you are willing to either discontinue or reset the event for your servers, as all data will be outdated and rendered useless, requiring a new setup.
              .column 
                p: b It is REALLY important that Pollux has proper Permissions do do all of the above, or it WILL NOT work.
                p Permissions needed are:
                ul(style="list-style: initial;padding:12px;")
                  li Manage Channels
                  li Manage Roles
                  li Manage Webhooks
                  li Manage Messages
                  li Attach Files
                  li Embed Links
                p After set up you can revoke all these perms <b>except at the channel the event runs on</b>
        
        .subtitle Elfs will spawn at this new channel and notify participating members of elf spawns, and inventory updates.
        .columns 
          .column
            img(src="/images/AWB2.png")
            p Spawn of the Trader Elf
          .column
            img(src="/images/AWB1.png")
            p Spawn of the Collector Elf
          .column
            img(src="/images/AWB.png")
            p You can always check which ones are around using the command <b>+elf</b>, and interact with them with either <b>+australis</b> or <b>+borealis</b>

            
              


block scripts
  script(src='/js/truelite.js')
  script( src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
  //script.
    window.sr = ScrollReveal({ reset: true,
   container:'.nano-content'
   ,viewFactor: 0.5
    });
    sr.reveal('.foo', { duration: 500 });
    sr.reveal('.foo2', { duration: 500,viewFactor: 0.8 });
