 
  .packagier {
    margin: 3vw;
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 5px 3px 3px 5px;
    overflow: hidden;
    position: relative;
    height: auto;
    border: solid 2px #fff;
  }
  
  .packPreview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .aPack {
    text-align: center;
    margin: 1px 1px 0 0;
    box-sizing: border-box;
    min-width: 130px;
    min-height: 130px;
    max-height: 200px;
    border: solid 1px #2b2b2b;
    background: #1b1b2b;
    flex: 1 1 20%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .aPack img {
    height: 100%;
    height: -webkit-fill-available;
  }
  .aPack:hover {
    background: #223;
    border-color: #f585;
  }
  
  .packDisplay {
    background: white;
    min-height: 420px;
    width: 420px;
    margin: 0 auto;
    text-align: center;
    flex: 0 1 420px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    border-radius: 3px;
  }
  .packDisplay img {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  @media screen and (max-width: 500px) {
    .packDisplay {
      height: 300px;
      width: 300px;
      flex: 1 0 300px;
    }
  }
  
  .package-listing {
    background: #112;
    min-width: 300px;
    width: auto;
    height: 420px;
    position: relative;
    flex: 1 1 50%;
    margin: auto;
    padding: 3px 4px;
    z-index: 1;
  }
  
  #manyPacks {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    width: 100%;
    height: 100%;
      scrollbar-color: #7a64d5 #272635;
  }
  #manyPacks::-webkit-scrollbar {
    width: 5px;
  }
  #manyPacks::-webkit-scrollbar-thumb {
    background: #7a64d5 ;
  }
  
  .stickOverview {
    
    background: #2b2b3B;
    pointer-events: all;
    cursor: auto;
    position: absolute;
    top: 0 !important;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .stickOverview .title {
    font-weight: 600;
    font-size: larger;
    color: #aaa;
    margin-left: 15px;
  }
  .stickOverview .title img {
    height: 30px;
  }
  .stickOverview.plx-open {
    display: flex;
    flex-direction: column;
  }
  .stickOverview.plx-open:after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    box-sizing: border-box;
    border-top: solid 12px transparent;
    border-bottom: solid 12px transparent;
    border-left: solid 12px white;
    border-right: solid 12px transparent;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 122;
  }
  @media (max-width: 1000px) {
    .stickOverview.plx-open:after {
      top: 0;
      left: calc(50%  - 16px);
      bottom: -25px;
      border-left: solid 12px transparent;
      border-top: solid 12px white;
    }
  }
  .stickOverview .in-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill;
    flex: 1 1 auto;
    scrollbar-color: #7a64d5 #272635;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }
  .stickOverview .in-wrapper::-webkit-scrollbar {
    width: 5px;
  }
  .stickOverview .in-wrapper::-webkit-scrollbar-thumb {
    background: #7a64d5 ;
    border-radius: 10px;
  }
  .stickOverview .in-wrapper::-webkit-scrollbar-track {
    background: #272635;
  }
  
  .stickerItem {
    background: #20212D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    min-height: 150px;
    min-width: 150px;
    flex: 1 1 20%;
    scroll-snap-align: start;
  }
  .stickerItem p {
    margin: 5px;
  }
  .stickerItem img {
    width: 100px;
    height: auto;
  }

  .lastMaxDisplay {
    background: #18181a8f;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 100%;
    border-radius: 8px;
    box-sizing: bounding-box;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
  
  .no-scroll {
    overflow: hidden !important;
  }
  
  .overlay {
    position: relative;
    top: -163px;
    overflow: hidden;
    height: 128px;
    width: 95px;
    margin: auto;
  }
  
  .shine {
    position: relative;
  }
  
  .shine:after {
    -webkit-animation: shine 4.8s ease-in-out infinite;
            animation: shine 4.8s ease-in-out infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: .6;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0) 100%);
  }
  
  .supershine:after {
    -webkit-animation: shine 6.3s ease-in-out infinite;
            animation: shine 6.3s ease-in-out infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0.4;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.13) 65%, rgba(255, 0, 0, 0.3) 70%, rgba(255, 255, 0, 0.5) 75%, rgba(200, 255, 200, 0.8) 85%, rgba(0, 255, 255, 0.5) 90%, rgba(0, 0, 255, 0.5) 100%);
  }
  
  #backdrop {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  #backdrop.UR {
    background: conic-gradient(red, yellow, lime, aqua, blue, pink, red);
    -webkit-animation: spinMe 1s linear infinite;
            animation: spinMe 1s linear infinite;
    border-radius: 100%;
    opacity: 0.3;
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
  
  #in {
    -webkit-animation: spin 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
            animation: spin 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    -webkit-filter: drop-shadow(3px 10px 8px rgba(11, 11, 20, 0.2));
            filter: drop-shadow(3px 10px 8px rgba(11, 11, 20, 0.2));
  }
  
  @-webkit-keyframes spinMe {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spinMe {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: scale(-0.4, 0.4) rotate(10deg);
              transform: scale(-0.4, 0.4) rotate(10deg);
    }
    100% {
      -webkit-transform: scale(1, 1) rotate(10deg);
              transform: scale(1, 1) rotate(10deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: scale(-0.4, 0.4) rotate(10deg);
              transform: scale(-0.4, 0.4) rotate(10deg);
    }
    100% {
      -webkit-transform: scale(1, 1) rotate(10deg);
              transform: scale(1, 1) rotate(10deg);
    }
  }
  @-webkit-keyframes shine {
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }
  @keyframes shine { 
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }
  .faded img {
    opacity: .4;
    filter: saturate(.4);
    transform: scale(.8);
}
.stickerItem.equipped{
    border-color: #5F8
}
.faded img:hover{
    opacity: .9;
    filter: saturate(.9);
    transform: scale(.99);
}
.stickerItem img:hover{
    // transform: scale(2)
 }
 .stickerItem{
     filter: drop-shadow(1px 2px 3px #1118)
 }