div( v-if="!boorucollection.loading")

    .plx-grid.plx-flex-top.plx-flex-wrap-top(class="plx-child-width-1-2@s plx-child-width-1-3@m plx-child-width-1-4@l" plx-grid="masonry: true; parallax: 200; ")
    
        .item-card-container( v-for="(itm,i) in boorucollection" :id="itm.saved"): .plx-itmcard.plx-grid-margin( :plx-scrollspy="`cls:plx-animation-slide-top-small; delay: ${((i*100)+100)}`")
            .plx-inline
                img(plx-img data-width="300px"  :data-src="`/generators/repipe/${encodeURIComponent(itm.url)}`" v-bind:class="{'img-nsfw':itm.nsfw}" )
                .plx-overlay.plx-position-center(v-if="itm.nsfw")
                    .nsfw-label
                        i.fas.fa-heartbeat
                        span &#x2001 NSFW
            .plx-flex.plx-flex-around(plx-lightbox)
                a.plx-button.plx-button-primary(type='button' :href="`/proxy/${encodeURIComponent(itm.url)}`" ) 
                    i.fas.fa-search                            
                .plx-button.plx-button-secondary(type='button') 
                    i.fas.fa-tags
                .supertag(plx-dropdown='mode:click; boundary: .plx-itemcard; boundary-align: true; pos: top-center; offset: 80')
                        .plx-flex.plx-flex-wrap.plx-flex-center.tags

                            .plx-label(v-if="itm && itm.tags" style="margin:2px" v-for="tag in itm.tags.slice(1).split(/ +/)")
                                small {{tag}}


                //.delete.plx-button.plx-button-danger(type='button' data-saved=itm.saved) 
                    i.fas.fa-trash
        
div(v-else)
    p Nobody here but us chickens

.adsbygoogle