extends ../layout
block content

  .hero.is-pink.is-bold
    include ../navbas



  .is-fullwidth.nano: .nano-content
    br
    .container.level
      .level-left
        div
          .title.is-1: b Christmas Event 
          .subtitle.is-3 Help Santa's elves and get Exclusive Goodies
      img(src="/images/event.png" width="300px").level-left
      
    //hr
    .container
      .section#story.foo2
        .title.is-2: b Story
        .subtitle.is-4 A little flavor to the event
        hr
        .columns
          .column(style="text-align:right !important")
            img(src="/images/windx3.png" )
          .column.is-7
            br
            .title Winding Keys
            .subtitle The Lost Toy Pieces
            p Pieces of toys for Santa's assembly factories were lost during shipping. Most of them were recovered, except for the winding keys, that ended up scattered all around.
            br
            p Two elves were assigned to get in Discord's realm and recover them in servers all around the world. Borealis: the northern Santa's helper aprendice elf, and Australis: the southern slippery elf. They  will pop in participating servers periodically, looking for them.
      
      .section#elves.foo2
        .title.is-2: b Meet the elves    
        .subtitle.is-4 The little creatures looking for their winding keys    
        hr
            
        .columns.is-mobile
          .column(style="text-align:right !important")

            .foo
              img(src="/images/austra.png" style="max-height:80vh" )
            .foo
              hr
              .title Borealis
              .subtitle The Collector
              p: i Borealis is a young part-time elf from Santa's main assembly lines at the North Pole. She volunteered to help finding the lost Winding Keys. She's one of Santa's favorite apprendices, for that reason, he takes her suggestions quite seriously.
              br
              p Borealis collects Winding Keys and take them back to Santa, the Drop Rate of Event Lootboxes are increased significantly depending on how much keys she has.

          .column
            
            .foo(style="margin-top:100px")
              hr
              .title Australis
              .subtitle The Trader
              p: i Australis is the elf of Midsummer Xmas, at Santa's southern assembly lines. Since Santa doesn't supervise them, she does anything on her reach to get the lost Winding Keys, even sneaking goodies and reselling them for a much lower price
              br
              p Australis trades Items from shops for Winding Keys, the Rarity Tier chances of the items depends on how much keys she has.
            br
            br
            .foo
              img(src="/images/bori.png" style="max-height:80vh" )
      
            
      .section#goods.foo2
        .title.is-2: b Goodies
        .subtitle.is-4 Items you can only get at this time of the year    
          br
          br
          .columns
            .column
              .subtitle Exclusive Backgrounds
                a(href="/images/xmas_17.png" data-lightbox="h") 
                  img(src="/images/xmas_17.png" width="640px").level-left
            .column
              .subtitle Exclusive Medals
                a(href="/images/xmas_172.png" data-lightbox="h2") 
                  img(src="/images/xmas_172.png" width="400px").level-left
            .column
              .subtitle Exclusive Stickers
                a(href="/images/xmas_173.png" data-lightbox="h2") 
                  img(src="/images/xmas_173.png" width="400px").level-left

            
        hr
        .columns.is-marginless
          .column.is-6
            .section
              .title.b500T Participating as a Server
              br
              .subtitle: b Joining
              p Every Server Owner will be notified of the event. To participate you need to configure it at your server by using the command <code>p!event setup</code> (You can do that on test servers, since having more servers participating does not give any unfair advantages). See more details <a href="#autoset">HERE</a>
              p On top of that, server owners will receive boxes to be used as prize for any Christmas events you may want to host on your own server, get your boxes with <code>p!event boxes</code>, and give them away using <code>p!trade box @user</code>.
              p Each one will receive 5 Event Lootboxes, one of every Rarity Tier + 1 Common Event Lootbox for every 100 members in their servers, capping in 15 total.
              hr
              .subtitle: b Eligibility
              p Not all Servers will be participating on the event, because there are always those who will not play fairly. So, for your Server be automatically Eligible, you will need to match all these criteria:
              ul(style="list-style: initial;padding:12px;")
                li Your Server has a Human : Bot ratio below 10%
                li Your Server must have been created before December 1st
                li Pollux must be in your server since December 1st or before
              br
              small For the last two items, you can still have your server included by asking for a whitelist, contact <b>Flicky#9065</b> or join the Support Server to be verified an whitelisted. 
      
          .column.is-6
            .section
              .title.b500T Participating as a User
              br
              .subtitle: b Having fun
              p As a user, all you need to do is have fun! Be active as Event Lootboxes drop, get them from your Server's event if any, 

              hr
              .subtitle: b Interact with the elves
              p Elves will spawn and leave in interval of two hours, choose your favorite and give your Winding Keys to them. 
              p If you want to significantly increase chances of lootbox drops at your server, give your keys to <b>Borealis</b>, the Collector. But if you want to get immediate goods, or get more Winding Keys, you can sepak to <b>Australis</b>, the Trader 
              hr
              .subtitle: b Scavenge for Winding Keys
              p Everyone has their own daily income of Keys, every 12 hours you can do <code>p!collectkeys</code> and get up to <b>50 Keys</b>
              p Regular users can claim 15 Keys
              p Donators can claim from 20 to 50 Keys depending on donation tier
              p Penalised users for any type of system abuse can only get up to 5 keys daily.
              
      .section#autoset.foo2
        .title.is-2: b Auto Config
        .subtitle The autoconfig features configures an event environment in your Server, it will do the following:
        div
          .column 
        .columns 
          .column 
            video(autoplay loop) NO VIDEO SUPPORT
              source(src="/video/demo1.webm" type="video/mp4")
          .column 
            .columns 
              .column 
              
                ul(style="list-style: initial;padding:12px;")
                  li Create three Roles
                  li Create one Channel
                  li Create two Webhooks
                  li Create two Embeds
                  li Pin a Message
                  li Add Watching Reactions
                  li Set Database Values to your server
                p You can rename the Roles and Channels at will, but avoid deleting them unless you are willing to either discontinue or reset the event for your servers, as all data will be outdated and rendered useless, requiring a new setup.
              .column 
                p: b It is REALLY important that Pollux has proper Permissions do do all of the above, or it WILL NOT work.
                p Permissions needed are:
                ul(style="list-style: initial;padding:12px;")
                  li Manage Channels
                  li Manage Roles
                  li Manage Webhooks
                  li Manage Messages
                  li Attach Files
                  li Embed Links
                p After set up you can revoke all these perms <b>except at the channel the event runs on</b>
        
        .subtitle Elfs will spawn at this new channel and notify participating members of elf spawns, and inventory updates.
        .columns 
          .column
            img(src="/images/AWB2.png")
            p Spawn of the Trader Elf
          .column
            img(src="/images/AWB1.png")
            p Spawn of the Collector Elf
          .column
            img(src="/images/AWB.png")
            p You can always check which ones are around using the command <b>+elf</b>, and interact with them with either <b>+australis</b> or <b>+borealis</b>

            
              


block scripts
  script(src='/js/truelite.js')
  script( src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
  //script.
    window.sr = ScrollReveal({ reset: true,
   container:'.nano-content'
   ,viewFactor: 0.000008
    });
    sr.reveal('.foo', { duration: 200 });
    sr.reveal('.foo2', { duration: 500,viewFactor: 0.00001 });
