extends ../layout 
block head
    link(rel="stylesheet" href="/css/commands.css")
block content

    .wrapper
        -currentPage = 'commands'
        include ../navbar

        style
            include commands.css

        - let r = Math.floor(Math.random() * (1 - 0 + 1) + 0);
        .plx-background-cover(plx-parallax="bgy: 100,400" style='background-image: url(/images/heads/office'+r+'.png)').pictoheader.dark
            .plx-container
                br
                h1.title Command List
                h3.subtitle All available commands and more
                hr.plx-divider-small

        hr.plx-divider-icon-fill
        .plx-container
            .section#main    
                h2 
                h4.subtitle 
                p
                hr.plx-divider

            .section                
                small.help Commands Description Language
                .plx-flex.plx-flex-around.flag-icons
                    a.button.is-small#dev.active:       img(src="/build/guessing/guessflags/united-states.png")
                    a.button.is-small#de:       img(src="/build/guessing/guessflags/germany.png")
                    a.button.is-small#cs:       img(src="/build/guessing/guessflags/czech-republic.png")
                    a.button.is-small#pt-BR:       img(src="/build/guessing/guessflags/brazil.png")
                    //a.button.is-small#nl:     img(src="/build/guessing/guessflags/nederlands.png")
                    a.button.is-small#es-ES:       img(src="/build/guessing/guessflags/spain.png")
                    a.button.is-small#fr:       img(src="/build/guessing/guessflags/france.png")
                    a.button.is-small#ro:       img(src="/build/guessing/guessflags/romania.png")
                    a.button.is-small#hu:       img(src="/build/guessing/guessflags/hungary.png")
                    a.button.is-small#pl:       img(src="/build/guessing/guessflags/poland.png")
                    a.button.is-small#bg:       img(src="/build/guessing/guessflags/bulgaria.png")
                    a.button.is-small#by:       img(src="/build/guessing/guessflags/belarus.png")
                    a.button.is-small#ru:       img(src="/build/guessing/guessflags/russia.png")
                    a.button.is-small#ua:       img(src="/build/guessing/guessflags/ukraine.png")
                    a.button.is-small#tr:       img(src="/build/guessing/guessflags/turkey.png")
                    a.button.is-small#zh-TW:    img(src="/build/guessing/guessflags/taiwan.png")
                    a.button.is-small#ko:       img(src="/build/guessing/guessflags/south-korea.png")
                    a.button.is-small#ja:       img(src="/build/guessing/guessflags/japan.png")

                .commandTable                                   
                    
                    
                    div(plx-filter="target: .commandFilter")
                        small.help Category Filter
                        
                        ul.plx-subnav.plx-subnav-pill.subnavite
                            li(plx-filter-control="")#allFIlter: a All
                            each cat in cm.CATS
                                li(plx-filter-control=".filter-"+cat.consolidated).genericFilter: a(class="c-outline "+cat.consolidated)=  cat.name
                        
                        
                        .plx-grid.commandStream
                            .plx-width-1-1(class="plx-width-3-4@s")
                                .commandFilter#commands-dock.compactable
                                    
                                    //include cmd_element a
                                    
            
                            .plx-width-1-4.weirdSidebar
                                ul#weirdNav.plx-flex-column.plx-subnav.plx-subnav-pill( style="z-index: 1; margin-left:0" plx-sticky="bottom: true; offset: 80" plx-scrollspy-nav=" closest: li; scroll: true; offset: 100;" )
                                    .plx-button(type='button' plx-toggle="target: .compactable; cls: compact" ).compactable COMPACT MODE
                                    a(href="#top").plx-button
                                        i: .fas.fa-arrow-up
                                        | TOP
                                    each cat in cm.CATS                      
                                        li(): a(href="#"+cat.consolidated)=  cat.name                                                 


                                
                                //.commandName= cmd.name
                                    span.plx-label.plx-align-right= cmd.cat
                                    div
                                            p.lh-1: i!= sanitise(cmd.desc)
                                            .plx-flex(plx-grid)
                                                .plx-width-3-4.plx-text-meta.plx-text-small.lh1
                                                    p!= sanitise(cmd.use)
                                                //.plx-width-1-4
                                                    each ali in cmd.aliases
                                                        span.plx-label.plx-label-danger= ali
                                                        |&#x2003

                                    hr
                                    each pe in cmd.perms||[]
                                        if pe!="SEND_MESSAGES"
                                            span.plx-label.bg-discord: i= pe.replace("_"," ")
                                            |&#x2000
              
            


                br#end
                hr.plx-divider-icon
            //pre=JSON.stringify(cm,0,3)
            


block scripts
    script var LOCALE = "#{locale||lang}"
    script
        include cmdscripts.js
    script.
        $('.button').click(function(){
            $('.flag-icons a').removeClass('active')
             setLang(this.id)
            $(this).addClass('active')
        })