.commandName {
    background: red;
    padding: 4px 8px;
    margin-bottom: 3px;
    text-transform: uppercase;
    min-width: 120px;
    max-width: 150px;
    text-align: center;
    border-radius: 4px;
    font-weight: 700;
}

.envolucro {
    background: black;
    padding: 10px;
}

.c-outline {
    border-color: var(--text-main) !important;
    color: var(--text-main) !important;
}

.c-outline.mod {
    border-color: var(--plx-yellow) !important;
    color: var(--plx-yellow) !important;
}

.c-outline.config {
    border-color: var(--plx-blue) !important;
    color: var(--plx-blue) !important;
}

.c-outline.nsfw {
    border-color: var(--plx-nsfw) !important;
    color: var(--plx-nsfw) !important;
}

.c-outline.custom {
    border-color: var(--secondary-color) !important;
    color: var(--secondary-color) !important;
}

.c-outline.economy {
    border-color: var(--plx-green) !important;
    color: var(--plx-green) !important;
}

.c-outline.anime {
    border-color: var(--plx-rose) !important;
    color: var(--plx-rose) !important;
}

.c-outline.roleplay {
    border-color: var(--plx-salmon) !important;
    color: var(--plx-salmon) !important;
}

.c-outline.minigames,
.c-outline.fun,
.c-outline.social {
    border-color: var(--plx-pink-alt) !important;
    color: var(--plx-pink-alt) !important;
}

.c-outline.cosmetics {
    border-color: var(--plx-cyan, #5FE) !important;
    color: var(--plx-cyan, #5FE) !important;
}

.c-outlinex {
    border-color: var(--accent-color) !important;
    color: var(--accent-color) !important;
}

a.c-outline {
    opacity: .7;
    margin-bottom: 10px
}

a.c-outline:hover {
    opacity: 1;
    //color: white !important;
    background: transparent !important;
}
.plx-active a.c-outline {
    opacity: 1;
    //color: white !important;
    background: #1115 !important;
    box-shadow: 0 0 2px #FFF2
}