extends layout

block nav
    .hero.is-primary.is-bold
      include navbas

                          

                        
block content
              
      .nano: .nano-content: .container#xd
        .level
        .level-item

        .level-left
            div
              p.title: b Inventory
        .level-item
            //p.subtitle A fancy way to show off your tastes!
        hr
        
        //p Choose as many as you want from the #{ITEMBASE.length} medals available in stock!
        
        //pre= JSON.stringify(ITEMBASE,null,5)
        
        ul.menu-list.level

            li.level-left:   a.is-active.itm.super-filter-button(data-filter="all") All
            li.level-left:   a.itm.super-filter-button(data-filter="f-box") Lootboxes
            li.level-left:   a.itm.super-filter-button(data-filter="f-junk") Junk 
            li.level-left:   a.itm.super-filter-button(data-filter="f-consumables") Consumables 
            li.level-left:   a.itm.super-filter-button(data-filter="f-key") Key Items 
            .level-item
            
    
        br
        .columns.is-multiline.is-mobile
          each item in udb.modules.inventory
            .column.is-multiline.is-2-desktop.is-half-mobile.super-filter(class="f-"+ITEMBASE[item].type)
              img( src='/build/'+ITEMBASE[item].icon+".png")
              p
                img( src='/images/tiers/'+ITEMBASE[item].rarity+".png" width="24px")
                span: b= ITEMBASE[item].name
        hr


block scripts 
