extends ../../layout 
block content
    .wrapper
        include ../../navbar

        style 

        - let r = Math.floor(Math.random() * (1 - 0 + 1) + 0);
        .plx-background-cover(plx-parallax="bgy: 100,400" style='background-image: url(/images/heads/office'+r+'.png)').pictoheader.dark
            .plx-container
                br
                h1.title Journey Log
                h3.subtitle See in detail what happened during your adventure in the snowy outskirts of Halloween Town
                hr.plx-divider-small
                p

        hr.plx-divider-icon-fill
        .plx-container
            .section#main    Log
                h2 
                h4.subtitle  test
                p
                hr

                




block scripts