extends ../layout 
block content
    .wrapper
          include ../navbar

          style 

          - let r = Math.floor(Math.random() * (1 - 0 + 1) + 0);
          .plx-background-cover(plx-parallax="bgy: 100,400" style='background-image: url(images/heads/legal'+r+'.png)').pictoheader.dark
            .plx-container
              style: include legal.css
              div(plx-img data-src="/images/pollux/igiari.png" plx-parallax="bgy: 0,200"  ).igiari
              br
              h1.title Privacy Policy
              h3.subtitle 
                  | Pollux collects some Personal Data from its Users. But don't worry, she's not a gossip girl!
              hr.plx-divider-small
          hr.plx-divider-icon-fill
          .plx-container
            p
              | Pollux was built as a Freemium application. This SERVICE is provided by Polestar Labs at no cost and is intended for use as is.
              br
              | This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.
              
              br
              br
              | If you choose to use Pollux, then you agree to the collection and use of information in relation to this policy. The Personal Information collected is used for providing and improving the Service. Your information will not be used or shared with anyone except as described in this Privacy Policy.
              br
              br
              | The terms used in this Privacy Policy have the same meanings as in our <a href='/terms'>Terms of Service</a> unless otherwise defined in this Privacy Policy. 
              br
              
            hr
            br
          .plx-container.paperback
            div
              h2.title.is-4: b
                | Types of Data collected
              p
                | Among the types of Personal Data that Pollux collects, by itself or through third parties, there are: Personal Data, Cookies and Usage Data.
              p
                | Complete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the Data collection.
                br
                | 						The Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using Pollux or this website.
                br
                | 						All Data requested by Pollux is mandatory and failure to provide this Data may make it impossible for Pollux to provide its services. In cases where Pollux specifically states that some Data is not mandatory, Users are free not to communicate this Data without any consequences on the availability or the functioning of the service.
                br
                | 						Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.
                br
                | 						Any use of Cookies – or of other tracking tools – by Pollux.gg or by the owners of third party services used by Pollux serves the purpose of providing the service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available.
              p
                | Users are responsible for any third party Personal Data obtained, published or shared through Pollux and confirm that they have the third party's consent to provide the Data to the Owner.
            hr
            div
              h2.title.is-4: b
                | Mode and place of processing the Data
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Methods of processing
              p
                | The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
                br
                | 						The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Place
              p
                | The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Retention time
              p
                | The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.
            hr
            div
              h2.title.is-4: b
                | The use of the collected Data
              p
                | The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes: Access to third party accounts, Analytics and Displaying content from external platforms.
              p
                | The Personal Data used for each purpose is outlined in the specific sections of this document.
            
            div
              div
                  h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Aggregated Statistics
                  p
                      | Pollux may collect statistics about the behavior of visitors to its website. Pollux may display this information publicly or provide it to others. However, Pollux does not disclose your personally-identifying information.
                  h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Cookies
                  p
                      | To enrich and perfect your online experience, Pollux uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.
                  p
                      | A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Pollux uses cookies to help it identify and track visitors, their usage of this website, and their website access preferences. Pollux visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Pollux’s websites, with the drawback that certain features of Pollux’s websites may not function properly without the aid of cookies.
                  p
                  h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Usage Data
                  p
                    | Usage Data is collected automatically when using the Service.
                    br
                    | Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
                    br
                    | When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.
                    br
                    | We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device. 
                    br
                    
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Information from Third-Party Social Media Services
                  p
                    | If You decide to register through or otherwise grant us access to a Third-Party Social Media Service, We may collect Personal data that is already associated with Your Third-Party Social Media Service's account, such as Your name, Your email address, Your activities or Your contact list associated with that account.
                    br
                    | You may also have the option of sharing additional information with the Company through Your Third-Party Social Media Service's account. If You choose to provide such information and Personal Data, during registration or otherwise, You are giving the Company permission to use, share, and store it in a manner consistent with this Privacy Policy.
                    
                    | By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Pollux's use of cookies.
                  h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | E-commerce
                  p
                      | Those who engage in transactions with Pollux – by purchasing Pollux's services or products, are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Pollux collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with Pollux. Pollux does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
  
                  hr
                      
            div
              h2.title.is-4: b
                | Detailed information on the processing of Personal Data
              .subtitle.is-5
                | Personal Data is collected for the following purposes and using the following services:
              ul.plx-grid
                
                li.plx-width-1-3: .message.is-small.plx-card.plx-card-small.plx-card-default.plx-card-body
                  h4.message-header.title.is-6.is-marginless(style="margin-top:15px!important;"): b
                    |  Registration and authentication
                  div.message-body
                    small
                      | By registering or authenticating, Users allow Pollux to identify them and give them access to dedicated services.
                      br
                      | Third parties may provide registration and authentication services. In this case, Pollux will be able to access some Data, stored by these third-party services, for registration or identification purposes.
                      br

                    h4.title.is-6.is-marginless(style="margin-top:15px!important; font-style"): b
                      i.fab.fa-discord(style="font-weight:100;margin-right:16px;")
                      | Discord  
                      small (Discord, Inc.)
                    p
                      | This service allows Pollux to connect with the User's account on the Discord app, provided by Discord, Inc.
                      
                    p
                      span: strong Personal Data collected: 
                      //Various types of Data as specified in the privacy policy of the service.
                      ul
                        li Servers you're in 
                        li Connections to third party Applications 
                        li Your email address 
                        li Various types of Data as specified in the privacy policy of the service
                    p
                      | Place of processing: US –
                      a(target='blank' href='https://discordapp.com/privacy')
                        | Privacy Policy
                
                
                li.plx-width-1-3: .message.is-small.plx-card.plx-card-small.plx-card-default.plx-card-body
                  h4.message-header.title.is-6.is-marginless(style="margin-top:15px!important;"): b
                    | Analytics
                  div.message-body
                    small.small
                      | The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.
                    h4.title.is-6.is-marginless(style="margin-top:15px!important; font-style"): b
                      i.fab.fa-google(style="font-weight:100;margin-right:16px;")
                      | Google Analytics  
                      small (Google Inc.)
                    p
                      | Google Analytics is a web analysis service provided by Google Inc., which utilizes the Data collected to track and examine the usage of this website, to prepare reports on its activities and share them with other Google services.
                      
                      | 									Google may use the Data collected to contextualize and personalize the ads of its own advertising network.
                      br
                    p
                      span: strong Personal Data collected: 
                      ul 
                        li Cookies
                        li Usage Data
                        li Demographics Information
                    p
                      | Place of processing: US 
                      br
                      | 									 –
                      a(target='blank' href='https://www.google.com/intl/en/policies/privacy/')
                        | Privacy Policy
                      | 									 –
                      a(target='blank' href='https://tools.google.com/dlpage/gaoptout?hl=en')
                        | Opt Out
                
                
                li.plx-width-1-3: .message.is-small.plx-card.plx-card-small.plx-card-default.plx-card-body
                  h4.message-header.title.is-6.is-marginless(style="margin-top:15px!important;"): b
                    | Access to third party accounts
                  div.message-body
                    small.small
                      | This service allows Pollux to access Data from your account on a third party service and perform actions with it.
                      br
                      b 									These services are not activated automatically, but require explicit authorization by the User. 
                      br
                      
                    h4.title.is-6.is-marginless(style="margin-top:15px!important; font-style"): b
                      i.fab.fa-paypal(style="font-weight:100;margin-right:16px;")
                      | PayPal Checkout  
                      small (PayPal Inc.)
                    p
                      | PayPal is a payment service provided by PayPal Inc., which allows users to make online payments. 
                    p
                      span: strong Personal Data collected: 
                      ul
                        li Email Address
                        li Shipping Address
                        li Various types of Data as specified in the privacy policy of the service
                    p
                      | Place of processing: See the PayPal privacy policy –
                      a(target='blank' href='https://www.paypal.com/privacy')
                        | Privacy Policy
            hr
         
            div
              h2.title.is-4: b
                | Additional information about Data collection and processing
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Legal action
              p
                | The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of Pollux or the related services.
                br
                | 						The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Use of Your Personal Data
                
              p 
                |  We may share Your personal information in the following situations:
                ul
                  li 
                    b With Service Providers:
                    span We may share Your personal information with Service Providers to monitor and analyze the use of our Service, to contact You.
                  li 
                    b For business transfers:
                    span We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of Our business to another company.
                  li 
                    b With Affiliates: 
                    span e may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.
                  li 
                    b With other users:
                    span when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service, Your contacts on the Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your activity, communicate with You and view Your profile.
                  li 
                    b With Your consent:
                    span We may disclose Your personal information for any other purpose with Your consent.

              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Additional information about User's Personal Data
              p
                | In addition to the information contained in this privacy policy, Pollux may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | System logs and maintenance
              p
                | For operation and maintenance purposes, Pollux and any third party services may collect files that record interaction with Pollux (System logs) or use for this purpose other Personal Data (such as IP Address).
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Information not contained in this policy
              p
                | More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | The rights of Users
              p
                | Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.
              p
                | Pollux does not support “Do Not Track” requests.
                br
                | 						To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Changes to this privacy policy
              p
                | The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using Pollux and can request that the Data Controller remove the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.
              h3.title.is-6.is-marginless(style="margin-top:15px!important"): b
                | Information about this privacy policy
              
            hr
            div
              div
                h3.title.is-5.is-marginless(style="margin-top:15px!important"): b
                  | Definitions and legal references
                small
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Personal Data (or Data)
                  p
                    | Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | User
                  p
                    | The individual using Pollux, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refers.
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Data Subject
                  p
                    | The legal or natural person to whom the Personal Data refers.
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Data Processor (or Data Supervisor)
                  p
                    | The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Data Controller (or Owner)
                  p
                    | The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of Pollux. The Data Controller, unless otherwise specified, is the Owner of Pollux.
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Pollux
                  p
                    | The hardware or software tool by which the Personal Data of the User is collected.
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Cookies
                  p
                    | Small piece of data stored in the User's device.
                  hr
                  h4.title.is-6.is-marginless(style="margin-top:15px!important"): b
                    | Legal information                  
                  .plx-alert-warning(plx-alert)
                    p: strong
                      | Notice to European Users:
                    p This privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.
                  p
                    i This privacy policy relates solely to Pollux.
                      br
                      b This policy is effective as of 25 July 2021.
            hr
            div
                 hr.plx-divider-icon
            div


block scripts