.plx-flex.plx-flex-between.plx-flex-wrap#topbar
        
    .plx-flex.plx-flex-around.plx-width-1-1(class="plx-width-auto@m")

        .plx-dash-numeric
            .item
                .num= userdata.modules.exp
                .name EXP
        .numeric-divider
        //.plx-dash-numeric
            .item
                .num= userdata.modules.commend ||0
                .name Commend
        .numeric-divider
        .plx-dash-numeric
            .item
                .num= ((userdata.counters||{}).daily||{}).streak || 0
                .name Streak

    .plx-flex.plx-flex-around.plx-width-1-1(class="plx-width-auto@m")
        .plx-dash-numeric
            .item
                .num(style="color:#FC5065")
                    animated-number(:value='rubines' :duration="1200" :easing="'easeOutExpo'" :round='true' )  
                    //= userdata.modules.RBN
                .name Rubines
        .numeric-divider
        .plx-dash-numeric
            .item
                .num(style="color:#50CCB0")
                    animated-number(:value='jades' :duration="1200" :easing="'easeOutExpo'" :round='true' )  
                    //= userdata.modules.JDE
                .name Jades
        .numeric-divider
        .plx-dash-numeric
            .item
                .num(style="color:#14ACDA")
                    animated-number(:value='sapphires' :duration="1200" :easing="'easeOutExpo'" :round='true' )  
                    //= userdata.modules.SPH
                .name Sapphires