p First tell me who are the ones in charge. Set a <b>Administrative Role</b> so I know who I should allow to use Management features like <b>dashboard edit, enable/disable commands, change languages</b>, and such.
#selektor
    select#admrole
        option(selected=true)
        each role in serverInfo.roles.map(x=>{return{id:x.id,name:x.name,color:"#"+(x.color).toString(16).padStart(6,0)}})
            option(id=role.id data-color=role.color)= role.name
p#explain(style="display:none")   This will allow everyone with the <span id="admrole2">---</span> role to edit the server's dashboard and much more. Is that alright?
script.     
    informationFill.compute1=function(){}
    $("#admrole").change(function(){
       let id = this.selectedOptions[0].id;       
       $("#admrole2").html(this.value)
       $("#explain").css({display:"block"})
       $("#next")[0].disabled = false
       console.log( $("#next")[0])
       $("#admrole2").css({'font-weight':600,color:this.selectedOptions[0].dataset.color});
       payload.modrole = id;
   })