.plx-position-relative.plx-width-1-1(style="padding-bottom: 5rem")
    section.intro.plx-container.margin-top-mobo.plx-margin-top
        h1.title Profile Medals
        h3.subtitle A picture is worth a thousand words, nine of them is over 9000
        p Tell a bit about yourself in a more visual way or just try matching an interesting theme combining different medals with the other stuff in your profile.
        
    ul.plx-flex.plx-flex-wrap.plx-flex-center 
        li.shopbox(v-for="(item,i) in medals", :class="[hasItem(item)?'obtained':'',item.type,'raritybox',item.rarity].join(' ')"  v-bind:style="{'animation-delay': timeFun(i) + 'ms'}").plx-animation-slide-bottom-small
            +shopcard()