.commendInfo#upf
    span Top Commenders
    div(v-if='commendInfo.loading') 
        i.fas.fa-cog.fa-spin
    div(v-else ).commends-list
        a.de-link.commend.plx-animation-slide-top-small(:href='"/profile/"+cmd.id' v-for="(cmd,ind) in commendInfo.whoIn.slice(0,10)" :style="{'animation-delay': `${ind*.11}s` }")
            div
                span.pos(style="font-family: 'Panton Black' ") # {{ind+1}} &#x2003
                span.avatar
                    img(:src="udata(cmd).avatar ? udata(cmd).avatar.startsWith('https')?udata(cmd).avatar:`https://cdn.discordapp.com/avatars/${cmd.id}/${udata(cmd).avatar}.png` : 'https://cdn.discordapp.com/embed/avatars/0.png' " width='24px')
            .username
                span.name {{udata(cmd).username}}
                span.discrimin
                    | #
                    span {{udata(cmd).discriminator}}
            .commends {{cmd.count}}