mixin paypal(price,item,curr,imsize)
  form( action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank")
      input(type="hidden" name="cmd" value="_xclick" )
      input(type="hidden" name="business" value="contato@lucasflicky.com")
      input(type="hidden" name="item_name" value= item||"Pollux Cherry Credit (1 month)")
      input(type="hidden" name="item_number" value="1")
      input(type="hidden" name="amount" value=(price||"15"))
      input(type="hidden" name="tax" value="0,82")
      input(type="hidden" name="currency_code" value=curr||"USD")
      input(type="image" src='/build/cherry.png' width=imsize+"px" name="submit" alt="Make payments with PayPal")
      
mixin cherry(id,de)
      .level
        .level-left
          label.switch
            input(type="checkbox" checked).check
            span.slider
        .level-left: p &#x2003
        .level-left: img(src='/build/cherry.png' width="32px")
        .level-left: p &#x2003
        .level-left: p= de
        .level-item

.nano: .nano-content.padded
  .title.is-2: b Cherry Modules
  p.subtitle <b>Cherry</b>-picked features solely for your needs.
  if user.cherries
    div(style="display:flex;justify-content:space-evenly")
      div
      div
        img(src='/build/cherry.png' width="250px")
        span.title.is-ultra 
          span x
          span: b= user.cherries
      div
    div
        p Contact the Developer to request your Modules
    hr(style="opacity:.2")
    .title My Cherries
    .whitebox
      if user.cherrySets
        each cherry in user.cherrySets || []
          +cherry(1,'Lorem Ipsum dolor sit amet consectetur')
        p You currently don't have any Modules set up.

            
    //hr(style="opacity:.2")
      
      
  else
    p You don't own any Cherries, you can spend them to open a Custom Feature Request Ticket. Which allows you to get one exclusive functionality for one of your servers.
  hr(style="opacity:.2")
  .title Get Cherries
  +paypal(10,false,false,50)
  p 10 USD = 1 Cherry Module, up to 1 feats. 1 Month Mantainance (Plus any Donator Rewards)

  +paypal(15,false,false,100)
  p 15 USD = 1 Cherry Module, up to 3 feats. 1 Month Mantainance (Plus any Donator Rewards)
  
  //+paypal(50,false,false,150)
  //p 50 USD = 3 Cherry Modules, up to 5 feats. 1 Month Mantainance 
  
  hr(style="opacity:.2")