.plx-container.central-container.plx-flex
    .plx-width-1-2
        h1.title.stfront STOREFRONT
        h3.subtitle Your new hub for Pollux Collectibles
        hr.plx-divider-small
        br
        .plx-flex
            .plx-width-1-3
                .icon: img(src="https://via.placeholder.com/120x120")
                .title BGshop Classic
            .plx-width-1-3
                .icon: img(src="https://via.placeholder.com/120x120")
                .title Medalshop Classic
            .plx-width-1-3
                .icon: img(src="https://via.placeholder.com/120x120")
                .title Player Marketplace
        .plx-flex
            a.magic-outline.plx-button.plx-margin-left.plx-margin-bottom(type='button' href="#storetop" plx-scroll)
                span Something
        .plx-flex
            .icon 1
            .icon 2
            .icon 3
            .icon 4

    .plx-width-1-2
        .bigpic: img(src="https://via.placeholder.com/340x500")

.bottom-board
    p board stuff goes here

