

canvas(id="lineruby")

SCRIPT.
       var a = [!{ecomala.map(function (asr) {return asr})}]
       var b = !{JSON.stringify(ecomalastamp)}
 a=a.map(function (asr) {return moment(asr).format("MMM Do h:mm a")})
    var barChartData2 = {
    labels: a.slice(-60),
    datasets: [
    
    {
        label: 'Rubines',

        borderColor: "#d43c3c",
        borderWidth: 1,
        lineTension:0,
        options:{},
        data: b.map(function (grp) {return grp.rubine}).slice(-60),
      },    
    {
        label: 'Jades',

        borderColor: "#3cd49a",
        borderWidth: 1,
        lineTension:0,
        options:{},
        data: b.map(function (grp) {return grp.jade}).slice(-60),
      },
      
          {
        label: 'Sapphires',

        borderColor: "#653cd4",
        borderWidth: 1,
        lineTension:0,
        options:{},
        data: b.map(function (grp) {return grp.sapphire}).slice(-60),
      }
      
      
      
      
      ]         
    };

    var ctxs = document.getElementById("lineruby").getContext("2d");
    window.myBar = new Chart(ctxs, {
      type: 'line',
      data: barChartData2,
      options: {
        scales: {
          xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: false,
              ticks: {
                beginAtZero:false
              }
          }]
        }
      },
      responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'LAST HOUR'
      }
    })
                
                