html
    head
    title Redir...
    body(style="background-image:url('/images/heartloader.gif');background-size:cover;background-position:center;height: 100%;overflow: hidden;")
    //link(rel='stylesheet', href='/css/heart.css')


    //span.title.level-item#redir REDIRECTING...
    //span#redire(style="visibility:hidden")= redire
    //div.container

        div.grid-big
        - for (i=0; i<25; i++)
            div.cell-1
    //div.loadere
        div.bare
        div.bareb
    script var target= "#{target}"
    script.
        try{
            setTimeout(function(){
                window.opener.location.reload( );
            },1000)
        }catch(e){ }

            setTimeout(function(){
            //document.getElementById("redir").innerHTML = "Poi!"
                setTimeout(function(){
                window.close()
        window.location.replace(target||"/");
                },2300)
            },2800)


