

@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/panton-black-webfont.woff2') format('woff2');
       
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/panton-bold-webfont.woff2') format('woff2');
        
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/panton-light-webfont.woff2') format('woff2');
       
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/panton-regular-webfont.woff2') format('woff2'),
      
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/panton-thin-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;

}
/*
@font-face {font-family: "Proxima Soft";
    src: url("/fonts/proximasoft/proxima-nova-soft-black.woff");
    font-display: swap;
    font-weight: 900
}
*/
@font-face {font-family: "Proxima Soft";
    src: url("/fonts/proximasoft/proxima-nova-soft-bold.woff");
    font-display: swap;
    font-weight: 600 
}

@font-face {font-family: "Proxima Soft";
    src: url("/fonts/proximasoft/proxima-nova-soft-normal.woff");
    font-display: swap;
    font-weight: 400;
}
/*
@font-face {font-family: "Proxima Soft";
    src: url("/fonts/proximasoft/proxima-nova-soft-light.woff");
    font-display: swap;
    font-weight: 100
}
*/