- const TAGLINE = "Pollux - Your new favorite assistant!"
- const DESCRIPTION = "A feature-rich assistant focused on entertainment and social activities. Equipped with a variety of cool features and minigames with unmatched depth and elaborate visuals."
- const DEFAULT_COLOR = "#FF3065"
- const OG_IMG = "https://cdn.pollux.gg/build/opengraph/splash_generic.png"

if opengraph
  meta(name="theme-color" content=(opengraph.color|| DEFAULT_COLOR))
  meta(property='og:type', content= opengraph.type||'website')
  meta(property='og:site_name', content= opengraph.sitename || TAGLINE )
  meta(property='og:title', content=(opengraph.title||"Pollux.gg"))
  meta(property='og:description', content=(opengraph.description||  DESCRIPTION ))
  
  if opengraph.image !== false
    meta(property='og:image', content=(opengraph.image||OG_IMG))
  
  if opengraph.large
    meta(name='twitter:card', content='summary_large_image')

  meta(name='twitter:site', content='@maidPollux')
  meta(name='twitter:creator', content='@dasflicksie')

else  
  block opengraph
  meta(name="theme-color" content= DEFAULT_COLOR)
  meta(property='og:type', content='website')
  meta(property='og:site_name', content='Pollux.gg')
  meta(property='og:title', content= TAGLINE )
  meta(property='og:description', content= DESCRIPTION )
  meta(property='og:image', content= OG_IMG)
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content='@dasflicksie')
  meta(name='twitter:creator', content='@dasflicksie')

meta(name="og:url" content= HOST )