@import "rarityboxes.css";


@media screen and (max-width:500px){
  .item-card{
    transform: scale(.82);
    transform-origin: left;
    margin: -12px 0 !important;
  }
}
  .item-card {
    padding: 14px;
    margin: 8px;
    box-sizing: border-box;
    background: var(--bg-dark);
    width: 420px;
    min-height: 220px;
    border-radius: 10px;
    box-shadow: 0 0 25px -5px #112;
  }
.basic-item-container .item-card{
  min-height: 180px;
}
  .item-card .card-footer {
    margin: 0;
    font-style: italic;
    opacity: 0.7;
    line-height: 1.25;
    font-size: 10pt;
    /*! margin-top: 10px; */
  }
  .item-card .top-line {
    margin-bottom: 12px;
  }
  .item-card .top-line .title-container {
    width: 100%;
  }
  .item-card .top-line .title-container .item-title {
    align-items: center;
    font-family: Panton;
    font-weight: 600;
    font-size: 16pt;
    height: 24pt;
    overflow: hidden;
  }
  .item-card .top-line .title-container .item-title .rarity {
    transform: translateY(-8px) scale(1.3);
    margin-right: 10px;
  }
  .item-card .top-line .title-container .item-id {
    line-height: 0.8;
    font-family: "Share Tech Mono";
    margin-left: 36px;
    opacity: 0.5;
  }
  .item-card .top-line .craft-button {
    width: 100px;
    transform-origin: right top;
    justify-content: space-between;
    padding: 0 12px;
    height: 30px;
    margin: 0 0 0 auto;
  }
  .item-card .top-line .craft-button .price {
    font-size: 12pt;
    width: 100%;
    text-align: center;
  }
  .item-card .content-center .item-image {
    width: 100px;
    height: 100px;
    flex: 0 0 auto;
    border-radius: 10px;
    text-align: center;
    background: var(--bg-darker);
  }
.item-card .content-center .item-image img{
  height: 100%;
}
  .item-card .content-center .item-info {
    padding: 10px 24px 0 24px;
    flex: 1 1 auto;
    justify-content: space-between;
  }
  .item-card .content-center .item-info .item-price-jde {
    margin-bottom: 8px;
    font-family: Panton;
  }
  .item-card .content-center .item-info .item-material-container {
    width: 100%;
    height: 24px;
    background: var(--bg-darker);
    padding: 4px;
    border-radius: 8px;
    overflow: visible;
  }
  .item-card .content-center .item-info .item-material-container .material {
    margin-right: 4px;
    padding: 0;
    border-radius: 6px;
    height: 24px;
    min-width: 48px;
    overflow: hidden;
    background: var(--bg-darkest);
    cursor: url(/cur/pointer.png), pointer;
  }
  .item-card .content-center .item-info .item-material-container .material > * {
    //pointer-events: none;
  }
  .item-card .content-center .item-info .item-material-container .material .mat-icon {
    width: 24px;
    height: 24px;
    //background:red;

    
    flex: 0 0 auto;
  }
  .item-card .content-center .item-info .item-material-container .material .mat-count {
    text-align: center;
    flex: 1 0 auto;
  }


.item-price{
  height: 24px;
}
.item-title .truncate{
  display: inline-block;
  width: 240px;
}