html{
    background-image: url('/images/pollux/tea.png');
    background-color: var(--secondary-color);
  background-blend-mode: overlay;
  }
  nav{
    background-image: linear-gradient(#002F,#0000);
  }
  nav.plx-active{
    box-shadow: none;
    height: 100px;
    background-image: linear-gradient(#0028,#0000);
  }
  nav.plx-active >.login{
  height: 40px;
  }
html.cl-preload *{
    animation-name: none !important;
}

#splash h1.title, .fcard-finale .title{
  will-change: transform;
  color: var(--accent-color-alt, var(--accent-color)) !important;
  font-size: 5rem;
  --text-shadow: #220b41;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -2px 0 var(--text-shadow), 0 2px 0 var(--text-shadow), 2px 0 0 var(--text-shadow), -2px 0 0 var(--text-shadow), -4px 2px 0 var(--text-shadow), -2px 4px 0 var(--text-shadow);
  filter: drop-shadow(0 0 1px var(--text-shadow)) drop-shadow(-1px 1px 0px var(--text-shadow)) drop-shadow(0 0 0px var(--text-shadow)) drop-shadow(-1px 0 0px var(--text-shadow)) drop-shadow(-1px 0 0px var(--text-shadow)) drop-shadow(-1px 0 0px var(--text-shadow)) drop-shadow(-1px 0 0px var(--text-shadow));
}
#splash p ,.learnmore, .fcard-finale{
  color: white !important;
  --text-shadow: #220b41;
  text-shadow: 0 -1px 0 var(--text-shadow), 0 1px 0 var(--text-shadow), 1px 0 0 var(--text-shadow), -1px 0 0 var(--text-shadow), -2px 1px 0 var(--text-shadow), -1px 2px 0 var(--text-shadow);
  filter: drop-shadow(0 0 1px var(--text-shadow)) drop-shadow(-1px 1px 0px var(--text-shadow)) drop-shadow(0 0 0px var(--text-shadow)) drop-shadow(-1px 0 0px var(--text-shadow))  
}
.learnmore{
    font-size: 2rem;
}
.fcard-finale{
  margin: 100px auto;
  width: 100%;  
}
.fcard-finale *{
  font-size: 2rem;
  font-weight: 700;
}
.fcard-finale .title{
  margin-bottom: -2rem;
  color: var(--secondary-color) !important;
  
}
.fcard-finale .sub{

  color: var(--secondary-color);
  filter: brightness(1.5)
}
#splash p {
  color: white !important;
  font-size: 1.7rem;
  width: 1000px;
  margin: 20px auto 100px;
   line-height: 1.1;
   font-weight: 200;
}
#splash .buttons{
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 80px;

}
  section#splash{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 35vh 0 0 0;
    text-align: center;
    box-sizing:  border-box;
    background-image: linear-gradient(#15153500 20%,#321b51BB 60%,#15153500);
    margin-top: -50px;
    
    
  }
  
section{
  z-index: 0;
}
  .pollux-img{
    position: fixed;
    z-index: 0;  
    top: -200px;
    text-align: center;
    width: 100%;
  }
.pollux-img img{
  height: 2000px;
  margin: auto;
  filter: drop-shadow(0 0 20px #0055)
}

section#splash h1{
  
}
  #splash .background{
    
    border: solid 0 transparent;
    border-left: solid 50vw var(--accent-color);
    border-right: solid 50vw var(--accent-color);
    border-top-width: 50vh;
    bottom: 0;
    left:0;
    box-sizing:  content-box;
    content: " ";
    display: block;
    position: absolute;
  z-index: -1;
 
         
  }
  section#features{ 
    padding: 0 100px;
    position: relative;  
  }
  
  #features .background,#splash .background{
     opacity: 1; 
    
  }
  
  #features .background{
    content: " ";
     background: var(--accent-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
   
    
    
  }
  
  section#partners{
    background: var(--secondary-color);
    backdrop-filter: blur(51px);
  }
  
  section#premium{
    background:  var(--bg-darkest);
  }
  
  .feature-cards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    perspective: 2800px;
    line-height: 1.3
  }
  .feature-cards > .fcard .icon{
    //height: 128px;
    width: 250px;
    flex: 0 0 auto;
    margin: auto 20px auto 10px;
    border-radius: 10px;
    overflow: hidden;

  }
  .fcard .details{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .details > h3.title {
    margin-bottom: -40px; 
    margin-top: 10px;
  }
  

.fcard{ 
      transform: rotateY(15deg) skewX(1.6deg);
      box-shadow: -5px 10px 0px 5px #10203FAE,0 10px 50px -5px #83FA;

  }
 .fcard:nth-child(2n+2){ 
      transform: rotateY(-15deg) skewX(-1.6deg);
      box-shadow: 5px 10px 0px 5px #10203FAE,0 10px 50px -5px #83FA;
      
  }
  .fcard{  
    border: solid 15px #10203F;
    border-radius: 55px;
    background: var(--secondary-color);
    color: var(--color-contrast);
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;    
    flex: 0 1 48%;
  }
  .fcard h3, .fcard h4{
    color: var(--color-contrast);
  }

@media screen and (max-width:1400px){
  section#features{ 
    padding: 0 50px;
  }
  .fcard{  
    border: solid 10px #10203F;
    padding: 0 10px 0 0;
    font-size: 12px;
  
  }
  .fcard .sub{
    font-size: 14px !important;
  }
.feature-cards > .fcard .icon{
    width: 30%;
  }
  .fcard{ 
      transform: rotateY(15deg) skewX(1.6deg);
      box-shadow: -5px 5px 0px 5px #10203FAE,0 10px 50px -5px #83FA;

  }
 .fcard:nth-child(2n+2){ 
      transform: rotateY(-15deg) skewX(-1.6deg);
      box-shadow: 5px 5px 0px 5px #10203FAE,0 10px 50px -5px #83FA;
      
  }
}
  @media screen and (max-width:1050px){
  .fcard{  
    border: solid 10px #10203F;   
    padding: 20px;    
    font-size: 12px;
    overflow: hidden;
  
    }

.fcard:hover .details{
 text-shadow: 1px 1px 12px 4px #000
  
}
  
  .feature-cards > .fcard .icon{
   opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10px;
    width: 100%;
    transition: opacity .5s;
  }
    
.feature-cards > .fcard:hover .icon{
  opacity: .6;
}
    
  .details >.sub{
    font-size: 14pt;
  }
    }
  #features >.feature-cards .fcard{
    display: flex;
  }



.plx-animation-slide-fcard-left{
 animation-name: fcard-animate-left;
}
.plx-animation-slide-fcard-right{
 animation-name: fcard-animate-right;
}
.plx-animation-slide-fcard-right,.plx-animation-slide-fcard-left{
  animation-timing-function: cubic-bezier(.2,.9,.5,1.05);
}
@keyframes fcard-animate-left {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotateY(50deg) skewX(1.6deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotateY(15deg) skewX(1.6deg);
    }
}
@keyframes fcard-animate-right {
    0% {
        opacity: 0;
        transform: translateX(100%) rotateY(-50deg) skewX(-1.6deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotateY(-15deg) skewX(-1.6deg);
    }
}