* {
  outline: 1px solid transparent;
  user-select: none;
}

.background-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  opacity: 0.4;
  top:0
}

.bgblur {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 15px;
  background: #1b1b2b35;
  box-shadow: inset 0 0 20px #FFF3;
  backface-visibility: hidden;
  z-index: -1;
  border: solid 3px transparent;
  //border-top-color: var(--favcolor);
  //border-bottom-color: var(--favcolor);
  border-radius: 15px;
  backdrop-filter: blur(18px);  
  transform: translateZ(-50px) scale(1.03);
}
.profile-container:after {

right: -30px;
top: -15px;

  border-right: solid 5px;
}

.profile-container:before {
 border-left: solid 5px;
left: -30px;
top: -15px;

}
.profile-container:after,.profile-container:before{
 content:'';
  display: block;
position:  absolute;
height: calc(100% + 30px);
width: 20px;
  border-radius:  15px ;
border-color: var(--favcolor);

}

.profilenav{
display: flex;
list-style: none;
justify-content: space-around;
width: 100%;
padding: 0;
margin-bottom: 0px;
align-items: center;
border-bottom: solid 1px #FFFA;
 font-family: Panton
}
.profilenav > li {
height: 50px;
cursor: url(/cur/pointer.png), pointer;
}

.profile-container {
  z-index: 0;
  padding: 10px 30px;
  max-width: 1200px;
  margin: 90px auto;
  min-width: 900px;
  min-height: 700px;
  height: calc(90vh + -100px);
  position: relative;
  color: white;
  justify-content: space-around;
  display: flex;
  transform-style: preserve-3d;
}
.profile-container .curr_icon_3 {
  transform: scale(0.8);
  vertical-align: bottom;
}
.js-tilt-glare{
  border-radius: 15px;
}

.col {
  display: block;
  flex-grow: 0;
  background: #F000;
  width: 32%;
  margin: 5px;
}

.col.center {
  padding-top: 180px;
  transform: translateZ(-50px) !important;
  width: 34%;
  border-right: solid 1px #FFF3;
  border-left: solid 1px #FFF3;
}

.col.left {
  transform: translateZ(50px) scale(0.9) rotateY(5deg);
}

.col.right {
  transform: translateZ(50px) scale(0.95) translateX(0.3px) rotateY(-5deg);
}
.col.right > div {
  padding: 16px;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #DDDDFF11, #DDF2);
  display: flex;
  height: 95%;
  flex-direction: column;
  align-items: center;   
  //justify-content:  space-around;
  
}

.wealth {
  display: flex;
  font-size: 10pt;
  margin-bottom: 10px;
    justify-content: space-evenly;
}
.wealth .icon32 {
  height: 28px;
  vertical-align: middle;
   
}

.bg {
  border-radius: 10px;
  border: solid 1px #FFF2;
  padding: 8px 6px;
}
.bg img {
  border-radius: 10px;
  z-index: 2;
  position: relative;
}
#right-pages,#right-pages li{
height: 100%;
 width: 100%;
}
.cosm-li{
  display: flex;
  flex-direction: column;
}
.bginfo{
height: 0;
opacity: 0;
text-align: center;
transition: opacity .3s ease , height .5s cubic-bezier(.65,.05,.36,1) ;
display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
 
.bginfo.expanded {
 
  background-image: linear-gradient(#FFF0,#FFF2);
  border-radius: 0 0 10px 10px;
transition: opacity .3s ease .2s, height .5s cubic-bezier(.65,.05,.36,1);

  height: 100px;
    opacity: 1;
  
}
.bginfo button{
margin:auto;
}


.persotex {
  margin: 20px;
  border: solid 1px #FFF5;
  border-radius: 10px;
  padding: 10px;
  line-height: 25px;
  height: 100px;
  overflow: hidden;
  letter-spacing: 2px;
  
}

.userinfo .username {
  //color: var(--favcolor);
  text-align: center;
  font-family: Panton;
}
.userinfo .username .name {
  font-size: 28pt;
  font-weight: 700;
}
.userinfo .username .discrim {
  font-family: Quicksand;
  font-size: 18pt;
  opacity: 0.7;
}
.userinfo .tagline {
  text-align: center;
  opacity: .7;
  letter-spacing: 2px;
}

.de-link {
  color: inherit;
}
.de-link:hover {
  text-decoration: none;
  color: inherit;
}

.wife {
  transition: background-position 0.2s ease-out;
  background-position: 0 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#FFF0, #FFF1);
  border: solid 1px #FFF8;
  border-radius: 100px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  
}

.wife p{
  margin: auto;
  user-select: none;
   pointer-events: none;
}
 
 
.wife:hover {
  background-position: 0 0;
  border-color: var(--favcolor);
}
.wife .textdata {
  line-height: 1;
}
.wife .avatar img {
  -webkit-mask: url(data:image/svg+xml;base64,CjxzdmcgdmVyc2lvbj0nMS4xJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMjkgMTI5JyB4bWxuczp4bGluaz0naHR0cDovL3d3dy53My5vcmcvMTk5OTlBQS94bGluaycgZW5hYmxlLWJhY2tncm91bmQ9J25ldyAwIDAgMTI5IDEyOSc+PGc+PHBhdGggZmlsbD0nIzhiOGI5RicgZD0nbTEyMS42LDQwLjFjLTMuMy0xNi42LTE1LjEtMjcuMy0zMC4zLTI3LjMtOC41LDAtMTcuNywzLjUtMjYuNywxMC4xLTkuMS02LjgtMTguMy0xMC4zLTI2LjktMTAuMy0xNS4yLDAtMjcuMSwxMC44LTMwLjMsMjcuNi00LjgsMjQuOSAxMC42LDU4IDU1LjcsNzYgMC41LDAuMiAxLDAuMyAxLjUsMC4zIDAuNSwwIDEtMC4xIDEuNS0wLjMgNDUtMTguNCA2MC4zLTUxLjQgNTUuNS03Ni4xem0tNTcsJy8+PC9nPjwvc3ZnPgo=);
}
.wife .username {
  font-family: Panton;
}
.wife .name {
  font-size: 22pt;
  font-weight: 700;
}
.wife .discrim {
  font-family: Quicksand;
  font-size: 14pt;
  opacity: 0.9;
}
.wife .since {
  opacity: 0.5;
  font-size: 10pt;
  text-align: center;
}

.avicontainer {
  position: absolute;
  max-width: 300px;
  margin: auto;
  transform-style: preserve-3d;
  transform: translateY(-80px) scale(0.9) translateZ(10px);
  z-index: 5;
}
.avicontainer .avatar {
  transform: scale(0.8);
}
.avicontainer #frame {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(15px);
}
.avicontainer #frame .disengaged {
  opacity: 0;
}
.avicontainer #frame:hover {
  cursor: url(/cur/pointer.png), pointer;
}

.medals {
  margin: auto !important;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 240px;
  height: 240px;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    transform-origin: top;
}
.medals.expanded{
transform: scale(.6);
 opacity: .4
}

.medals .medal {
  flex: 1 1 33%;
  padding: 5px;
  box-sizing: border-box;
  max-width: 80px;
}
.level-container {
  font-family: 'Panton';
text-align: center;
}

.commend i{
margin-left: 10px
}
.level{

  font-size: 80pt;
font-weight: 900;
//font-style: italic;
line-height: 1
}
.level-container .label{
  font-weight: 600;
  text-transform: uppercase;
}

.commend {
  display: flex;
  margin-bottom: 6px;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #FFF0, #FFF4);
  align-items: center;
  padding: 4px 8px;
  border-radius: 5px;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
   background-position: -10% 0;
   background-size: 250%;
 
}
.commend:hover {
background-position: 50% 0;

}
.commend .avatar > img {
  border-radius: 20px;
  margin-right: 8px;
}
.commend .username .discrimin {
  opacity: 0.4;
}

.commend .commends {
  margin-left: 8px;
  font-size: 14pt;
  line-height: 1;
}

@keyframes lite {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes wamp {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.comp-bar{
border: solid 1px #FFF1;
background-image: linear-gradient(65deg, #FFFFFF08, #FFFFFF18);
border-radius: 5px;
margin-bottom: 8px;
display: flex;
align-items: center;  
padding-right: 10px;
  justify-content: space-around;
} 

.bar{
margin: 8px 8px 0 8px;
}
.percentile{
font-family: Panton;
font-size: 20px;
  line-height: 1;
}
.sub{
  display: flex;
justify-content: space-between;
font-size: 10pt;
line-height: 10px;

}
.sub .label{   
font-family: Panton;
font-weight: initial;
color: #FFFA;
font-size: 10pt;
}
.sub .completion{
opacity: .4
}
.plx-progress-alt {
  vertical-align: baseline;
  display: block;
  width: 250px;
  border: 0;
  background-color: #0001;
  margin-bottom: 6px;
  height: 5px;
  border-radius: 500px;
  
}
.plx-progress-alt .inner-bar {
  box-shadow: 0 0 24px var(--favcolor);
  border-radius: 100px;
  height: 5px;
  display: block;
  background: linear-gradient(45deg, var(--favcolor-not-so-dim),var(--favcolor));
  background-size: 400% 400%;
  animation: lite 2s ease infinite, wamp 1s cubic-bezier(0.79, 0.14, 0.15, 0.86) both;
  transition-delay: 2s;    
  transform-origin: left;
}
.plx-progress-alt .percentile {
  line-height: 22px;
  padding: 0 10px;
  float: right;
  margin-left: 10px;
  font-size: 10pt;
}
