.dd-select, .dd-option, .dd-desc{
    text-align: left;
font-family:Whitney,Raleway,Sans-serif;
    color:white;
}
.dd-select, .dd-container{
    width: 100% !important;
}
.dd-select {

    appearance: none;

background: #35383c !important;



border-radius: 3px;

box-sizing: border-box;

font-size: 16px;
line-height: 19px;
margin-top: 12px;
color: white;
border-radius:2px;
border:solid 2px rgba(255,255,255,.2) !important;
position:relative;
cursor: url(/cur/pointer.png), pointer;
}
.dd-desc {
color:#aaa;
display:block;
overflow: hidden;
font-weight:normal;
line-height: 1.4em;
}
.dd-selected {
overflow:hidden;
display:block;
padding:10px;
font-weight:bold;
}
.dd-pointer {
width:0;
height:0;
position:absolute;
right:10px;
top:50%;
margin-top:-3px;
}
.dd-pointer-down {
border:solid 5px transparent;
border-top:solid 5px #FFF5;
}
.dd-pointer-up {
border:solid 5px transparent !important;
border-bottom:solid 5px #FFF5 !important;
margin-top:-8px;
}
.dd-options {
border:solid 1px #2224;
border-top:none;
list-style:none;
box-shadow:0px 1px 5px #2b2b2b;
display:none;
position:absolute;
z-index:2000;
margin:0;
padding:0;
background:#35383c;
overflow:auto;
}
.dd-option {

padding:10px;
display:block;
border-bottom:solid 1px #2225;
overflow:hidden;
text-decoration:none;
color:white !important;
cursor: url(/cur/pointer.png), pointer;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out;
}
.dd-options > li:last-child > .dd-option {
border-bottom:none;
}
.dd-option:hover {
background:#7289da;
color:#white;
}
.dd-option:hover .dd-desc{
color:#FFF8
}

.dd-selected-description-truncated {
text-overflow: ellipsis;
white-space:nowrap;
}
.dd-option-selected {
background:#2b2b2F;
}
.dd-option-image,
.dd-selected-image {
vertical-align:middle;
float:left;
margin-right:5px;
max-width:64px;
}
.dd-image-right {
float:right;
margin-right:15px;
margin-left:5px;
}
.dd-container {
position:relative;
}
.dd-selected-text {
font-weight:bold
}
