script.
    informationFill.compute5= function(){
      
    }
    $("#top").animate({height:'100%'},1000);

    $("#next").css({transition:'transform 800ms ease',transform:'scale(0)'},1000)
    $("#bottom").animate({height:0},800)
    $("#configging").animate({opacity:0},800,"swing",function(){
        if(STATUS=="OK"){
                $("#top").css({background:'rgb(126, 192, 143)'},500);
            $("#configging").html("All set! You can now check the dashboard for more options!<br><a href='/admin/#{serverInfo.id}' class='gotoDash'>ADMIN PANEL</a><br><a href='/dashboard' class='gotoDash'>USER DASHBOARD</a>")
            $("#configging").animate({opacity:1,"margin-top": "40%", "margin-left":  "50px","margin-right":  "50px",'font-size': "20px"},1200)
        }else{
                $("#top").css({background:'#e73e3e'},500);
            $("#configging").html("<b>AN ERROR HAS OCURRED</b><br><br>Something went wrong while trying to save your settings, please contact support. <br><a href='/support' class='gotoDash'>PLS HELP</a>")
            $("#configging").animate({opacity:1,"margin-top": "40%", "margin-left":  "50px","margin-right":  "50px",'font-size': "20px"},1200)

        }
    })
 
    
   