p What should I say to people who join or leave your server?
form#wilk
    select#welcome_channel
        each channel in channelInfo.map(x=>{return{id:x.id,name:"#"+x.name}})
            option(id=channel.id)= channel.name
    .label Channel
    textarea( rows=3 placeholder="Use %user% and %mention% to tag the user." )#welcome_text
    .label Text
    input(type="number")#timeout
    .label Time before delete (seconds)

script. 
    informationFill.compute3=function(){
        payload.w_timeout = parseInt($("#timeout").val()) ||0
        payload.w_channel = $("#welcome_channel")[0].selectedOptions[0].id;     
        payload.w_text = $("#welcome_text").val()
        payload.w_enable = $("#welcome_text").val()!==""
    }