link(rel='stylesheet',type="text/css" href='/css/file.css')
.columns: .column.is-6: .notification.is-light
  .title Submit Art
  .subtitle Have a cute drawing of Pollux from your own? Send it here!
  form(action="/sendform?type=fanart&from=Fanart+Submission" enctype="multipart/form-data" method="post")
    .columns
      .column
        .field
            label.label Fanart Title
            .control: input.input(type="text" name="title" )#name

        .field
            label.label Your Twitter (if any)
            .control: input.input(type="text" name="twitter" )#twitter

        .field
            label.label Your Artist Page (Deviantart/Tumblr/Website/Facebook)
            .control: input.input(type="text" name="page" )#page

        .field
            label.label Description
            .control: textarea.textarea(type="textarea" name="description" )#name
        br

        //.column
        .file.has-name.iis-fullwidth.is-dark.is-small
          label.file-label
            input.file-input(type='file', name='file')#file
            span.file-cta
              span.file-icon
                i.fas.fa-upload
              span.file-label
                | Choose a file…
            span.file-name#filename
              | NO FILE SELECTED
        br
        input(type="submit" value="Upload").button.is-pink#send
    script.
      var file = document.getElementById("file");
      file.onchange = function(){
        if(file.files.length > 0)
        {
        console.log(file.files[0])
          document.getElementById('filename').innerHTML = 					file.files[0].name;
        }
      };
