extends ../layout

block head
  //link(rel="stylesheet" href="/css/buyables.css")
  //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
block content
  asda
  .hero.is-ruby.is-bold
    include ../navbas 
    
  a
    

block scripts
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")