extends ../layout

block head
  //link(rel="stylesheet" href="/css/buyables.css")
  //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
  script(src=INSTANCE_VUE_PATH)
block content
  asda
  .hero.is-ruby.is-bold
    include ../navbas 
    
  a
    

