.membersearch {
  width: 100% !important;
}
.member {
  display: flex;
}
.membersearch .member img {
  border-radius: 10px;
  width: 50px;
  margin: 8px 25px 8px 8px;
}
.membersearch .member {
  display: flex;
  justify-content: space-between;
}
.membersearch .info,
.membersearch .name,
.membersearch .level,
.membersearch .exp,
.member .extras {
  display: flex;
  align-items: center;
}
.info {
  width: 100%;
}
.name {
  margin-right: auto;
  flex: 1 0 auto;
}

.exp,
.level,
.alt-level {
  flex: 0 1 90px;
  margin: 0 0.5rem;
  position: relative;
  transform: translateY(-8px);
}
.alt-level:after,
.level:after,
.exp:after {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 24px;
  font-weight: 300;
  opacity: 0.3;
  font-size: 16px;
}
.level:after {
  content: "LEVEL";
}
.alt-level {
  margin: 0 0 0 -20px;
  color: #f35;
}
.alt-level .val {
  text-align: center;
}
.alt-level:after {
  line-height: 1;
  font-size: 12px;
  content: "Current Settings";
}
.exp:after {
  content: "EXP";
}

.membersearch .uname {
  font-size: 20pt;
  font-weight: 600;
  line-height: 1;
}

.membersearch .discr {
  line-height: 1;
  opacity: 0.5;
  font-family: Panton;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 1rem 0 0.5rem;
}

.membersearch .info i {
  margin-right: 0.75em;
  color: var(--secondary-color);
}
.membersearch .info .val {
  margin-right: 0.75em;
  font-weight: 600;
  font-family: Panton;
  font-size: 20px;
}

.membersearch .nick {
}

.membersearch .level {
}

.membersearch .exp {
}

.membersearch .vs__dropdown-menu {
  width: 100%;
}
.selected.member {
  display: flex;
  flex-wrap: wrap;
}
.selected.member > div {
  width: 100%;
  display: flex;
}
.member .extras {
  justify-content: space-around;
}
.member .extras .since {
  flex: 1 0 auto;
  margin: 0 16px;
  opacity: 0.5;
}
.member .extras button {
  margin: 10px 10px 0 10px;
}
