extends layout

block content
  
  .hero.is-ruby.is-bold
    include navbas2
  
  .is-fullwidth.nano: .nano-content
    br
    .container  
      p.title: b Transaction Audits
      p.subtitle Global Realtime Transaction Logs
      #table
        include _auditpiece

block scripts
  script(src="/js/moment.js")
  script.
    var interv = setInterval(function(){
      $.get(location.pathname+"?piece=0&amt=100",function(data){
        $('#table').html(data)
      })
    },2500)
    setTimeout(function(){ clearInterval(interv);alert("Autoupdate Stopped due to idle") },120e3)
    
  