 
div
  .box#bundle-bowsette
    .tile.is-ancestor.is-marginless
      .tile.is-parent.is-vertical.is-4
        .tile.is-child
          a.delete.is-large.is-hidden-desktop.delbdl(data-del="bundle-bowsette")
          div.is-hidden-desktop
              .title: b  Special Bundle
              .subtitle.is-5 Bowsette Deluxe Pack
          img(src="/images/bowsettedeluxe.png")
      .tile.is-parent.is-vertical.is-8.is-marginless
        .tile.is-child.small
          .level
            .level-left: div.is-hidden-mobile
              .title: b  Special Bundle
              .subtitle.is-5 Bowsette Deluxe Pack
            .level-item
            .level-right
              a.delete.is-large.is-hidden-mobile.delbdl(style="margin-top: -60px !important;" data-del="bundle-bowsette")
          hr
          p
           | Join the Bowsette hype and get all her cosmetics at once!
           | This pack includes all Bowsette BGs available in the store + 2 Exclusive-Rare options, as well as a cute Bowsette sticker!
          //r

        .columns
          .column
            p 
              b This bundle contains:
              ul 
                li • 8 x UR Backgrounds
                li • 2 x SR Backgrounds
                li • 2 x XR Backgrounds
                li • 1 x XR Sticker

          .column
            .level-item
            .level-right: div
              p.subtitle.is-marginless
                img(src="/images/rubine.png" width="25px")
                span <b>383 021</b> Rubines
              p.subtitle.is-marginless
                img(src="/images/jade.png" width="25px")
                span <b>7 229 138</b> Jades
              p.subtitle.is-marginless
                img(src="/images/sapphire.png" width="25px")
                span <b>128</b> Sapphires
    .level
      //.level-left.small.help
        p.small: i This Bundle is a "custom feature" from a donator's <b>Palladium+ reward</b>, offered by <a href="/profile/134726089237856256">Dizzy#3333</a>
      .level-item
      .level-right
            .r: .button.buybundle(currency="rubine" data-cost=383021 data-item="bowsettebundle") Take my Rubines!
            .j: .button.button.buybundle(currency="jade" data-cost=7229138 data-item="bowsettebundle") Take my Jades!
            .s: .button.buybundle(currency="sapphire" data-cost=128 data-item="bowsettebundle") Take my Sapphires!


hr 


//.box#bundle-fifa2018
  .tile.is-ancestor.is-marginless
    .tile.is-parent.is-vertical.is-4
      .tile.is-child
        a.delete.is-large.is-hidden-desktop.delbdl(data-del="bundle-fifa2018")
        div.is-hidden-desktop
            .title: b  Special Bundle
            .subtitle.is-5 FIFA World Cup Russia 2018 - PACK 1
        img(src="https://cdn.discordapp.com/attachments/277392117167292417/458079034665074700/unknown.png")
    .tile.is-parent.is-vertical.is-8.is-marginless
      .tile.is-child.small
        .level
          .level-left: div.is-hidden-mobile
            .title: b  Special Bundle
            .subtitle.is-5 FIFA World Cup Russia 2018 - PACK 1
          .level-item
          .level-right
            a.delete.is-large.is-hidden-mobile.delbdl(style="margin-top: -60px !important;" data-del="bundle-9may")
        hr
        p
         | Illustrated by <a href="https://www.pixiv.net/member.php?id=596139"> 大馬場十三 </a>
        //r

      .columns
        .column
          p 
            b This bundle contains:
            ul 
              li • 2 x UR Backgrounds
              li • 4 x SR Backgrounds
              li • 19 x C Backgrounds

        .column
          .level-item
          .level-right: div
            p.subtitle.is-marginless
              img(src="/images/rubine.png" width="25px")
              span <b>250 000</b> Rubines
            p.subtitle.is-marginless
              img(src="/images/jade.png" width="25px")
              span <b>5 000 000</b> Jades
            //p.subtitle.is-marginless
              img(src="/images/sapphire.png" width="25px")
              span <b>15</b> Sapphires
  .level
    //.level-left.small.help
      p.small: i This Bundle is a "custom feature" from a donator's <b>Palladium+ reward</b>, offered by <a href="/profile/134726089237856256">Dizzy#3333</a>
    .level-item
    .level-right
          .r: .button.buybundle(currency="rubine" data-cost=250000 data-item="fifa218a") Take my Rubines!
          .j: .button.button.buybundle(currency="jade" data-cost=5000000 data-item="fifa218a") Take my Jades!
          //.s: .button.buybundle(currency="jade" data-cost=300000000 data-item="fifa218a") Take my Jades!

//.box#bundle-9may
  .tile.is-ancestor.is-marginless
    .tile.is-parent.is-vertical.is-4
      .tile.is-child
        a.delete.is-large.is-hidden-desktop.delbdl(data-del="bundle-9may")
        div.is-hidden-desktop
            .title: b  May 9th Special Bundle
            .subtitle.is-5 Russian "Victory Day" Holiday Pack
        img(src="/images/9maya.png")
    .tile.is-parent.is-vertical.is-8.is-marginless
      .tile.is-child.small
        .level
          .level-left: div.is-hidden-mobile
            .title: b  May 9th Special Bundle
            .subtitle.is-5 Russian "Victory Day" Holiday Pack
          .level-item
          .level-right
            a.delete.is-large.is-hidden-mobile.delbdl(style="margin-top: -60px !important;" data-del="bundle-9may")
        hr
        p
          | <b>Victory Day</b> is a holiday that commemorates the victory of the Soviet Union over Nazi Germany in the Great Patriotic War. It was first inaugurated in the 16 republics of the Soviet Union, following the signing of the German Instrument of Surrender late in the evening on 8 May 1945 (after midnight, thus on 9 May Moscow Time). The Soviet government announced the victory early on 9 May after the signing ceremony in Berlin. Though the official inauguration occurred in 1945 the holiday became a non-labour day only in 1965 and only in certain Soviet republics.
        //r

      .columns
        .column
          p 
            b This bundle contains:
            ul 
              li • 3 x UR Backgrounds
              li • 2 x UR Medals
              li • 1 x UR Sticker

        .column
          .level-item
          .level-right: div
            p.subtitle.is-marginless
              img(src="/images/rubine.png" width="25px")
              span <b>50 000</b> Rubines
            //p.subtitle.is-marginless
              img(src="/images/jade.png" width="25px")
              span <b>630 000</b> Jades
            p.subtitle.is-marginless
              img(src="/images/sapphire.png" width="25px")
              span <b>15</b> Sapphires
  .level
    .level-left.small.help
      p.small: i This Bundle is a "custom feature" from a donator's <b>Palladium+ reward</b>, offered by <a href="/profile/134726089237856256">Dizzy#3333</a>
    .level-right
          .r: .button.buybundle(currency="rubine" data-cost=50000 data-item="may9bdl") Take my Rubines!
          //.j: .button Take my Jades!
          .s: .button.buybundle(currency="sapphire" data-cost=15 data-item="may9bdl") Take my Sapphires!