extends layout
block content

  .hero.is-pink.is-bold
    include navbas
    style.
          .uu{
        list-style: initial;
        padding:18px
        }

  .is-fullwidth.nano: .nano-content
    br
  

    article.container
      header
        h1.title.is-2: b DMCA Disclaimer
        
      div
        br
        p Pollux is advertised as sporting "fully original artwork", those refers only to core assets like Profilecards, Command's Graphics, and Pollux's character visuals. For profile backgrounds, medals, stickers, item thumbs, and some iconography the following disclaimer applies. 
        hr
        h3.title.is-4 Disclaimer
        p
          | All pictures copyright to their respective owner(s). This website does not claim ownership of any of the pictures displayed on this site unless stated otherwise. This website does not knowingly intend or attempt to offend or violate any copyright or intellectual property rights of any entity. Some images used on this website are taken from the web and believed to be in the public domain. In addition, to the best of this website’s knowledge, all content, images, photos, etc., if any, are being used in compliance with the Fair Use Doctrine (Copyright Act of 1976, 17 U.S.C. § 107.) The pictures are provided for entertainment purposes only.
        p
          | If any images posted here are in violation of copyright law, please contact us (see below) and we will gladly remove the offending images immediately upon receipt of valid proof of copyright infringement (see below).
        hr
        h3.title.is-4 Official DMCA Copyright Infringement Notification
        p
          | Pollux follows the safe harbor provisions of 17 U.S.C. §512, otherwise known as Digital Millennium Copyright Act (“DMCA”).
        p
          | To file a copyright infringement notification with us, you will need to send a written communication that includes substantially the following:
        ul.uu 

          li: p
            | Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.
          br
          li: p
            | Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material. 
            b
              | Providing URLs in the body of an email is the best way to help us locate content quickly.
          br

          li: p
            | A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed (Note that under Section 512(f) any person who knowingly and materially misrepresents that material or activity is infringing may be subject to liability for damages. In other words, DON’T MAKE FALSE CLAIMS!
        p

