-
  var FAQ = [
     {
       "title": " Why \"Pollux\"?",
       "text": " She's named after the star. It happens to be one of my favorite stars for no apparent reason, and also the name sounds cute and suitable for her.<br>"
     },
     {
       "title": "How to get Pollux on my Server?",
       "text": " You can invite Pollux to your server using this link:<br>http://www.pollux.fun/invite"
     },
     {
       "title": "Where do I find the commands?",
       "text": " You can find Pollux's command list from +help or at http://www.pollux.fun/commands"
     },
     {
       "title": " What's Pollux's prefix?",
       "text": " Pollux's default prefixes are + and p!. But you can set up your own using the +prefix command. \"p!\" is used as a default prefix and works even if you changed Pollux prefix, this is useful when you have people familiar with Pollux but unaware of a different prefix. You can disable the \"p!\" prefix in the Dashboard"
     },
     {
       "title": " Can you make a X command/feature?",
       "text": " There's a #feature-request channel in our Discord Server, i'll keep an eye there and possibly will add it if it is feasible and interesting. If you're a donator, you can have some custom commands depending on your contribuition~"
     },
     {
       "title": " Why are you making Pollux?",
       "text": "Pollux was originally designed as a private bot for the SKYNET Maid Cafe server, but interest on her by other people made me open her for the public. I was generally disappointed with two things in bots around there: 1 - so much bots being just alts of known Anime characters. Pollux is intended to be a bot with much more original personality, and actual original designs and artwork, which leads to reason 2: Developers suck at design, most bots features ugly attempts on doing anything graphic or original. Pollux is created by an actual Visual Designer that also happens to have some solid knowlege of coding, which puts her in the front of this matter with a self-sufficient artwork power house. (Art is expensive, most bot devs won't spend precious money that could be used in infrastructure with art)."
     },
     {
       "title": " HOLY CHEESECAKES THE BOT IS DOWN",
       "text": " Don't panic! Still yourself. And drop it at #support, me or someone else will check it out as soon as possible. In most I can fix it in a matter of minutes."
     },
     {
       "title": " What languages does Pollux speak?",
       "text": " A f*ckton, use +lang to see them all, but the main ones are:<br><br>Czech <br>Brazilian Portuguese <br>English <br>German<br>Korean<br>Russian<br>Spanish "
     },
     {
       "title": " Can I run my own version of Pollux?",
       "text": " No. Actually, yes, you can as long as you don't bother me with any problems you may encounter, Pollux's code is provided as is with no warranty of stability or working outside her original server. Please understand this and don't insist."
     },
     {
       "title": " When will update X be released?",
       "text": "I'll let everyone know a week or two prior to release. Keep an eye at the information channel in the Support Server"
     },
     {
       "title": "How do I change/get Background/Profile Text/Medals?",
       "text": " You can edit all these in your Web Dashboard, but there are also commands for Profile customisation:<br>+personaltxt for personal text<br>+background for bg <br>+favcolor to change your sidebar color<br>+tagline to change your web profile's tagline<br>"
     },
     {
       "title": " How can I get Lootboxes?",
       "text": " Lootboxes currently can only be obtained from random drops and at events.<br>How the drops work: every message has a small percentage of landing a drop, after the drop, everyone in the server has a certain amount of time to contest it. Then Pollux will raffle the box among who contested the box. If no one does, the box is lost forever.<br>If you were the lucky one chosen to have the box, do +lootbox immedately after to check it and open it if you want, to open the box you do +lootbox then open [box type]"
     },
     {
       "title": " Gamewisp?",
       "text": " Yes, here: https://gamewisp.com/channel/theflicky<br>Depending on how much people subs there, we unlock Global Emoji, and that's pretty much the sole reason i have this GW, because this site is awfully bad designed."
     },
     {
       "title": " What are rubines for?",
       "text": " You can buy backgrounds and medals for them, and even marry another person with them! I can assure you it's not gonna be cheap though."
     },
     {
       "title": " How do i trade boxes rubines and jades?",
       "text": "Rubines +give X @user<br>Boxes +trade box @user<br>Jades: JADES CANNOT BE GIVEN / TRADED"
     },
     {
       "title": " Can I trade/give backgrounds, medals and stickers?",
       "text": " No, you can not, it is a planned feature, though."
     },
     {
       "title": " How do I get Sapphires?",
       "text": " There are three ways to get :sapphire: Sapphires<br>1- Getting a 250-day Daily Streak<br>2- Every :UR: UR Lootbox has a 1 in 1000 chance of dropping one.<br>3- Donating: https://pollux.fun/donate<br>4- Some events will award them https://pollux.fun/events<br>5- Giveaways"
     },
     {
       "title": " Pollux says I'm blacklisted! What do I do?",
       "text": " First, try using p!whyblacklisted @yourself. Think about the reason we've done so. If you still think it was a mistake, ask us in #support and we will help you. "
     },
     {
       "title": " How do I set Pollux to not respond to p! prefix?",
       "text": " Go to the dashboard and then servers (http://pollux.fun/dashboard#/servers)<br>Choose your server and click Manage. Then set Enable global prefix (p!) to OFF, then save"
     },
     {
       "title": "[FOR USERS BASED IN BRAZIL] Posso doar com reais em vez de dólares? / Aceita Boleto? ",
       "text": " Sim, pode, e sim, aceita boleto. Usando estes links:<br><br> ALUMINIUM<br>Sub mensal https://pag.ae/bfwkzmw<br>Passe de 6 meses https://pag.ae/bbwxBpT<br> IRIDIUM<br>Sub mensal https://pag.ae/bhwkB3L<br>Passe de 6 meses https://pag.ae/bgwxCvj<br> PALLADIUM<br>Sub mensal https://pag.ae/bcwkCCq<br>Passe de 6 meses https://pag.ae/bjwxCwZ<br> URANIUM<br>Sub mensal https://pag.ae/bdwlDwN<br>Passe de 6 meses https://pag.ae/blwxCD5<br>---<br> SAPPHIRES avulsas: https://pag.ae/bdwx3yh"
     },
     {
       "title": " How do I equip flairs?",
       "text": " Go to your profile, not dashboard (http://pollux.fun/profile/me), in the bottom right, hover over your flairs and press edit.<br> "
     },
     {
       "title": " I keep getting \"invalid HEX color\" and \"cannot get onecolor(...) of undefined\" errors, why does it happen and what do I do?",
       "text": " To make it simple, iOS devices tend to send us a color name when choosing your favcolor on the website. Pollux only accepts HEX colors, not pure text. To fix this, use an external color picker (e.g. from Google - just search for \"color picker\"), choose your color, copy the hex color and use +favcolor thatcoloryoucopied."
     },
     {
       "title": " Can I donate?",
       "text": " Sure. Pollux still have a lot to grow, and it's only possible because of you. Check the \"Donate\" tab."
     }
    ]