extends layout

block content

    -let ecomala = []
    -let ecomalastamp = []
    -eco.forEach((eco,i)=>ecomala.push(i))
    -eco.forEach((eco,i)=>ecomalastamp.push(eco))
    
    //pre= ecomala
    //pre= JSON.stringify(ecomalastamp,null,5)
    pre= (ecomalastamp.slice(-10))
    
    .hero.is-primary.is-bold
      include navbas
      .level.topbar
            .level-left
            div &#x2003
            div &#x2003
            div &#x2003
            div &#x2003
            .level-left
                div
                  p.title: b GLOBAL
                  p.subtitle Information
            .level-item
                p(class="subtitle") "<b>ID </b>"
            .level-item
            .level-item
            
    .container
      script( src="/js/moment.js")
      script( src="/js/chart.js")
      script(src="/js/graphs/demo.js")
      .columns
        .column.is-half
          .graph
            include graphs/globalwealth
        .column.is-half
          .graph
            include graphs/lineruby
            
          

block scripts

