script
        include buystoreitem.js
    script(src='/js/sweetalert.js')
    
if pagination.L >0
        each entry in pagination.res
            include market_entry_sell
else
        p Nothing here but us chickens
script(src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js")
