.plx-container.central-container.plx-flex
    .plx-width-1-2.main-info
        h1.title.stfront STOREFRONT
        h3.subtitle Your new hub for Pollux Collectibles
        p 
            | Check here what's new in all shops and the marketplace. The current Background rotation, new item arrivals, recent Marketplace listings, Bundles, and some more!
        br
        br
        .plx-flex.icons-row
            a.plx-width-1-3.icon-container(href="/shop/bgshop")
                .icon: img(src="https://via.placeholder.com/120x120")
                .title BGshop Classic
            a.plx-width-1-3.icon-container(href="/shop/medalshop")
                .icon: img(src="https://via.placeholder.com/120x120")
                .title Medalshop Classic
            a.plx-width-1-3.icon-container(href="/shop/marketplace")
                .icon: img(src="https://via.placeholder.com/120x120")
                .title Player Marketplace
        .plx-flex.main-button
            a.magic-outline.plx-button.plx-margin-left.plx-margin-bottom(type='button' href="#storetop" plx-scroll)
                span See Store Listings
        .plx-flex.minifooter
            .icon 1
            .icon 2
            .icon 3
            .icon 4

    .plx-width-1-2.bigpic-container
        .bigpic: img(src="https://via.placeholder.com/340x500")

.bottom-board
    p board stuff goes here

