extends ../layout

block head
  //link(rel="stylesheet" href="/css/buyables.css")
  //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
block content
  -
    shopstock = shopstock.filter(x=>x.filter.includes('tier'))
    tiers = [
      "plastic"
      ,"aluminium"
      ,"iron"
      ,"carbon"
      ,"lithium"
      ,"iridium"
      ,"palladium"
      ,"zircon"
      ,"uranium"
      ,"astatine"
      ,"antimatter"
      ,"neutrino"
    ]
    shopstock.sort((a, b) => tiers.indexOf(a.id) - tiers.indexOf(b.id));
  .hero.is-ruby.is-bold
    include ../navbas 

  .is-fullwidth.nano: .nano-content
    br
    .container  
      include compositestore
      
      
block scripts
  include storeintegrationbeta