.nano: .nano-content.padded
  .title.is-2: b Partnership Setup
  p.subtitle Configure what is displayed public on your partner page.
  if server.partner
    -let pp = server.partnerDetails
    form(action="/sendform?from=Parnership+Update" enctype="multipart/form-data" method="post").whitebox
      p.b500 Display Name
      p.subtitle.is-4: b= server.name
      .columns
        .column
          p.b500 Tagline
          input.input(style="display:none" value=server.id name="ID")
          input.input(value=pp.description name="description")

          p.b500 Site
          input.input(value=pp.website name="website")

          p.b500 Tags
          input.input(value= pp.tags name="tags")

          p.b500 Feats
          input.input(value= pp.feats name="feats")

          p.b500 Languages
          input.input(value= pp.langs name="langs")

          p.b500 Community Region
          input.input(value= pp.region name="region")

        .column
          p.b500 Decoration Picture
          if pp.picture == 'default'
            img(src='/backdrops/b08a91c10201d867ca6627cc854705ac.png')
          else
            img(src=pp.picture)

          input.input(value= pp.picture name="picture")

          p.b500 Invite Link
          input.input(value= pp.invite name="invite")
          //p= pp.langsA

      button(type="submit").navbar-right.button.is-purple.has-addons
            span.icon.is-pulled-left
              i.fa.fa-fighter-jet
            //span.divider  &#x2004
            div( style="border-left:1px solid #844;border-right:1px solid #eee; opacity:.15;height:28px")
            span.divider  &#x2000
            span.is-pulled-right Submit
  else
    p This Server is not Partnered with Pollux
  hr