-
 const TEMPLATES = {
     artist:{
         color: '#21a09c',
         title: "Official Artist",
         icon:  "build/web-profile/artist.png"
     },
     translator:{
         color: '#3e56b1',
         title: "Translator"         
     },
     code:{
         color: '#163ee9',
         title: "Code Contributor",
        icon:  "build/web-profile/codes.png"     
     },
     staff:{
         color: '#b13e6c',
         title: "Community Staff",
         icon:  "build/web-profile/moderation.png"
     },
     creator:{
         color: 'var(--favcolor)',
         title: "Pollux Creator",
         sub:   "The Architecc",
         icon:  "build/coins/befli_h_s.png"
     },
     default:{
         color: '#2b2b3b',
         title: "Hello I am a Template",
         icon:  "build/web-profile/fancy-hex.svg"
     },



 }



mixin drawBadge(data)
    - data.template = data.template || 'default'
    - Object.assign(data,TEMPLATES[data.template])
    .badge(style=`background: ${ data.color }`)
        .icon
            img(src= "/"+data.icon)
        .text
            .title= data.title
            if(data.link)
                a.sub(href=data.link)= data.sub
            else
                .sub= data.sub