.sidebar {
  animation: asdgq .8s ease-in-out both;
   animation-delay: 1.6s
}

.sidebar .nano ul:nth-of-type(1){
  animation: asdgq 1s ease-in-out both;
  animation-delay: 1.9s
}

.sidebar .nano ul:nth-of-type(2){
  animation: asdgq .9s ease-in-out both;
  animation-delay: 2.2s
}

.sidebar .nano ul:nth-of-type(3){
  animation: asdgq .7s ease-in-out both;
  animation-delay: 2.5s
}

.sidebar .nano ul:nth-of-type(4){
  animation: asdgq .5s ease-in-out both;
  animation-delay: 2.8s
}

@keyframes asdgq{
  0%{opacity:0; transform:translateX(-50px)}
  100%{opacity:1; transform:translateX(0px)}
}


@keyframes asdgq2{
  0%{opacity:0; transform:translateX(50px)}
  100%{opacity:1; transform:translateX(0px)}
}



.slider{
    transform: rotate(-35deg) scale(1)!important;
}


.pshead{

  border-bottom:solid 2px #AAA5;
  padding:5px;
  margin-bottom:25px !important;

}
.rolisting{
  border-top: none;
margin-bottom:5px !important;
  border-bottom: solid 1px #AAA5;
}

.rolisting:last-of-type{
margin-bottom:25px !important;  
}

.del-sfrole .icon,.del-atrole .icon,svg{pointer-events: none}

.dashy{
background: white;
 display:flex;
 flex: 1 1 auto;
 }
 .profileme{
 width:100%;
 height:calc(100% + 55px);
 margin-top:-55px;
 }
 li.is-active{
   background-image: linear-gradient(141deg, #d659a3 0%, #e87aa9 71%, #ef8ca6 100%);
   background-color: rgba(255, 255, 255, 0);
   border-radius:3px;
 }
 .dashy .is-active a{
   color: white !important;
 }
hr{
  opacity: .2
}

 .sidebar, .sidepanel{
   display: flex;
   flex-direction: column;
   position:relative;
 width:20vw;
 padding:15px;
 background:#2b2b30;
 }
.sidemenu,.sidebar{
  
   z-index: 500;
}
.dd-option{
  font-size:smaller;
  padding:4px !important;
  margin:0 !important;
}
.dd-pointer{
display:none}

 .minitag{
 border-bottom: 1px solid #2c2e30;
 background:#32323c;
 padding:15px;
 margin:-15px;
 margin-bottom: 16px;
 border-bottom: solid 1px #445;
 }      
 .mainview{
   animation: asdgq2 .5s ease-out 1.8s both;
   position: relative;
   width: 100%;
background: white;
   overflow: hidden;
 }  
 .uid{
 text-align: center;
 }
th{
  color:white !important;
}
.bol{
  width:32px;
  height:32px;
  border-radius: 100%;
}
 .padded{
       animation: asdgq2 .5s ease-out both;
   padding:20px;
   background:white;
 }
body .mainview p,.editsfrole,.editatrole{color:#667}
body .mainview .title{color:#334}

        .padded .title{
     color:#444455
   }
   .switchPanel{
     width:100%;
     height:100%
   }
   .inv_box{
     height:auto;
     width:auto;
   }
   .nano-pane{
     transform:translateX(-8px)
}
   .sidebar .nano-pane{
     transform:translateX(0px)
   }
   .del-sfrole,.del-atrole{
  transform: scale(.7)
}


/* GLOBALS CMD */


.comandine{
  display: flex; 
}
.comandine .message{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 100% !important;
 
}
.comandine .message-header{
  background-image: linear-gradient(141deg, #dF59a3 0%, #e87aa9 71%, #Ff8ca6 100%);
    border: solid 1px #aaaa;
    border-radius: 4px 4px 0 0;
   font-weight: 500;
  text-transform: uppercase;
}
.comandine .message-header p{
  color:white ;
   border-color:  #dF59a3 !important;
}
.comandine .message-body{
   border-color:  #dF59a3 !important;
  flex: 1 1 auto;
  text-align: center;
  padding: 10px;
  
}
.comandine .message-body span{
  //color: #aaa;
  font-weight: 500;
}

.itemy span{
  padding-right: 8px;
}

.itemy{
  background:#a5fA;
  color:#fff;
  padding:2px 10px;
  margin:4px;
  border-radius: 100px;
  display: inline-block;
}

.itemy input,.message-header input{
  display: none;
}

.chkcmd{
  width:20px;
  height: 20px;
  background: #FFFE;
  box-shadow: inset 1px 1px 1px #aaaa;
  display: inline-block;
  margin:-4px -4px -4px 0;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}
.chk{
  position: absolute;
  width: 10px;
  height: 10px;
  top:5px;
  left: 5px;

  }



.chk:after{
  position: absolute;
  bottom:-8px;
  left:-3px;
   font-family:FontAwesome;
  content:"\f00c";
  color:#F5A;
  text-shadow: 0 0 1px #0005;
  transform: scale(1.1);
}

.plus.chk:after{
  color:#a5f;
  bottom:-5px;
}
.plus.chk:hover:after{
  color:#a5f;
}

.chk:hover:after{
  text-shadow: 0 0 2px #AFFA;
  color: #F8A;
}
input:not(:checked)+.chk{
  opacity: 0;
}
input:not(:checked)+.chk:hover{
  opacity: .4;
}

@media screen and (max-width:700px){
  .mob-subline{
    border-bottom:solid 1px #aaa6;
    
}

}
