
html {

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility; 
}


.usermug img{
  height: 100px;
  border-radius: 100px;
}
.usermug{
  mask-image: url("//b.thumbs.redditmedia.com/TMV9MGfrat_igDAOC9gujxXEaCTs62mR9Rtd4CpOC-o.png");
 
  height: 100px;
  mask-size: auto 90px;
  mask-repeat:no-repeat;
  mask-position: center 5px;
  text-align: center;
}
.usernameinfo{
  text-align: center;
width: 100%;
display: block;
}
.is-hidden {
  display: none !important; }

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important; } }

@media screen and (min-width: 769px), print {
  .is-hidden-tablet {
    display: none !important; } }

@media screen and (min-width: 769px) and (max-width: 999px) {
  .is-hidden-tablet-only {
    display: none !important; } }

@media screen and (max-width: 999px) {
  .is-hidden-touch {
    display: none !important; } }

@media screen and (min-width: 1000px) {
  .is-hidden-desktop {
    display: none !important; } }

@media screen and (min-width: 1000px) and (max-width: 1191px) {
  .is-hidden-desktop-only {
    display: none !important; } }

@media screen and (min-width: 1192px) {
  .is-hidden-widescreen {
    display: none !important; } }

.is-marginless {
  margin: 0 !important; }

.is-paddingless {
  padding: 0 !important; }

.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #24242A;
  border-color: #2b2b30;
  color: #dbdbdb;
  cursor: url(/cur/pointer.png), pointer;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap; }
  .button:focus, .button.is-focused, .button:active, .button.is-active {
    outline: none; }
  .button[disabled] {
    cursor: not-allowed; }
  .button strong {
    color: inherit; }
  .button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
    height: 1.5em;
    width: 1.5em; }
  .button .icon:first-child:not(:last-child) {
    margin-left: calc(-0.375em - 1px);
    margin-right: 0.1875em; }
  .button .icon:last-child:not(:first-child) {
    margin-left: 0.1875em;
    margin-right: calc(-0.375em - 1px); }
  .button .icon:first-child:last-child {
    margin-left: calc(-0.375em - 1px);
    margin-right: calc(-0.375em - 1px); }
  .button:hover, .button.is-hovered {
    border-color: #4a4a4a;
    color: white; }
  .button:focus, .button.is-focused {
    border-color: #00d1b2;
    box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
    color: #363636; }
  .button:active, .button.is-active {
    border-color: #4a4a4a;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    color: #363636; }
  .button.is-link {
    background-color: transparent;
    border-color: transparent;
    color: #b5b5b5;
    text-decoration: underline; }
    .button.is-link:hover, .button.is-link.is-hovered, .button.is-link:focus, .button.is-link.is-focused, .button.is-link:active, .button.is-link.is-active {
      background-color: #363636;
      color: #363636; }
    .button.is-link[disabled] {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none; }
  .button.is-danger {
    background-color: #eb3c3c;
    border-color: transparent;
    color: #fff; }
    .button.is-danger:hover, .button.is-danger.is-hovered {
      background-color: #ea3030;
      border-color: transparent;
      color: #fff; }
    .button.is-danger:focus, .button.is-danger.is-focused {
      border-color: transparent;
      box-shadow: 0 0 0.5em rgba(235, 60, 60, 0.25);
      color: #fff; }
    .button.is-danger:active, .button.is-danger.is-active {
      background-color: #e92525 !important;
      border-color: transparent;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      color: #fff !important; }
    .button.is-danger[disabled] {
      background-color: #eb3c3c;
      border-color: transparent;
      box-shadow: none; }
    .button.is-danger.is-inverted {
      background-color: #fff;
      color: #eb3c3c; }
      .button.is-danger.is-inverted:hover {
        background-color: #f2f2f2; }
      .button.is-danger.is-inverted[disabled] {
        background-color: #fff;
        border-color: transparent;
        box-shadow: none;
        color: #eb3c3c; }
    .button.is-danger.is-loading:after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-danger.is-outlined {
      background-color: transparent;
      border-color: #eb3c3c;
      color: #eb3c3c; }
      .button.is-danger.is-outlined:hover, .button.is-danger.is-outlined:focus {
        background-color: #eb3c3c;
        border-color: #eb3c3c;
        color: #fff; }
      .button.is-danger.is-outlined.is-loading:after {
        border-color: transparent transparent #eb3c3c #eb3c3c !important; }
      .button.is-danger.is-outlined[disabled] {
        background-color: transparent;
        border-color: #eb3c3c;
        box-shadow: none;
        color: #eb3c3c; }
    .button.is-danger.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-danger.is-inverted.is-outlined:hover, .button.is-danger.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #eb3c3c; }
      .button.is-danger.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: #fff;
        box-shadow: none;
        color: #fff; }
  

@media screen and (min-width: 769px), print {
  .field.is-horizontal {
    display: flex; } }

.field-label .label {
  font-size: inherit; }

@media screen and (max-width: 768px) {
  .field-label {
    margin-bottom: 0.5rem; } }

@media screen and (min-width: 769px), print {
  .field-label {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 1.5rem;
    text-align: right; }
    .field-label.is-small {
      font-size: 0.75rem;
      padding-top: 0.375em; }
    .field-label.is-normal {
      padding-top: 0.375em; }
    .field-label.is-medium {
      font-size: 1.25rem;
      padding-top: 0.375em; }
    .field-label.is-large {
      font-size: 1.5rem;
      padding-top: 0.375em; } }

@media screen and (min-width: 769px), print {
  .field-body {
    display: flex;
    flex-basis: 0;
    flex-grow: 5;
    flex-shrink: 1; }
    .field-body .field {
      flex-shrink: 1; }
      .field-body .field:not(.is-narrow) {
        flex-grow: 1; }
      .field-body .field:not(:last-child) {
        margin-bottom: 0;
        margin-right: 0.75rem; } }


.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem; 
  margin-right: 5px;
}
  .icon .fa {
    font-size: 16px; }
  .icon.is-small {
    height: 1rem;
    width: 1rem; }
    .icon.is-small .fa {
      font-size: 14px; }
  .icon.is-medium {
    height: 2rem;
    width: 2rem; }
    .icon.is-medium .fa {
      font-size: 28px; }
  .icon.is-large {
    height: 3rem;
    width: 3rem; }
    .icon.is-large .fa {
      font-size: 42px; }


.title {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125; }
  .title strong {
    color: inherit; }
  .title + .highlight {
    margin-top: -0.75rem; }
  .title:not(.is-spaced) + .subtitle {
    margin-top: -1.5rem; }
  .title.is-1 {
    font-size: 3rem; }
  .title.is-2 {
    font-size: 2.5rem; }
  .title.is-3 {
    font-size: 2rem; }
  .title.is-4 {
    font-size: 1.5rem; }
  .title.is-5 {
    font-size: 1.25rem; }
  .title.is-6 {
    font-size: 1rem; }

.navbar {
  background-color: #0a0a0a;
  min-height: 40px;
  width:100%;
top:0;
}

.navbar-brand {
  align-items: stretch;
  height: 3.25rem;
  display: flex; }

.navbar-burger {
  cursor: url(/cur/pointer.png), pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto; }
  .navbar-burger span {
    background-color: #b5b5b5;
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    transition: none 86ms ease-out;
    transition-property: background, left, opacity, transform;
    width: 15px; }
    .navbar-burger span:nth-child(1) {
      margin-top: -6px; }
    .navbar-burger span:nth-child(2) {
      margin-top: -1px; }
    .navbar-burger span:nth-child(3) {
      margin-top: 4px; }
  .navbar-burger:hover {
    background-color: #363636; }
  .navbar-burger.is-active span {
    background-color: #ed6594; }
    .navbar-burger.is-active span:nth-child(1) {
      margin-left: -5px;
      transform: rotate(45deg);
      transform-origin: left top; }
    .navbar-burger.is-active span:nth-child(2) {
      opacity: 0; }
    .navbar-burger.is-active span:nth-child(3) {
      margin-left: -5px;
      transform: rotate(-45deg);
      transform-origin: left bottom; }

.navbar-menu {
  display: none; }
a.navbar-item:hover{
  background:none;
}
.navbar-item,
.navbar-link {
  color: #b5b5b5;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative; }

a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  //background-color: #363636;
  color: white; }
.navbar-item.lv2:not(.nopointer){
    font-size: 16px;
  //justify-content: space-around;
  margin: 0 !important;
}

.navbar-item {
  flex-grow: 0;
  flex-shrink: 0; }
  .navbar-item img {
    max-height: 2.3rem; }
  .navbar-item.has-dropdown {
    padding: 0; }

.navbar-content {
  flex-grow: 1;
  flex-shrink: 1; }

.navbar-link {
  padding-right: 2.5em; }

.navbar-dropdown {
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }
  .navbar-dropdown .navbar-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

.navbar-divider {
  background-color: #dbdbdb;
  border: none;
  display: none;
  height: 1px;
  margin: 0.5rem 0; }

@media screen and (max-width: 999px) {
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex; }
  .navbar-menu {
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0; }
    .navbar-menu.is-active {
      display: block; } }

@media screen and (min-width: 1000px) {
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex; }
  .navbar {
    height: 3.25rem; }
    .navbar.is-transparent a.navbar-item:hover, .navbar.is-transparent a.navbar-item.is-active,
    .navbar.is-transparent .navbar-link:hover,
    .navbar.is-transparent .navbar-link.is-active {
      background-color: transparent; }
    .navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
      background-color: transparent; }
    .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
      background-color: #363636;
      color: #0a0a0a; }
    .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
      background-color: #363636;
      color: #ed6594; }
  .navbar-burger {
    display: none; }
  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex; }
  .navbar-item.has-dropdown {
    align-items: stretch; }
  .navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block; }
    .navbar-item.is-active .navbar-dropdown.is-boxed, .navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0); }
  .navbar-link::after {
    border: 1px solid #0a0a0a;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%; }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0; }
  .navbar-start {
    justify-content: flex-start;
    margin-right: auto; }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto; }
  .navbar-dropdown {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20; }
    .navbar-dropdown .navbar-item {
      padding: 0.375rem 1rem;
      white-space: nowrap; }
    .navbar-dropdown a.navbar-item {
      padding-right: 0rem; }
      .navbar-dropdown a.navbar-item:hover {
        background-color: #363636;
        color: #0a0a0a; }
      .navbar-dropdown a.navbar-item.is-active {
        background-color: #363636;
        color: #ed6594; }
    .navbar-dropdown.is-boxed {
      border-radius: 5px;
      border-top: none;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      display: block;
      opacity: 0;
      pointer-events: none;
      top: calc(100% + (-4px));
      transform: translateY(-5px);
      transition-duration: 86ms;
      transition-property: opacity, transform; }
  .navbar-divider {
    display: block; }
  .container > .navbar {
    margin-left: -1rem;
    margin-right: -1rem; }
  a.navbar-item.is-active,
  .navbar-link.is-active {
    color: #0a0a0a; }
  a.navbar-item.is-active:not(:hover),
  .navbar-link.is-active:not(:hover) {
    background-color: transparent; }
  .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #ae77dd; } }

 .navbas-login{
    width: 120px;
    height: 100%;
    position: relative;
  }
  .but{
      transform: skewX(35deg);
      position: absolute;
      width: 120%;
      height: 100%;
      transition: all 300ms ease;
  }
  .hero{
  flex-shrink: 0;
  }



    .is-active:hover .smolHex{
      transform:scale(.8) !important;
    }
  .minicon{
  
    padding:.2rem .5rem .2rem .7rem;
  }

  .minicon:hover .buttex, .navbas-login:hover .buttex, .is-active:hover .buttex{
    filter:drop-shadow(0 0 1px #fff2);
  }
  
  .navbas-login .buttex{
      padding: 0 20px 0 20px;
      font-size: 1.5rem;
  }
  .buttex{
      color: white;
      position: relative;

      font-weight: 500;
      margin: auto;
      display: flex;
      height: 100%;
      
      align-items: center;
  }
  .minicon {
    
  }
  .minicon .but{
    top:0;
  }
 .minicon .buttex{
   //   padding: 0 0px 0 20px;
   font-size: 1.5rem;
  }
  

      .navbar-link.is-unselectable.is-active {
          background-color: rgba(174, 119, 221, 0) !important;
      }

  
  .topcentershit {
    flex: 1 1 0;
    text-overflow: ellipsis;
    /* width: 106px; */
    /* height: 60px; */
    overflow: hidden;
    white-space: nowrap;
    color: white; 
    padding: 0.1rem ;
    opacity:.8;
    text-align:center;
    }

      .tinypadding {
        padding: 0.5rem 0.5rem;
      } 
      .featurebox {

            /* border: solid 2px #fff1; */

            border-radius: 8px;

            margin: 10px 25px;

            text-align:  center;

            overflow:  hidden;

            background:  white;

            box-shadow: 0 0.1px 4px #bbf3;

        }



        .bx-title {

            font-size:  18pt;

            font-weight:  600;

            background: #2b2b3bfa;

            padding: 4px 0 8px 0;

            margin-bottom:  28px;

        }



        .bx-main img {

            height: 96px;

            filter: drop-shadow(0 0 11px#bbfa);

        }



        .bx-button {

            margin: 28px 8px 18px 8px;

        }

        .quanchi::before {
                content: '';
                height: 100%;
                width: 100%;
               //background: blue;
                position: absolute;
                z-index: -1;
                transform: skewX(30deg);
                left: 0px;

            }
            #USERMENUB.is-active{
              //color:red
            }
            .navbasflex{
              justify-content: space-between;
            }
            
            .lv2{
              //font-size:1.5rem;
              color:#2b2b3b
            }
            
            .mininav{
                color: white;
                padding: 0.5rem 1rem !important;
                align-items: center !important;
            }
.mininav span{
  margin:3px;
}
            .semiblacktex .navbar-item:hover:not(.nohov),.whitehover:hover:not(.nohov){
              background-color:#ff75c5 !important;
              color:#fff9fd !important;
            }
            .semiblacktex{
              color:#2b2b2b;
                  background: white;
            }
            .nohov .navbar-item:hover{
              background-color:none !important;
              cursor:default;
            }
            #cdw{
              margin: auto;
              font-weight: 900;
              font-size: 20pt;
            }
            .tx-warning{
              color:#de1f1f
            }

           @media screen and (max-width:1000px){
              .but{
                transform: skewX(0) !important;
                margin:0;
                background: #2b2b3b
              }
              .but:hover{
                box-shadow: 0 0 0 0
              }
              .blackmop{
              background: #2b2b3b !important;

              }
              .bobile {
              background: #1b1b23;
              width: 100vw;
              height: 30px;
              margin: -8px -16px;
              padding: 10px !important;
              margin-bottom: 1px;
              box-shadow: 0 5px 2px #0003;
            }
               .lv2.curr{
                        font-size:1rem;
                        color:#9494ac !important
                      }
            }
            .navbar-link:after{
              border-color: white;
            }
            .navbar-dropdown{
                  margin: 5px -18px;
            }
            .navbar-item:hover span,.navbar-item:hover .icon{
              text-shadow: 0px 0px 8px #ccc !important
            }
.navbar-dropdown a{
  //font-size:12px;
  color: #666 !important;
}
 .navbar-dropdown a.navbar-item:hover, .navbar-dropdown a:hover i{
  color: #fff
}
.navbar-item .icon{
  margin-right: 5px;
}
.buttex{
  margin-right: 2px;
}

.new:after {
  content: 'NEW';
  font-size: 9px;
  font-weight: 500;
  position: absolute;
  top: 12px;
  right: 0;
  transform: rotate(30deg);
  background-color: #9534ff;
  padding: 1px 4px;
  border-radius: 5px;
}
.beta:after {
  content: 'BETA';
  font-size: 9px;
  font-weight: 500;
  position: absolute;
  top: 12px;
  right: 0;
  transform: rotate(30deg);
  background-color: #9534ff;
  padding: 1px 4px;
  border-radius: 5px;
}
.new {
  font-weight: 900
}
.b500 {
  font-weight: 500 !important;
  text-transform: uppercase;
  font-size: 80%
}
.b500T {
  font-weight: 500 !important;
  text-transform: uppercase;
}
.b900 {
  font-weight: 900 !important
}
.bg_icon {
  position: relative;
  align-items: center;
  vertical-align: middle;
  margin: 1%;
  width: 30%;
  display: inline-block;
  box-shadow: 0 1px 3px #ccc;
  border-radius: 2px;
  background: white;
}


/*--------------*/

.smolHex {
  position: relative;
  width: 50px;
  height: 28.87px;
  margin: 14.43px 0;
  background-image: url(http://csssmolHex.com/img/meow.jpg);
  background-size: auto 57.7350px;
  background-position: center;
  background-color: #2b2b30;
}

.shexTop,
.shexBottom {
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 7.32px;
}


/*counter transform the bg image on the caps*/

.shexTop:after,
.shexBottom:after {
  content: "";
  position: absolute;
  width: 50.0000px;
  height: 28.86751345948129px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-14.4338px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-14.4338px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-14.4338px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}
.navbar-item:before{
  display: none;
}
.shexTop {
  top: -17.6777px;
}

.shexTop:after {
  background-position: center top;
}

.shexBottom {
  bottom: -17.6777px;
}

.shexBottom:after {
  background-position: center bottom;
}

.smolHex:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 50.0000px;
  height: 28.8675px;
  z-index: 2;
  background: inherit;
}


/*--------------*/


.currencysho img{
  filter:drop-shadow(0 0 2px #0085);
  width: 25px;
}
.curcho_dis{
  display: flex;
    justify-content: space-around;
}
.currencysho{
  display: inline-flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  margin: 4px;

}
.currencysho span{
  color: #fff
}

.crudemenuitem{
  transition: all 500ms ease-out;
  overflow: hidden;
  max-height: 0px;
  padding: 0;
    margin:0;
}

.opencrudes{
  max-height: 250px;
  margin-bottom:10px;
  /* transition: all 200ms ease; */
}
.crudetrig{
  cursor: pointer
}

.header-nav {
  z-index: 900;
  font-family: "Whitney", sans-serif;
  //font-size: 1.3rem;
  //line-height: 1.846;
  padding: 1.6rem 1.8rem 1.4rem 2.4rem;
  height: 100%;
  width: 360px;
  background-image: linear-gradient(141deg, #c51f61 0%, #eb2c58 71%, #f23e4a 100%);
  color: rgba(255, 255, 255, 0.25);
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  visibility: hidden;
}
.header-nav a,
.header-nav a:visited {
  color: rgba(255, 255, 255, 0.5);
}
.header-nav a:hover,
.header-nav a:focus,
.header-nav a:active {
  color: white;
}
.header-nav h3 {
  font-family: "Whitney", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.363;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 1.8rem;
  margin-top: 0rem;
  color: #DA6089;
}
.header-nav p {
  margin-bottom: 2.7rem;
}

.header-nav__content {
  background: #0002;
  padding: 1rem;
  position: relative;
  left: 50px;
  opacity: 0;
  visibility: hidden;
  margin: 1.2rem;
}


.header-nav__list li {
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  line-height: 18px;
  position: relative;
}
.header-nav__list li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.header-nav__list a {
  display: block;
  color: #ffffff;
  position: relative;

}
.header-nav__list a::before {
  content: counter(ctr, decimal-leading-zero) ".";
  counter-increment: ctr;
  font-family: "Whitney", sans-serif; font-weight: 100;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 3px;
  top: 0;
}
.header-nav__list a:hover::before {
  color: #DA6089;
}

.header-nav__social {
  list-style: none;
  display: flex;
  font-size: 24px;
  margin: 0;
  justify-content:space-evenly;

}
.header-nav__social li:hover {
  opacity:1
}
.header-nav__social li {
  display: inline-flex;
  margin-right: 12px;
  padding-left: 0; 
    opacity:.6;
}
.header-nav__social li a {
  color: rgba(255, 255, 255, 0.15);
}
.header-nav__social li a:hover,
.header-nav__social li a:focus {
  color: white;
}
.header-nav__social li:last-child {
  margin: 0;
}

.header-nav__close {
  z-index: 800;
  display: block;
  background-color: #F15;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  font: 0/0 a;
  text-shadow: none;
  box-shadow: 0 0 10px #0001;
  color: transparent;
}
.header-nav__close:hover{
  background-color: #D24;
  text-shadow: 0 0 2px #FFF;
}
.header-nav__close span::before,
.header-nav__close span::after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -1px;
}
.header-nav__close span::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header-nav__close span::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
