 #vodparent video {
   position: fixed;
   right: 0;
   bottom: 0;
  min-width: 100%; 
  min-height: 100%; 
 }
 
 body {
   background-color: #0E1324 !important; 
 } 
  
 h1.is-ultra {  
   font-size: 15rem;
   text-shadow: 1px 3px 3px #0005;
   filter: drop-shadow(-1px 2px 30px #0005);
   z-index: 10;
 } 
h1,h2{  
   pointer-events: none; 
}
 
#screen1 .ttl,#screen1 .sttl{
  text-align: left;  
  margin:-10px;
  padding: 0;
  
}
 .nex {  
   font-size: 4rem; 
   color: white;
   opacity: .4; 
   width: 100vw;
   margin: auto;
   display: block;
   text-align: center;
   position: absolute;
   z-index: 8;
   bottom: 2%;
   filter: drop-shadow(0 0 3px #FFF8);
   // border:solid 2px;
 }
 
 .nex:hover {
   opacity: 8;
   filter: drop-shadow(0 0 25px #E3Af);
   color: white;
 }
 
 .seminavigation {
   //background: red;
   position: fixed;
   z-index: 10;
   display: flex;
   flex-direction: column;
   height: 40vh;
   width: 50px;
   top: 25vh;
   right: 15px;
 }
 
 .seminavigation .semi {
   background: #F65375;
   color:white;
   box-shadow: 0 0 5px #0028;
   height: 50px;
   border-radius: 100%;
   margin-top: .2em;  
   font-size: 26px;
   line-height: 0px;
   padding: 12px 5px 5px 5px;
   text-align: center;
   position: relative;
   transition: transform 100ms ease;
 }
.semi path{
  transform-origin: center;
}
 
 .selet {
   transform: translateX(-10px);
 }
 
 .semi:hover,
 {
   transition: transform 100ms ease;
   transform: translateX(-8px);
 }
 
 .seminavigation .semi span {
   font-size: 12px
 }
 
 .polluxi1 {
   position: absolute;
   width: 60vw;
   height: 180vh;
   background: url('/images/polluxx2-no-event-min.png') no-repeat;
   background-size: contain;
   //background-color: green;
   z-index: 1;
   right: -15vw;
   margin-top: -20px;
   //transition:all 300ms cubic-bezier(.5, -0.46, .26, 1.39);
   pointer-events: none;
   animation: slideR 1.2s both;
   animation-delay: 1s;
   //border:solid 2px;
 }
 
 .screen {
   //background: blue;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 32px;
   position: relative;
   //border:solid 2px;
 }
 
 .hexes {
   position: relative;
   //background: #223A;
   width: 60vw;
   height: 70vh;
   margin: 0vh 20px 5vh 20px;
   border-radius: 12px;

 }
 
 .hex1 {
   opacity: 0;
   animation: xh1 .65s both;
 }
 
 .hex2 {
   opacity: 0;
   animation: xh2 .65s both;
 }
 
 .hex3 {
   opacity: 0;
   animation: xh3 .65s both;
 }
 
 .hex4 {
   opacity: 0;
   animation: xh4 .65s both;
 }
 
 .hex5 {
   opacity: 0;
   animation: xh5 .65s both;
 }
 
 .hex {
   animation-delay: 400ms;
   //background-image: url('/build/profile/donortiers/carbon.png');
   background-size: contain;
   height: 350px;
   width: 350px;
   //background-color: #fff2;
   position: absolute;
   border-radius: 100%;
   animation-timing-function: cubic-bezier(.54, .48, .07, 1.03);
 }
@media screen and (max-height:768px){
  .hex{
   height: 260px;
   width: 260px;
  }
}
 
 @keyframes xh1 {
   from {
     transform: translateX(-10vw) translateY(-10vh);
     opacity: 0;
   }
   to {
     opacity: 1;
     transform: translate(0, 0);
   }
 }
 
 @keyframes xh2 {
   from {
     transform: translateX(20vw) translateY(-15vh);
     opacity: 0;
   }
   to {
     opacity: 1;
     transform: translate(20vw, 0);
   }
 }
 
 @keyframes xh3 {
   from {
     transform: translateX(45vw) translateY(-10vh);
     opacity: 0;
   }
   to {
     opacity: 1;
     transform: translate(40vw, 0);
   }
 }
 
 @keyframes xh4 {
   from {
     transform: translateX(5vw) translateY(40vh);
     opacity: 0;
   }
   to {
     /*! opacity: 1; */
     transform: translate(10vw, 31vh);
   }
 }
 
 @keyframes xh5 {
   from {
     transform: translateX(35vw) translateY(40vh);
     opacity: 0;
   }
   to {
     opacity: 1;
     transform: translate(30vw, 31vh);
   }
 }
 
 .introFloat {
   height: 100%;
   max-width: none;
   opacity: .9 filter: brightness(0.8)
 }
 
 .slideL-1s {
   animation: slideL .5s both;
   animation-delay: .8s;
 }
 
 .slideL-500ms {
   animation: slideL 1s both;
   animation-delay: .5s;
 }
 
 @keyframes slideR {
   0% {
     opacity: 0;
     transform: translateX(100px)
   }
   100% {
     opacity: 1;
     transform: translateX(0)
   }
 }
 
 @keyframes slideL {
   0% {
     opacity: 0;
     transform: translateX(-10px)
   }
   100% {
     opacity: 1;
     transform: translateX(0)
   }
 }
 
 .fade {
   opacity: 0;
   transition: opacity .15s linear
 }
 
 .fade.show {
   opacity: 1
 }
 
 .collapse {
   display: none
 }
 
 .collapse.show {
   display: block
 }
 
 tr.collapse.show {
   display: table-row
 }
 
 tbody.collapse.show {
   display: table-row-group
 }
 
 .collapsing {
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease
 }
 
 #screen1:before {
   background: #1b1b20;
   content: " ";
   display: block;
   position: absolute;
   bottom: -10%;
   left: 0;
   width: 100%;
   height: 100%;
   transform: skewY(-6deg) !important;
   z-index: 0;
 }
 
 #screen1:after {
   background: #1b1b20;
   content: " ";
   display: block !important;
   opacity: 1 !important;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 0;
   visibility: visible !important;
 }
 
 #screen2,#screen3,#screen4 {
   z-index: 2;
   height: 100%;
 }
#screen2 .hider{

}
 #screen2:before {
   background: #ed6594;
   content: " ";
   display: block;
   position: absolute;
   bottom: -22%;
   left: 0;
   width: 100%;
   height: 120%;
   transform: skewY(-4deg) !important;
 }
.ttl,.sttl{
color:white;
  text-align: right;
  margin: 0 60px 0 0;
  text-shadow: 0px .5px 2px #0005;
}
 .ttl{
  font-size: 32pt;
  font-weight: 600
}
.sttl{
    font-size: 20pt;
}
.nex{
  position: absolute !important;
  bottom:0 !important;
}
 #screen3:before {
   background: #2b2b3b;
   content: " ";
   display: block;
   position: absolute;

   left: 0;
   width: 100%;
   height: 120%;
   transform: skewY(-4deg) !important;
 }
#faq-list{
  margin: 100px 30px;
  max-width: 60vw; 
  font-size: 1.3rem;
}
#faq-list li a:before{
content:'\f059\2002';
  color:#FBD;
  font-family: "Font Awesome 5 Free";
}
#faq-list li p{
  margin:10px;
  padding-top:10px; 
  border-top:dashed 1px #aaa5
}
#faq-list li p:before{
  color:#AFB;
content:'\f058\2002';
  font-family: "Font Awesome 5 Free";
}

#faq-list li{
  border: solid 1px #aaa2;
  background: #1a1a2a;
  padding: 8px;
  border-radius: 4px;
  margin:4px 2px
}

  #screen3{
    height: auto ;
  }

@media screen and (max-width:760px){
  .ttl,.sttl{
color:white;
  text-align: right;
  margin:0px 0 10px 0;
}
 .ttl{
  font-size: 1.2rem;
   margin:20px 0 0 0;
  font-weight: 600
}
   #faq-list{
  margin: 0px 20px 0 -20px;
  max-width: 850px 
}
  #screen3{
    height: auto !important;
  }
  #screen3:before{
    height: 110%;
    bottom:-10%;
  }
  .nex{ 
display:none;
}
  .seminavigation{
    position: absolute;
    bottom:50px;
    top:auto;
  }
  
  .hexes{
    margin:0;
    padding: 0;
    width: 100%;

  }
  #screen1{
    display: none;
  }

  .is-ultra{
    bottom:110px;
    position:absolute;
    font-size: 5rem !important;
    animation:slideL 1s both ease;
    text-shadow: 0 0 5px #000D;
    z-index:2;
    filter:drop-shadow(0 0 3px 3px #000)
  }
  h2.subtitle {
    bottom:90px;
    position:absolute;
    background:black;
    width: auto;
    padding: 2px 8px;
   font-size: 1rem !important;
    animation:slideL 1s both ease;
    text-shadow: 0 0 5px #000D;
    filter:drop-shadow(0 0 2px 3px #000);
    z-index:2
  }
  #screen0{
    background: linear-gradient(#001A 0% , #0020 50%)
  }
  #vodparent {
    position: fixed;
    top: 11px;
    right: 10px;
    left: 10px;
    height: 100%;
    display: block;
  }  
  video{
    transform: scale(3)
  }
   .polluxi2 {
   position: fixed;
   width: 150vw;
   height: 200vh;
   background: url('/images/polluxx2-no-event-min.png') no-repeat;
   background-size: contain;
   //background-color: green;
   z-index: 1;
   right: -45vw;
   margin-top: -20px;
   //transition:all 300ms cubic-bezier(.5, -0.46, .26, 1.39);
   pointer-events: none;
   animation: slideR 1.2s both;
   animation-delay: 1s;
   //border:solid 2px;
 }
  .seminavigation{
    height: auto;
       width: 45px;
    right: 5px
  }
   .seminavigation .semi{
       height: 45px;
   font-size: 24px;
     margin-top: 9px;
   padding: 11px 5px 5px 5px;
     
  }

}

#screen3 .foo{
  height: 100%;
}
#screen4{
background:red;
}

