 @import url('https://fonts.googleapis.com/css?family=PT+Serif:400i&subset=cyrillic,cyrillic-ext,latin-ext');
    .bf{
      position:fixed;
      top:50px;
      left:0;
      z-index: 0;
      width:100%;
    }
    .bf img {
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      filter:blur(5px);
      width:100%;
      opacity:0.8
    }
    @media screen and (max-width:720px){
    .section{
      background:none;
    }
    .bf img {
      filter:blur(.1px);
      opacity:1
    }
    }
    .navbar-item .title,.navbar-item, .navbar-link,.navbar-link .is-active,.x{
      //color:#{invertcolor} !important;
    }
    #login .navbar-item:not(:hover) {
      color:black !important;
    }
    .bgpick{
      width:200px;

    }
    .bgpick.stickpick{
      width:120px;
    }
   .message .equipped{
     border: solid 2px #e84389;
      border-radius: 12px;
      width: 80px;
      height: 80px;
      padding: 10px;
    }
    #flair img{
      width:40px
    }
    .flairpick{
     
      width:80px;
    }
    


  .bgpick{
    width:200px;

  }
  .bgpick.stickpick{
    width:120px;
    }
    .publi{
      position: fixed;
      z-index:50;
      margin: 10px;
      padding: 5px 15px;
      text-align:center;
      width:50%
    }

  @media screen and (max-width:720px){
  .section{
    background:none;
  }
  .bf img {
    filter:blur(.1px);
    opacity:1
  }
     .publi{
      width:auto;
      max-width:100%;
      margin:10px;
      padding:5px 30px 5px 10px;
     }
  }


.achievement{
  width:50px
}