.plx-modal-dialog.plx-margin-auto-vertical
    button.plx-modal-close-default(type='button', plx-close)
    .plx-modal-header
        h2.plx-modal-title Modal Title
    .plx-modal-body
        p
        | {{JSON.stringify(currentModalItem)}}
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .plx-modal-footer.plx-text-right
        button.plx-button.plx-button-default.plx-modal-close(type='button') Cancel
        button.plx-button.plx-button-primary(type='button') Save
        button.plx-button.plx-button-primary(type='button') Save