# GitHub Package Registry for @polestarlabs
@polestarlabs:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
# uncomment the above line to use GH_TOKEN on local deploys

